.spinner__btn_up {
  border-top-right-radius: 3px;
  border-bottom-width: 0 !important;
}

.spinner__btn {
  position: absolute;
  right: 10px;
  width: 24px;
  height: 20px;
  background: #fff;
  border: solid 1px #d2d2d2;
  font-family: retinaicon-font!important;
  font-size: 10px;
}

.spinner__btn_down {
  border-bottom-right-radius: 3px;
  bottom: 0;
}

.spinner__unit {
  right: 45px !important;
}