//@import "../layout/layout";
//
//.proposal-input {
//  display: flex;
//  align-items: center;
//  width: 620px;
//
//  .proposal-input__input {
//    flex-grow: 4;
//  }
//
//  .proposal-input__input:focus {
//
//  }
//
//  &__label {
//    flex-grow: 3;
//    margin-right: 20px;
//  }
//}
//
//.proposal-input_unit {
//  &__unit {
//
//  }
//}
//
//@media (min-width: 320px) {
//  .proposal-input {
//    .proposal-input__input {
//    }
//
//    &__label {
//
//    }
//  }
//}
//
//@media (min-width: 375px) {
//  .proposal-input {
//
//  }
//}
//
//@media (min-width: 425px) {
//  .proposal-input {
//
//  }
//}
//
//@media (min-width: 768px) {
//  .proposal-input {
//
//  }
//
//  .proposal-input_coefficient {
//    .proposal-input__input {
//
//    }
//
//    .proposal-input_unit__unit {
//
//    }
//  }
//}
//
//@media (min-width: 1024px) {
//  .proposal-input {
//
//
//    .proposal-input__input {
//
//    }
//
//    &__label {
//
//    }
//  }
//
//  .proposal-input_coefficient {
//    .proposal-input__input {
//
//    }
//  }
//
//  .proposal-input_unit__unit {
//
//  }
//}