@import "../varibles/varibles";

.proposal-input {
  display: block;
  float: left;
  width: @label-width;
  position: relative;
  padding: 10px 0;

  .proposal-input__input { //@TODO bootstrap rewrite
    padding: 0 9px;
    height: 40px;
    box-shadow: none;
    line-height: 0;
    width: 100%;
    float: left;
    margin: 0 !important;
    box-sizing: border-box;

    &:read-only, &:disabled {
      background: #f0f0f0!important;
    }
  }

  .proposal-input__input:focus { //@TODO bootstrap rewrite
    box-shadow: none;
  }

  &__label {
    width: 100%;
    float: left;
    padding: 10px 0 0 0 !important;
    margin: 0 20px 0 0;
  }

  .form-horizontal &_hidden {
    display: none;
  }
}

.proposal-input_unit {
  &__unit {
    float: left;
    position: absolute;
    top: 60px;
    right: 15px;
    content: "м";
    display: block;
    width: auto;
    height: auto;
    font-style: normal;

    span {
      float: left;
    }
  }
}

@media (min-width: 375px) {
  .proposal-input {
    width: 290px;
  }
}

@media (min-width: 425px) {
  .proposal-input {
    width: 340px;
  }
}

@media (min-width: 768px) {
  .proposal-input {
    width: 680px;
  }

  .proposal-input_coefficient {
    .proposal-input__input {
      width: 505px;
    }

    .proposal-input_unit__unit {
      right: 185px;
    }
  }
}

@media (min-width: 1024px) {
  .proposal-input {
    width: 100%;

    .proposal-input__input {
      width: ~'calc(100% - 250px)';
    }

    &__label {
      width: @label-width; //@TODO Must be percent
      text-align: right;
    }
  }

  .proposal-input_coefficient {
    .proposal-input__input {
      width: ~'calc(100% - 420px)';
    }
  }

  .proposal-input_unit__unit {
    top: 20px;
    right: 15px;
  }
}