@font-face{font-family:'MyriadPro-Light';src:url("../fonts/MyriadPro-Light.eot?#iefix") format("embedded-opentype"),url("../fonts/MyriadPro-Light.woff") format("woff"),url("../fonts/MyriadPro-Light.ttf") format("truetype"),url("../fonts/MyriadPro-Light.svg#svgFontName") format("svg")}@font-face{font-family:'MyriadPro-LightIt';src:url("../fonts/MyriadPro-LightIt.eot");src:url("../fonts/MyriadPro-LightIt.eot") format("embedded-opentype"),url("../fonts/MyriadPro-LightIt.woff2") format("woff2"),url("../fonts/MyriadPro-LightIt.woff") format("woff"),url("../fonts/MyriadPro-LightIt.ttf") format("truetype"),url("../fonts/MyriadPro-LightIt.svg#MyriadProLightIt") format("svg")}
/*# sourceMappingURL=font-for-ie.css.map */
