[data-tooltip-target]{padding:20px;width:300px;background:#d8edc2}[data-tooltip-target]:before{content:'';position:absolute;background:url("../img/tooltip/tooltip-caret.png");width:8px;height:16px;left:-8px;top:12px}.tooltip-arrow-top[data-tooltip-target]:before{background:url("../img/tooltip/tooltip-caret-top.png");width:16px;height:8px;left:20px;top:-8px}.tooltip-arrow-top-right[data-tooltip-target]:before{background:url("../img/tooltip/tooltip-caret-top.png");width:16px;height:8px;left:264px;top:-8px}
/*# sourceMappingURL=input-tooltip.css.map */
