/* li */

.b-items {
	width: 100%;
}

.b-items__items-col {
	font-size: 16px;
}

.b-items__items-col:first-child {
	margin-left: 0
}

.b-items__items-col .b-items__item-offset-head:first-child {
	margin-top: 0
}
.b-alphabet-cols {
    margin-top: 10px;
}
.b-items__item-offset {
	padding-left: 10px;
	position: relative;
	line-height: 24px;
	letter-spacing: normal;
}

.b-items__item-offset-head {
	margin-top: 16px;
}

.b-items__item-offset-head--first {
	margin-top: 0;
}
.b-items__item-offset--dot:before {
	display: block;
	content: '';
	position: absolute;
	left: 1px;
	top: 10px;
	background: #d97908;
	width: 5px;
	height: 5px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-web-kit-border-radius: 2px;
	-o-border-radius: 2px;
}
