.tooltipster-base {
  background: #5B5A60;
  position: absolute;
  border-radius: 3px;
  color: #fff;
  max-width: 300px;
  min-width: 200px;
  line-height: 18px;
  margin-top: -3px;

  .close {
    font-weight: normal;
    text-shadow: none;
    line-height: 18px;
  }
  .close:hover {
    color: #FFFFFF;
    opacity: 1;
    font-weight: normal;
    text-shadow: none;
    line-height: 18px;
  }
}

.tooltip-wrap .header {
  font-family: MyriadPro-Semibold;
  padding-bottom: 13px;
}

.tooltip-wrap {
  padding: 16px 20px;
}

.tooltip-wrap .close {
  font-family: "retinaicon-font" !important;
  color: #fff;
  font-size: 14px;
  margin-left: 15px;
}

.tooltipster-base:after, .tooltipster-base:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.tooltipster-base:after {
  border-color: rgba(0,0,0,0);
  border-bottom-color: #5B5A60;
  border-width: 6px;
  margin-left: 0px;
  position: absolute;
  top: -12px;
  z-index: 1;
  margin-left: -6px;
}
.tooltipster-base:before {
  border-color: rgba(0,0,0,0);
  border-bottom-color: #5B5A60;
  border-width: 7px;
  position: absolute;
  top: -14px;
  z-index: 1;
  margin-left: -7px;
}

.tooltipster-base:after {
  border-color: rgba(0,0,0,0);
  border-bottom-color: #5B5A60;
  border-width: 6px;
  margin-left: 0px;
  position: absolute;
  top: -12px;
  z-index: 1;
  margin-left: -6px;
}
.tooltipster-base:before {
  border-color: rgba(0,0,0,0);
  border-bottom-color: #5B5A60;
  border-width: 7px;
  position: absolute;
  top: -14px;
  z-index: 1;
  margin-left: -7px;
}

.tooltipster {
  float: left;
  font-family: "retinaicon-font" !important;
  color: #afafaf;
  margin: 1px 0 0 10px;
  display: inline-block;
  cursor: pointer;
  width: 17px;
  height: 17px;
  position: relative;
  font-size: 16px !important;
  line-height: 20px;
}

h2 {
  .tooltipster {
    margin-top: 3px;
  }
}

.tooltipster:hover {
  color: #43ade3;
}

.checkboxes {
  .tooltipster {
    margin: 6px 0 0 10px;
  }
}

.p-tooltip {
  background: #d8edc2;
  top: 3px;
  border-radius: 3px;
  padding: 20px 16px;

  &__header {
    text-transform: uppercase;
    font-family: MyriadPro-Semibold;
  }

  &:before {
    content: '';
    position: absolute;
    background: url("/static/frontend/tooltip-caret.png");
    width: 8px;
    height: 16px;
    left: -8px;
    top: 12px;
  }
}

tbl {
  tooltip {
    float: left;
    padding-top: 3px;
  }
}