.multi-drop-down-list {
	margin: 0;
	padding: 0;
}

.multi-drop-down-list .drop-button {
	padding: 14px 0 14px 20px;
	margin: 0 !important;
	cursor: pointer;
	position: relative;
	border: 1px solid #ababab;
}

.multi-drop-down-list .drop-button {
	background-color: #cccccc;
}

.multi-drop-down-list.active .drop-button {
	background-color: #f0f0f0;
}

.multi-drop-down-list .drop-button:before {
	display: block;
	content: '\A0';
	position: absolute;
	top: 15%;
	right: 36px;
	width: 0;
	height: 70%;
	overflow: hidden;
	border-left: 1px solid #666;
}

.multi-drop-down-list .drop-button:after {
	display: block;
	content: '\A0';
	position: absolute;
	top: 22px;
	right: 14px;
	width: 0;
	height: 0;
	overflow: hidden;
	border-top: 5px solid #666666;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

.multi-drop-down-list .auto-complete-arrow {
	position: absolute;
	top: 14px;
	right: 12px;
	width: 0;
	height: 0;
	overflow: hidden;
	border-top: 5px solid #666666;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

.multi-drop-down-list .drop-box {
	position: absolute;
	display: none;
	margin: 0;
	padding: 0;
	z-index: 999;
	max-height: 300px;
	overflow: auto;
}

.multi-drop-down-list .drop-box label.drop-item {
	font-size: 16px !important;
	position: relative;
	display: block;
	margin: 0;
	padding: 12px 0 12px 11px;
	border-top: 1px solid #ffffff;
	cursor: pointer;
}

.multi-drop-down-list .drop-box .drop-item.even {
	background-color: #e6e6e6;
}

.multi-drop-down-list .drop-box .drop-item.even:hover {
	background-color: #f0f0f0;
}

.multi-drop-down-list .drop-box .drop-item.odd {
	background-color: #cccccc;
}

.multi-drop-down-list .drop-box .drop-item.odd:hover {
	background-color: #d7d7d7;
}

.multi-drop-down-list .drop-box .drop-item input {
	margin: 0 10px 0 0;
}
