.tabs {
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  float: left;
  width: 100%;

  &__tab {
    float: left;
    line-height: 16px;
    cursor: pointer;
    top: 1px;
    position: relative;

    &_active {
      cursor: default;
      border: solid 1px #ddd;
      border-bottom: solid 1px #fff;
    }
  }

  a {
    display: block;
    padding: 12px 29px 11px 29px;

    &:hover {
      display: block !important;
      text-decoration: none;
    }
  }
}

.tabs__counter {
  display: inline-block;
  margin-left: 10px;
  background: #f76b4a;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  padding: 2px 6px 0 5px;
}