html, body {
    height: 100%;
}

.container-fluid {
    height: calc(100% - 50px);
    position: relative;
}

.nav-list__side-left {
    height: calc(100% - 50px) !important;
}

.gantt_task_content {
    cursor: pointer;
}


.dhx_cal_navline {
    position: relative;
    height: 59px;
    left: 0;
    top: 0;
}

.dhx_cal_navline .dhx_cal_tab {
    color: #5780AD;
    font-size: 13px;
    font-weight: bolder;
    padding-top: 0;
    text-decoration: none;
    width: 60px;
    position: absolute;
    font-family: "Segoe UI", Arial;
    top: 14px;
    white-space: nowrap;
    border-radius: 0;
    border: none;
    height: 30px;
    line-height: 30px;
    background: 0 0;
    text-align: center;
    cursor: pointer;
}

.dhx_cal_navline .dhx_cal_tab.year {
    width: 70px;
}

.dhx_cal_navline .dhx_cal_tab:hover {
    text-decoration: underline;
}

.dhx_cal_navline .dhx_cal_tab.active {
    background-color: #5780AD;
    border: none;
    color: #FFF;
    font-weight: lighter;
    text-decoration: none;
    cursor: default;
}

.dhx_cal_navline .dhx_cal_tab input[type=radio] {
    display: none;
}



.calendar-buttons {
    height: 40px;
}

.calendar-buttons .b-button {
    text-decoration: none;
    text-align: center;
    height: 40px;
    float: left;
    margin: 0;
}

.calendar-buttons .calendar-button {
    border: 1px solid #d1d1d1;
    border-left: none;
    margin-left: 0;
    color: #505055;
}

.calendar-buttons .gantt-button {
    margin-right: 0;
    cursor: default;
}

.calendar-buttons .b-button-icon {
    margin-right: 10px;
}

.calendar-buttons .create-button {
    width: 140px;
    margin-right: 40px;
    text-align: center;
}

.calendar-buttons .create-button:hover {
    text-decoration: none;
}

.calendar-buttons .create-button:before {
    display: block;
    font-size: 24px;
    height: 30px;
    width: 40px;
    position: absolute;
    right: 10px;
    top: 0;
    padding-top: 10px;
    background: #8cc152;
}


.calendar-buttons .update-button {
    width: 140px;
    margin-right: 50px;
    text-align: center;
    position: relative;
}

.calendar-buttons .update-button:hover {
    text-decoration: none;
}

.calendar-buttons .update-button:before {
    display: block;
    font-size: 24px;
    height: 30px;
    width: 40px;
    position: absolute;
    right: -40px;
    top: 0;
    padding-top: 10px;
    background: #2b98d5;
}

.gantt_marker .gantt_marker_content {
    padding: 2px 5px;
    bottom: 0;
    left: 2px;
}

.gantt_add,
.gantt_grid_head_add {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAJElEQVR42mNgoBXo2R/0HxmPGkDAAHTFxOLhZMBoOqCRAcQCAMmU+oEi72HWAAAAAElFTkSuQmCC');
}

.gantt_task_drag.task_right {
    cursor: w-resize;
}

.gantt_task_drag.task_left {
    cursor: e-resize;
}

.gantt_task_progress_drag {
    cursor: move;
}

.gantt_tree_content {
    cursor: default;
}

/*
.gantt_task_line:hover .gantt_link_control div {
    display: none;
}
*/
.gantt_task_progress_drag {
    display: none !important;
}

.ms-options-wrap,
.ms-options-wrap * {
    box-sizing: border-box;
}

.ms-options-wrap:focus,
.ms-options-wrap {
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    white-space: nowrap;
    color: #515056;
    background-color: #efefef;
    padding: 0 10px;
    margin: 0;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    letter-spacing: 0;
}

.ms-options-wrap:hover {
    color: #515056;
    background: #e0e0e0;
}

.ms-options-wrap:after {
    content: '';
    display: block;
    position: absolute;
    top: 43%;
    right: 15px;
    width: 9px;
    height: 6px;
    overflow: hidden;
    background: url('../../img/dropdown/caret-black.png') no-repeat;
}

.ms-options-wrap > button {
    overflow: hidden;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    white-space: nowrap;
    color: #515056;
    background-color: inherit;
    margin: 0;
    padding: 10px 0;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    letter-spacing: 0;
}

.ms-options-wrap > .ms-options {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 20px;
    background: white;
    z-index: 2000;
    border: 1px solid #aaa;
    min-height: 1px !important;
    max-height: 200px;
}

.ms-options-wrap > .ms-options:before {
    /*
    display: block;
    position: absolute;
    left: 17px;
    top: 43px;
    overflow: auto;
    content: '';
    z-index: 2;
    background: url('http://orgplan/assets/cecb2559/img/dropdown/mark.png');
    width: 14px;
    height: 8px;
    */
}

.ms-options-wrap > .ms-options > .ms-search {
    padding: 10px 10px 0;
    position: relative;
}

.ms-options-wrap > .ms-options > .ms-search:before {
    content: '';
    display: block;
    position: absolute;
    top: 19px;
    left: 18px;
    width: 21px;
    height: 21px;
    background: url('../../img/sprites/icon-sprites-white-21px.png') 0 -148px no-repeat;
}

.ms-options-wrap > .ms-options > .ms-search input {
    width: 100%;
    border: none;
    border-radius: 0;
    -o-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    line-height: 22px;
    box-shadow: none;
    font-size: 16px;
    color: #505055;
    display: block;
    height: 40px;
    padding-left: 40px;
    background: #e0e0e0;
    margin: 0;
}

.ms-options-wrap > .ms-options > .ms-search input::-webkit-input-placeholder {
    line-height: 25px;
    font-size: 14px;
    color: #afafaf;
}

.ms-options-wrap > .ms-options > .ms-search input::-moz-placeholder {
    line-height: 25px;
    font-size: 14px;
    color: #afafaf;
}

.ms-options-wrap > .ms-options .ms-selectall {
    display: inline-block;
    font-size: .9em;
    text-transform: lowercase;
    text-decoration: none;
}
.ms-options-wrap > .ms-options .ms-selectall:hover {
    text-decoration: underline;
}

.ms-options-wrap > .ms-options > .ms-selectall.global {
    margin: 4px 5px;
}

.ms-options-wrap > .ms-options > ul {
    margin: 0;
    padding: 10px;
    list-style-type: none;
}

.ms-options-wrap > .ms-options > ul > li.optgroup {
    padding: 5px;
}
.ms-options-wrap > .ms-options > ul > li.optgroup + li.optgroup {
    border-top: 1px solid #aaa;
}

.ms-options-wrap > .ms-options > ul > li.optgroup .label {
    display: block;
    padding: 5px 0 0 0;
    font-weight: bold;
}

.ms-options-wrap > .ms-options > ul label {
    line-height: 18px;
    font-size: 16px;
    position: relative;
    display: block;
    margin: 0;
    padding: 3px 0 3px 15px;
    cursor: pointer;
    color: #515056;
    text-align: left;
}

.ms-options-wrap > .ms-options > ul li.selected label,
.ms-options-wrap > .ms-options > ul label:hover {
    color: #515056;
    background: #efefef;
}

.ms-options-wrap > .ms-options > ul input[type="checkbox"] {
    margin-right: 5px;
    position: absolute;
    left: 4px;
    top: 7px;
}


.task-label {
    margin: 0;
}

.task-input {
    width: 100%;
    margin: 0 !important;
    background: #efefef;
}


.period_picker_input {
    width: 59% !important;
}

.period_picker_input,
.period_picker_input:before {
    width: 100%;
    text-align: left;
    outline: none;
    white-space: nowrap;
    color: #515056;
    background-color: #efefef;
    margin: 0;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    letter-spacing: 0;
    border: none;
    border-radius: 0;
    -o-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    padding: 9px;
    height: 40px;
    line-height: 22px;
    box-shadow: none;
    font-family: MyriadPro-Light;
}

.period_picker_input:hover {
    color: #515056;
    background: #e0e0e0;
}

.period_picker_input:before {
    display: none;
}

.period_picker_input .icon_calendar {
    display: none;
}

.period_picker_input .period_button_text {
    padding: 0;
}

.icon_clear {
    margin-top: 3px;
    float: right;
}
#date {
    width: 59%;
}
#duration {
    float: right;
    width: 39%;
}

.modal--sign-up .modal-body {
    max-height: none;
}

.color-label {
    float: left;
    margin-right: 10px;
    width: 18px;
    height: 18px;
}

.control-group.error input, .control-group.error .period_picker_input {
    background: #fbc2b6 !important;
    box-shadow: none;
}

#modal-user-task .control-group>label {
    display: inline-block;
}

.icon--white-close {
    width: 21px;
    height: 22px;
    background: url("../../img/sprites/icon-close.png") 0 0 no-repeat !important;
}