.period_picker_box .period_picker_days table table td.period_picker_gray_period, .period_picker_box .period_picker_days table table td.period_picker_gray_period:hover {
  color: #DEDEDE !important;
}

.date-picker {
  .date-picker__addon {
    position: absolute;
    right: 0;
    top: 10px;
    width: 40px;
    height: 40px;
    margin: 0;
    box-sizing: border-box;
    padding: 12px 0 0 9px;
    background: #43ADE1;
    border-radius: 3px;
    color: #fff;
  }
}