.pie-small{
    display:inline-block;
    text-align:center;
    width: 120px;
    height:190px;
    color:#505055;
}
.pie-small .pie-header{
    font-size:16px;
    padding-bottom:13px;
    line-height: 16px;
    height:48px;
}
.pie-small .pie-header div{
    /*width:150px;*/
}
.pie-small .pie-value{
    position:absolute;
    text-align:center;
    width:100%;
    margin-top: 15px;
}
.pie-small .inner-value{
    display:inline-block;
    line-height:12px;
    font-size:24px;
    text-align: center;
    margin-top: 11px;
}
.pie-small .inner-value div{
    color:#505055;
    display:inline-block;
    font-size:12px;
    margin-top: 2px;
}
.pie-small .pie-label-digit{
    font-size:24px;
    margin-top:14px;
}
.pie-small .pie-label-name{
    font-size:16px;
    margin-top: 0px;
}
.pie-big{
    display:inline-block;
    text-align:center;
    height:260px;
    width:220px;
    margin: 20px 0px 20px 0px;
    color:#505055;
}
.pie-big .pie-header{
    font-size:16px;
    padding-bottom:13px;
    line-height: 16px;
    height:48px;
}
.pie-big .pie-header div{
    /*width:150px;*/
}
.pie-big .pie-value{
    position:absolute;
    text-align:center;
    width:100%;
    margin-top: 15px;
    margin-left: 2px;
}
.pie-big .inner-value{
    display:inline-block;
    line-height:0px;
    font-size:30px;
    margin-top: 40px;
}
.pie-big .inner-value div{
    padding-top:13px;
    color:#505055;
    line-height:16px;
    display:inline-block;
    font-size:16px;
    margin-left: 0px;
}
.pie-big .pie-label-digit{
    font-size:30px;
    margin-top:14px;
}
.pie-big .pie-label-name{
    font-size:16px;
    margin-top:4px;
}

.grid-view .pie-big .pie-header table tr td,.grid-view .pie-small .pie-header table tr td{
    padding:0px;
    text-align:center;
    border:none;
}
.easy-pie-chart{
    margin-top:14px;
}
.pie-small .inner-value div.lock{
    display:inline;
    font-size: 24px;
    line-height: 6px;
}
.pie-big .inner-value div.lock{
    display:inline;
    font-size: 30px;
    line-height: 6px;
}