/** Generel Styles **/
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #D2D8DB;
  font-size: 0.75em;
  font-family: Arial, Helvetica, sans-serif;
  color: #494949;
}
a {
  color: #435E76;
  text-decoration: none;
}
a:hover {
  color: #FF0000;
}
a img {
  border: 0;
}
.bold {
  font-weight: bold;
}
.em75 {
  font-size: 0.75em;
}
.special {
  background: transparent url('/gif/csspix/listpoint.gif') no-repeat left center;
  padding-left: 12px;
}
/** Generel Styles - Headlines **/
.headline_18px_norm h1 {
  font-size: 18px;
  font-weight: normal;
}
.headline_12px h2 {
  font-size: 12px;
}
/** Banner Styles **/
#adBannerSuperbanner {
  width: 944px;
  margin-top: 15px;
  margin-bottom: 15px;
}
#halfsize {
  margin-left: 181px;
}
#fullsize {
  margin-left: 10px;
}
#adBannerRight {
  width: 200px;
  height: 600px;
  position: absolute;
  top: 92px;
  left: 947px;
}
/** TOP-Navigation with Tabs **/
#toptabs {
  width: 944px;
  height: 71px;
  padding-top: 7px;
  background: transparent url(/gif/csspix/background_toptabs.png) no-repeat right top;
}
#toptabs_logo {
  width: 143px;
  padding-left: 37px;
  float: left;
  height: 72px;
}
#toptabs_tabs {
  float: left;
  width: 759px;
  margin-right: 4px;
  height: 32px;
  margin-top: 39px;
  position: absolute;
  left: 180px;
}
* + html #toptabs_tabs {
  margin-top: 40px;
}
#toptabs_tabs ul {
  list-style: none;
  white-space: nowrap;
}
#toptabs li {
  float: left;
  margin: 0 3px 0 0;
  background: transparent url('/gif/csspix/toptabs_right.png') no-repeat right top;
}
#toptabs .tab_active {
  float: left;
  margin: 0 3px 0 0;
  background: transparent url('/gif/csspix/toptabs_right_active.png') no-repeat right top;
}
#toptabs li a {
  background: transparent url('/gif/csspix/toptabs_left.png') no-repeat left top;
  padding: 3px 13px 9px 13px;
  display: block;
}
#toptabs .tab_active a {
  background: transparent url('/gif/csspix/toptabs_left_active.png') no-repeat left top;
  padding: 3px 13px 10px 13px;
  color: #FF0000;
  display: block;
}
.toptabs_list {
  font-weight: bold;
  font-size: 16px;
}
#toptabs_language {
  height: 14px;
  font-size: 9px;
  color: #6285A5;
  float: right;
  margin-right: 13px;
  padding-top: 2px;
}
#toptabs_language_english a {
  background: #ffffff url('/gif/csspix/flag_english.png') no-repeat right top;
  padding-right: 26px;
  height: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
}
#toptabs_language_germany a {
  background: #ffffff url('/gif/csspix/flag_germany.png') no-repeat right top;
  padding-right: 26px;
  height: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
}
/** Content-/Header **/
#pageMargins {
  width: 944px;
  background: transparent url(/gif/csspix/background_pagemargins.png) repeat-y right top;
}
#page {
  border-top: 1px solid #A7BCC7;
  margin-right: 4px;
}
/** main navigation **/
#navMain {
  background-color: #D1E2ED;
  height: 26px;
}
#navMain ul {
  list-style: none;
  white-space: nowrap;
}
#navMain li {
  float: left;
  padding: 6px 0 0 0;
  position: relative;
  z-index: 100;
}
#navMain a {
  padding-right: 14px;
  padding-left: 14px;
  border-right: 1px dotted gray;
  display: block;
}
#navMain .active a {
  color: #FF0000;
}
#navMain .last a {
  border-right: 0px dotted #D1E2ED;
}
#navMain ul li ul {
  position: absolute;
  top: 26px;
  left: 0px;
  z-index: 10;
}
#navMain ul ul li {
  background: #D1E2ED;
  float: none;
  padding: 0;
  border: 0;
  position: relative;
}
#navMain ul ul li a {
  display: block;
  border: 0;
  border-top: 1px solid #fff;
  padding: 4px 14px;
  background: #D1E2ED;
  position: relative;
}
/*neu*/
/* #navMain ul ul li a {display:block; border:0; border-top:1px solid #fff; padding:0px 14px; background:#D1E2ED; line-height:22px; float:none; width:100%;} */
/** Header/Teaser **/
#header {
  height: 137px;
  margin: 22px 9px 0 11px;
  background: transparent url(/gif/csspix/background_header.png) no-repeat right top;
  color: #FFFFFF;
  font-size: 0.95em;
  position: relative;
}
#left_teaser a,
#header_right a {
  color: #FFFFFF;
}
#header a:hover {
  color: #FF0000;
}
#header_left {
  width: 170px;
  float: left;
  height: 1%;
}
#header_left ul {
  list-style: none;
  white-space: nowrap;
}
#header_left li {
  float: left;
  background: transparent url('/gif/csspix/header_tab.png') no-repeat left top;
  text-align: center;
  width: 85px;
  padding: 2px 0;
}
#header_left .active {
  background: transparent url('/gif/csspix/header_tab_active.png') no-repeat left top;
  width: 85px;
}
#left_teaser {
  height: 100px;
  padding-left: 9px;
  margin-top: 11px;
  background: transparent url('/gif/csspix/header_divider.png') repeat-y right;
}
#left_teaser h1 {
  font-size: 1.05em;
  margin-top: 0;
  margin-bottom: 10px;
}
#left_teaser a {
  display: block;
}
#header_middle {
  width: 710px;
  float: left;
  margin-left: 18px;
  margin-right: 16px;
  margin-top: 11px;
  height: 1%;
}
#header_middle h1 {
  font-size: 16px;
}
#header_middle p {
  margin-top: 17px;
  margin-bottom: 4px;
  font-size: 13px;
}
#header_middle div.s1 {
  float: left;
}
#header_middle div.s1.hidden {
  display: none;
}
#header_middle div.s1.long #i_cockpitkeywords {
  width: 390px;
}
#header_middle div.s1b {
  float: left;
  padding-top: 29px;
}
#header_middle div.s1b .inputbtn {
  background: transparent url('/gif/csspix/btn_go.gif') no-repeat left top;
  border: 0px;
  width: 47px;
  height: 26px;
  padding: 0;
  margin-left: 4px;
  color: #FFFFFF;
  font-weight: bold;
}
#header_middle #i_cockpitkeywo,
#header_middle #i_cockpitkeywords {
  background: transparent url('/gif/csspix/background_input.gif') no-repeat left top;
  border: 0px;
  width: 288px;
  height: 18px;
  padding: 5px 0 2px 10px;
  margin-right: 10px;
  border-radius: 2px;
  color: #435e76;
}
#header_middle #id_cockpitwo {
  margin-right: 5px;
}
#header_middle .radiobtn {
  margin: 0 3px 0 0;
  height: 13px;
  vertical-align: middle;
}
#header_middle label {
  margin: 0 8px 0 0;
  vertical-align: middle;
  padding-top: 2px;
}
.radiobuttons {
  margin-top: 5px;
}
#header_left .inputbtn {
  background: transparent url('/gif/csspix/btn_go.gif') no-repeat left top;
  border: 0px;
  width: 47px;
  height: 26px;
  padding: 0;
  margin-left: 4px;
  color: #FFFFFF;
  font-weight: bold;
}
#header_left .radiobtn {
  margin: 0 3px 0 0;
  height: 13px;
  vertical-align: middle;
}
#header_left label {
  margin: 0 8px 0 0;
  vertical-align: middle;
  padding-top: 2px;
}
#header_left .u1,
#header_middle .u1,
#header_right .u1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 3px;
}
#header_right {
  width: 229px;
  height: 100px;
  float: left;
  background: transparent url('/gif/csspix/header_divider.png') repeat-y left;
  margin-top: 11px;
  padding-left: 13px;
  position: relative;
}
#header_right h1 {
  font-size: 1.05em;
  margin-top: 0;
  margin-bottom: 10px;
}
#header_right a {
  display: block;
}
/** Content **/
#main {
  margin: 20px 9px 0 11px;
  height: 1%;
}
/** left column **/
#col1 {
  float: left;
  width: 171px;
}
/** middle column **/
#col2 {
  float: left;
  width: 468px;
  margin: 0 20px 0 19px;
}
/** right column **/
#col3 {
  float: left;
  width: 242px;
}
/** footer **/
#footer {
  width: 944px;
  height: 80px;
  background: transparent url(/gif/csspix/background_footer.png) no-repeat right top;
  padding-top: 15px;
}
* + html #metaNav_bottom {
  margin-top: 12px;
}
/** Meta navigation **/
#metaNav_top {
  margin-left: 8px;
  height: 1%;
  color: #FFF;
}
#metaNav_top ul {
  list-style: none;
  white-space: nowrap;
}
#metaNav_top li {
  float: left;
}
#metaNav_top li a {
  padding: 0 3px 0 5px;
  color: #FFFFFF;
  font-size: 11px;
}
#metaNav_top li a:hover {
  color: #FF0000;
}
#metaNav_bottom {
  clear: both;
  margin-left: 14px;
  padding-top: 8px;
  height: 1%;
}
#metaNav_bottom ul {
  list-style: none;
  white-space: nowrap;
}
#metaNav_bottom ul li {
  float: left;
}
#metaNav_bottom ul li a {
  font-size: 11px;
  color: #FFFFFF;
  background: transparent url('/gif/csspix/listpoint.gif') no-repeat left center;
  padding: 0 14px 0 14px;
}
#metaNav_bottom ul li a:hover {
  color: #FF0000;
}
/** Content Elements **/
.container_left {
  width: 171px;
  margin-bottom: 19px;
  overflow: hidden;
}
.container_left .left_top {
  background: transparent url('/gif/csspix/container_top.gif') no-repeat top left;
  height: 17px;
  padding-left: 9px;
  padding-top: 3px;
  color: #435E76;
  font-weight: bold;
}
.container_left .left_middle {
  background: transparent url('/gif/csspix/container_middle.gif') repeat-y top left;
}
.container_left .left_middle p {
  padding: 5px 9px 0 9px;
}
.container_left .left_middle h1,
.container_left .right_middle h1 {
  font-size: 1em;
  padding-left: 9px;
  margin-bottom: 0px;
  padding-top: 5px;
}
.container_left .left_bottom {
  background: transparent url('/gif/csspix/container_bottom.gif') no-repeat top left;
  height: 5px;
  font-size: 0;
  line-height: 0;
}
.container_left hr {
  margin: 6px 9px 2px 9px;
  color: #D8E2EB;
  border: 1px #D8E2EB solid;
  height: 1px;
}
.container_left_slide_top_close {
  background: #dce3e7 url('/gif/csspix/btn_auswahl.gif') no-repeat 7px 6px;
  padding-left: 20px;
  padding-top: 3px;
  color: #435E76;
  height: 17px;
}
.container_left_slide_top_open {
  background: #dce3e7 url('/gif/csspix/btn_auswahl.gif') no-repeat 7px 6px;
  padding-left: 20px;
  padding-top: 3px;
  color: #435E76;
  height: 17px;
}
.container_left_slide {
  margin: 1px 0;
}
.container_left_slide_bottom h1 {
  color: #435E76;
}
.container_left_slide_folder {
  margin-bottom: 15px;
}
.container_left_slide_folder .city {
  font-size: 10px;
  padding-top: 0px !important;
}
.container_left_info {
  padding-bottom: 8px;
  line-height: 130%;
}
.container_left .left_middle .container_left_info p,
.container_left .left_middle .container_left_info .blocktext {
  padding: 5px 17px 0 9px;
}
.container_left .left_middle .container_left_info .blocktext p {
  padding: 0;
}
.container_right {
  width: 242px;
  margin-bottom: 19px;
}
.container_right .right_top {
  background: transparent url('/gif/csspix/container_right_top.gif') no-repeat top left;
  height: 17px;
  padding-left: 9px;
  padding-top: 3px;
  color: #435E76;
  font-weight: bold;
}
.container_right .right_middle {
  background: transparent url('/gif/csspix/container_right_middle.gif') repeat-y top left;
  padding: 5px 0 5px 0;
}
.container_right .right_middle p {
  padding: 5px 9px 0 9px;
}
.container_right .right_middle h1 {
  font-size: 1em;
  padding: 5px 9px 0 9px;
}
.container_right .right_middle_header {
  color: #CCCCCC;
  font-size: 0.85em;
}
.container_right .right_middle hr {
  margin: 12px 9px 7px 9px;
  color: #D8E2EB;
  border: 1px #D8E2EB solid;
  height: 1px;
}
.container_right .right_middle img {
  padding-left: 4px;
}
.container_right .right_middle .date {
  font-size: 11px;
}
.container_right .right_middle ul {
  list-style: none;
  padding: 0 9px;
  margin-top: 12px;
}
.container_right .right_middle li {
  background: transparent url('/gif/csspix/listpoint_1.gif') no-repeat left 6px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.container_right .right_bottom {
  background: transparent url('/gif/csspix/container_right_bottom.gif') no-repeat top left;
  height: 5px;
  font-size: 0;
  line-height: 0;
}
.container_treffer {
  width: 171px;
}
.container_treffer .treffer_top {
  background: transparent url('/gif/csspix/container_treffer_top.gif');
  height: 16px;
  color: #FFFFFF;
  font-weight: bold;
  padding: 2px 0 0 13px;
  margin-bottom: 1px;
  font-size: 0.95em;
}
.container_treffer .treffer_bottom {
  padding: 0 13px 8px 13px;
}
.container_treffer .treffer_bottom p {
  margin-bottom: 8px;
}
.container_treffer .treffer_bottom a {
  font-size: 0.95em;
}
.container_treffer .treffer_bottom ul {
  list-style: none;
  margin-top: 5px;
}
.container_treffer .treffer_bottom ul li {
  margin-bottom: 5px;
  line-height: 1em;
}
.left_image {
  margin-top: 16px;
}
/** Loginbox **/
#loginbox {
  font-size: 0.95em;
  color: #435E76;
  margin-bottom: 7px;
}
#loginbox .loginbox_top {
  background: transparent url('/gif/csspix/loginbox_top.gif') no-repeat left top;
  height: 5px;
  line-height: 0;
  font-size: 0;
}
#loginbox .loginbox_middle {
  background: transparent url('/gif/csspix/loginbox_middle.gif') repeat-y left top;
  padding-bottom: 5px;
}
#loginbox .loginbox_bottom {
  background: transparent url('/gif/csspix/loginbox_bottom.gif') no-repeat left top;
  height: 5px;
}
#loginbox .loginbox_header {
  padding-left: 10px;
  height: 27px;
}
#loginbox .loginbox_header_logo {
  float: left;
}
#loginbox .loginbox_header_logout {
  float: left;
  margin-left: 14px;
  margin-top: 5px;
}
#loginbox .anrede {
  padding-left: 10px;
  padding-top: 12px;
  font-weight: bold;
  clear: both;
}
#loginbox .loginstatus {
  padding-left: 10px;
  padding-bottom: 7px;
}
.accordion {
  position: relative;
}
#loginbox .slider_in {
  margin: 0 18px 0 10px;
  padding: 1px 0 1px 15px;
  border-top: 1px solid #B5C7D7;
  position: relative;
  z-index: 10;
  cursor: pointer;
  background: #dfe7ea url('/gif/csspix/btn_auswahl.gif') no-repeat left;
}
#loginbox .slider_out {
  margin: 0 18px 0 10px;
  width: 214px;
  overflow: hidden;
  background: #DFE7EA;
}
#loginbox .slider_in_active {
  background: #dfe7ea url('/gif/csspix/btn_active.gif') no-repeat left;
  color: #FF0000;
}
#loginbox .slider_out_cont {
  margin: 7px 0;
}
#loginbox .slider_in_clear {
  font-size: 0;
  line-height: 0;
  border-top: 1px solid #B5C7D7;
  margin: 0 18px 0 10px;
}
#loginbox .slider_out_list {
  height: 13px;
  padding: 2px 3px;
  background: #D4DDE2;
  margin-bottom: 2px;
}
#loginbox .slider_out_list_link {
  float: left;
}
#loginbox .slider_out_list_link .active {
  color: #FF0000;
}
#loginbox .slider_out_list_delete {
  width: 9px;
  height: 9px;
  float: right;
  padding-top: 2px;
}
#loginbox .slider_out_list_edit {
  width: 9px;
  height: 9px;
  float: right;
  margin-left: 1px;
  padding-top: 2px;
}
#loginbox_form,
#loginbox_register {
  padding: 0 5px 0 10px;
}
#loginbox_form {
  margin-top: 15px;
}
#loginbox_form_label {
  margin-top: 8px;
  margin-bottom: 2px;
}
#loginbox_form_label label {
  margin-right: 41px;
}
#loginbox_form_input {
  margin-bottom: 5px;
}
#loginbox_form_input input {
  margin-right: 4px;
  width: 105px;
  border: 1px solid #9CB4CF;
}
#loginbox_form_button {
  height: 20px;
}
#loginbox_form_button a {
  display: block;
  float: left;
}
#loginbox_form_button input {
  float: right;
  margin-right: 9px;
}
#loginbox_form_button .login_btn {
  background: transparent url('/gif/csspix/btn_login.gif') no-repeat left top;
  border: 0px;
  width: 47px;
  height: 15px;
  padding-bottom: 2px;
  color: #FFFFFF;
  font-size: 0.8em;
}
#loginbox_register {
  clear: both;
  margin-top: 4px;
}
.loginbox_register_header {
  color: #FF0000;
  font-weight: bold;
}
* + html #loginbox_form_input input {
  width: 103px;
}
* + html #loginbox_form_button .login_btn {
  padding-bottom: 0px;
  padding-top: 1px;
}
/** Advertising right content **/
.content_right_advertising {
  margin-bottom: 19px;
  background: transparent url('/gif/csspix/bg_advertising.png') no-repeat 0px 5px;
  padding-top: 16px;
}
.content_right_advertising p {
  color: #999999;
  font-size: 0.85em;
}
/** filter view **/
.search_result_filter {
  background: transparent url('/gif/csspix/content_middle_head.gif') no-repeat left top;
  height: 18px;
  margin-bottom: 22px;
}
.search_result_filter_list {
  float: left;
  margin-right: 14px;
  padding-top: 2px;
  padding-left: 5px;
}
.search_result_filter_list_auswahl {
  margin-right: 1px;
  margin-left: 10px;
}
.zahl {
  background: transparent url('/gif/csspix/bg_pageselect.gif') no-repeat left top;
  font-size: 11px;
}
/** sorting and assortment **/
#search_result_head {
  height: 30px;
  margin-bottom: 20px;
}
.search_result_pagebrowser {
  float: left;
  margin-right: 17px;
}
.search_result_pagebrowser a {
  display: block;
  width: 20px;
  height: 20px;
  float: left;
}
.search_result_pagebrowser .zahl {
  text-align: center;
  padding-top: 3px;
  height: 17px;
}
.search_result_pagebrowser select {
  float: left;
  margin-left: 1px;
  margin-right: 1px;
  background: #DFE7EA;
  width: 40px;
  text-align: center;
  color: #ff0000;
  font-size: 11px;
  position: relative;
  top: 1px;
  border: 1px solid #DFE7EA;
}
.search_result_pagebrowser select option {
  color: #494949;
}
.search_result_pagebrowser select option.active {
  color: #FF0000;
}
.search_result_pagebrowser_float {
  float: left;
  margin: 0 3px;
}
.search_result_head_sort {
  float: left;
  vertical-align: middle;
}
.search_result_head_sort div {
  float: left;
  padding-top: 3px;
  margin-right: 3px;
  font-size: 11px;
}
.search_result_head_sort select {
  background: #DFE7EA;
  color: #435E76;
  font-size: 11px;
  border: 1px solid #DFE7EA;
}
.search_result_head_right {
  float: right;
}
.search_result_head_right div {
  float: left;
  padding-top: 2px;
  margin-right: 3px;
  font-size: 11px;
  color: #435E76;
}
.search_result_head_right a {
  display: block;
  float: left;
}
.search_result_head_treffer_text {
  padding-top: 3px !important;
}
.search_result_head_treffer {
  font-size: 14px !important;
}
/** Result list **/
#search_result_list {
  clear: both;
}
#search_result_list table td {
  border-top: 1px solid #D1E2ED;
  padding-bottom: 2px;
  vertical-align: top;
}
/* #search_result_list a { display: block; } */
#search_result_list input {
  margin-top: 10px;
}
#search_result_list .date {
  font-weight: bold;
}
#search_result_list .city {
  font-size: 0.95em;
}
#search_result_list .firma {
  font-weight: bold;
  color: #435E76;
}
#search_result_list .column1 {
  width: 15px;
}
#search_result_list .column2 {
  width: 60px;
}
#search_result_list .column3 {
  width: 153px;
}
* + html #search_result_list .column3,
* html #search_result_list .column3 {
  padding-bottom: 15px;
}
.search_result_list_image {
  margin: 10px 0 0 4px;
}
.search_result_list_image img {
  padding: 3px 5px 3px 3px;
  border: 1px solid #D8E2EB;
}
.search_result_list_box {
  margin: 8px 5px 10px 11px;
}
.search_result_list_quelle {
  font-size: 0.95em;
  margin: 0 5px 10px 11px;
}
.search_result_box_right {
  font-size: 0.95em;
  color: #435E76;
  margin: 10px 3px 15px 3px;
}
/** Footer Result list **/
#search_result_bottom {
  border-top: 1px solid #D1E2ED;
}
.search_result_bottom_marker {
  margin: 14px 0;
}
.search_result_bottom_marker div {
  float: left;
}
.marker_symbol {
  margin-left: 7px;
  margin-right: 8px;
}
.marker_all {
  margin-right: 18px;
}
.marker_none {
  margin-right: 14px;
}
.marker_view {
  margin-right: 18px;
}
.search_result_bottom_select {
  margin: 14px 0;
}
.search_result_select div {
  float: left;
  margin-right: 3px;
  margin-left: 20px;
  padding-top: 3px;
  font-size: 11px;
}
.search_result_select select {
  background: #DFE7EA none repeat scroll 0 0;
  color: #435E76;
  font-size: 11px;
  position: relative;
  top: 1px;
  border: 1px solid #DFE7EA;
}
/** Newsflash-Container **/
.newsflash {
  margin-bottom: 18px;
}
.newsflash_image {
  margin-bottom: 15px;
}
.newsflash_text h1 {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5em;
}
.newsflash_text p {
  line-height: 1.3em;
}
/** Advertising-Box Middle Content **/
.box_advertising {
  margin-bottom: 8px;
  background: #ffffff url('/gif/csspix/bg_advertising.png') no-repeat 0px 6px;
  padding-top: 18px;
}
.box_advertising div {
  margin: 10px 0 3px;
  color: #999999;
  font-size: 0.85em;
}
/** Newsbox **/
.newsbox {
  margin-top: 25px;
  margin-bottom: 15px;
}
.newsbox_news_top {
  background: transparent url('/gif/csspix/newsbox_bg_top.gif') no-repeat left top;
  height: 5px;
  line-height: 0;
  font-size: 0;
}
.newsbox_news_middle {
  background: transparent url('/gif/csspix/newsbox_bg_middle.gif') repeat-y left top;
  padding: 8px 13px;
}
.newsbox_news_bottom {
  background: transparent url('/gif/csspix/newsbox_bg_bottom.gif') no-repeat left top;
  height: 5px;
}
.newsbox_tabnav {
  height: 1%;
}
.newsbox_tabnav ul {
  list-style: none;
  white-space: nowrap;
}
.newsbox_tabnav li {
  float: left;
  margin: 0 3px 0 0;
  background: transparent url('/gif/csspix/newsbox_tab_right.gif') no-repeat right top;
}
.newsbox_tabnav .tab_active {
  float: left;
  margin: 0 3px 0 0;
  background: transparent url('/gif/csspix/newsbox_tab_right_active.gif') no-repeat right top;
}
.newsbox_tabnav li a {
  background: transparent url('/gif/csspix/newsbox_tab_left.gif') no-repeat left top;
  padding: 5px 13px 5px 13px;
  display: block;
}
.newsbox_tabnav .tab_active a {
  background: transparent url('/gif/csspix/newsbox_tab_left_active.gif') no-repeat left top;
  padding: 5px 13px 5px 13px;
  display: block;
  font-weight: bold;
}
.newsbox_news {
  clear: both;
}
.newsbox_news_text {
  float: left;
  width: 300px;
}
.newsbox_news_text h1 {
  font-size: 1em;
}
.newsbox_news_text p {
  line-height: 1.4em;
}
.newsbox_news_image {
  float: left;
  margin-top: 15px;
}
.newsbox_news_image img {
  margin-left: 10px;
}
/** Box **/
.box {
  margin-bottom: 15px;
}
.box_top {
  background: transparent url('/gif/csspix/box_color_top.gif') no-repeat left top;
  height: 5px;
  line-height: 0;
  font-size: 0;
}
.box_middle {
  background: transparent url('/gif/csspix/box_color_middle.gif') repeat-y left top;
  padding: 4px 8px 12px 13px;
}
.box_bottom {
  background: transparent url('/gif/csspix/box_color_bottom.gif') no-repeat left top;
  height: 5px;
  clear: both;
}
.box_col2_left {
  float: left;
  width: 224px;
  margin-right: 20px;
}
.box_col2_right {
  float: left;
  width: 224px;
}
.box_col2_top {
  background: transparent url('/gif/csspix/box_2col_top.gif') no-repeat left top;
  height: 5px;
  line-height: 0;
  font-size: 0;
}
.box_col2_middle {
  background: transparent url('/gif/csspix/box_2col_middle.gif') repeat-y left top;
  padding: 8px 13px;
  height: 90px;
}
.box_col2_bottom {
  background: transparent url('/gif/csspix/box_2col_bottom.gif') no-repeat left top;
  height: 5px;
}
.report_advertising {
  position: relative;
  color: #435E76;
}
.report_advertising_image {
  position: absolute;
  top: -16px;
  left: -6px;
}
.report_advertising_text {
  margin-left: 105px;
}
.report_advertising_text h2 {
  font-size: 19px;
}
.report_advertising_text h3 {
  margin-bottom: 3px;
  font-size: 15px;
  font-weight: normal;
}
.report_advertising_text a {
  text-decoration: underline;
}
.ma_award {
  position: relative;
}
.ma_award_image {
  position: absolute;
  top: -9px;
  left: 3px;
}
.ma_award_right {
  margin-left: 219px;
}
/** Breadcrumb navigation **/
#breadcrumb_navigation {
  margin-bottom: 18px;
}
#breadcrumb_navigation a {
  background: #ffffff url('/gif/csspix/breadcrumb_navipoint.png') no-repeat left 5px;
  padding-left: 7px;
  margin-right: 10px;
  font-size: 11px;
}
/** Dienstleister - Trefferdetails **/
#col1_big {
  width: 658px;
  float: left;
  padding-right: 20px;
}
.treffer_navigation {
  background: transparent url('/gif/csspix/bg_treffernavi.gif') no-repeat left;
  height: 17px;
  padding-top: 4px;
  padding-left: 7px;
  font-size: 11px;
}
.treffer_navigation_col_left,
.treffer_navigation_col_middle,
.treffer_navigation_col_right {
  float: left;
  width: 217px;
  margin-right: 5px;
}
.treffer_navigation_col_middle {
  text-align: center;
}
.treffer_navigation_col_right {
  width: 198px;
  text-align: right;
}
.treffer_navigation a {
  color: #FFFFFF;
  font-weight: bold;
  background: transparent url('/gif/csspix/listpoint.gif') no-repeat left center;
  padding-left: 15px;
  margin-right: 15px;
}
.treffer_navigation_col_right a {
  background: transparent url('/gif/csspix/listpoint.gif') no-repeat right center;
  padding-right: 17px;
  margin-right: 0px;
}
.treffer_navigation a:hover {
  color: #FF0000;
}
.trefferdetail {
  margin-top: 9px;
  margin-left: -5px;
  margin-right: -10px;
}
.trefferdetail .top {
  background: transparent url('/gif/csspix/bg_trefferdetail_top.png') no-repeat left top;
  height: 10px;
  line-height: 0;
  font-size: 0;
}
.trefferdetail .middle {
  background: transparent url('/gif/csspix/bg_trefferdetail_middle.png') repeat-y left top;
  min-height: 100px;
  padding-left: 13px;
  padding-right: 20px;
  padding-bottom: 45px;
}
.trefferdetail .bottom {
  background: transparent url('/gif/csspix/bg_trefferdetail_bottom.png') no-repeat left bottom;
  height: 22px;
  line-height: 0;
  font-size: 0;
  margin-bottom: 20px;
}
.treffer_header {
  padding-top: 3px;
}
.treffer_header .logo {
  float: left;
  margin-left: 5px;
  width: 500px;
}
.treffer_header .auswahl {
  text-align: right;
  float: right;
}
.treffer_header .recommendation,
.treffer_header .print,
.treffer_header .save {
  margin-bottom: 3px;
  padding-top: 3px;
}
.treffer_header .recommendation a {
  background: transparent url('/gif/csspix/recommendation.png') no-repeat right;
  padding-right: 33px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.treffer_header .print a {
  background: transparent url('/gif/csspix/print.png') no-repeat right;
  padding-right: 33px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.treffer_header .save a {
  background: transparent url('/gif/csspix/save.png') no-repeat right;
  padding-right: 33px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.treffer_headline {
  margin-top: 18px;
}
.treffer_headline h1 {
  font-size: 20px;
}
/** Detailseite - Tabellen-Kontainer**/
.treffer_content {
  margin-top: 38px;
  margin-left: 3px;
}
.treffer_content table tr th,
.treffer_content table tr td {
  vertical-align: top;
}
.treffer_content table tr th {
  text-align: left;
  width: 124px;
}
/** Detailseite - Google-Map **/
.googlemaptab {
  margin-top: 27px;
}
/** Detailseite - Gallerietabelle **/
.gallery {
  margin-top: 20px;
}
.gallery th img {
  margin-bottom: 8px;
}
/** Detailseite - Infotabelle **/
.infos {
  margin-top: 20px;
}
.infos th,
.infos td {
  height: 20px;
}
.infos p {
  margin-bottom: 18px;
}
/** Detailseite - Newstabelle **/
.news {
  margin-top: 12px;
  border-top: 1px solid #DCE3E7;
  width: 100%;
}
.news h2 {
  color: #666666;
  font-size: 16px;
  margin-top: 14px;
  margin-bottom: 15px;
}
.news_teaser {
  border-bottom: 1px solid #DCE3E7;
  padding-top: 8px;
  padding-bottom: 18px;
}
.news_teaser_date {
  margin-bottom: 5px;
}
/** Diskussion **/
.diskussion_top .headline_18px_norm {
  float: left;
}
.diskussion_top .recommendation {
  float: right;
  margin-top: 3px;
}
.diskussion_top .recommendation a {
  background: transparent url('/gif/csspix/recommendation.png') no-repeat right;
  padding-right: 33px;
  padding-top: 3px;
  padding-bottom: 3px;
}
/** Content-Box **/
.contentbox {
  margin-top: 22px;
}
.contentbox .subtext {
  font-size: 10px;
}
.contentbox .content {
  margin-top: 13px;
}
.contentbox .comments {
  margin-top: 32px;
}
.contentbox .rss {
  margin-top: 2px;
}
.contentbox .rss a {
  background: transparent url('/gif/csspix/rss.png') no-repeat left;
  padding-left: 24px;
  padding-top: 3px;
  padding-bottom: 3px;
}
/** Box um Kommentare zu Diskussion abzugeben **/
.box_commentsform {
  margin-top: 17px;
  margin-bottom: 25px;
}
.box_commentsform_top {
  background: transparent url('/gif/csspix/bg_comment_top.png') no-repeat left top;
  height: 5px;
  line-height: 0;
  font-size: 0;
}
.box_commentsform_middle {
  background: transparent url('/gif/csspix/bg_comment_middle.png') repeat-y left top;
  padding-left: 8px;
  padding-right: 12px;
  border-top: 1px solid #DFE7EA;
}
.box_commentsform_middle .commentOpen {
  padding-top: 3px;
  background: transparent url('/gif/csspix/comment.png') no-repeat left top;
  padding-left: 22px;
  font-weight: bold;
  float: left;
}
.box_commentsform_middle .bottomInner {
  margin-left: 22px;
  margin-top: 16px;
  padding-bottom: 15px;
}
.box_commentsform_middle .commentHeader .commentClose {
  float: right;
  background: transparent url('/gif/csspix/btn_close.gif') no-repeat right center;
  padding-right: 16px;
  margin-top: 5px;
}
.box_commentsform_bottom {
  background: transparent url('/gif/csspix/bg_comment_bottom.png') no-repeat left top;
  height: 5px;
  line-height: 0;
  font-size: 0;
}
.form_name .name_input input {
  width: 250px;
  height: 18px;
}
.form_assessment {
  margin-top: 7px;
}
.form_assessment .assessment_label {
  margin-bottom: 5px;
}
.form_assessment .assessment_input input {
  margin-right: 6px;
}
.form_assessment .assessment_input label {
  margin-right: 18px;
  font-weight: bold;
}
.form_assessment .assessment_input .pro {
  color: #6A9D00;
}
.form_assessment .assessment_input .neutral {
  color: #8A8A8A;
}
.form_assessment .assessment_input .contra {
  color: #FF0000;
}
.form_comment {
  margin-top: 8px;
}
.form_comment .comment_input {
  margin-top: 3px;
}
.form_button {
  margin-top: 10px;
}
.form_button input {
  background: transparent url('/gif/csspix/bg_comment_button.png') no-repeat left top;
  color: #FFFFFF;
  border: 0px;
  font-size: 10px;
  width: 133px;
  height: 15px;
  padding-bottom: 2px;
}
/** Kommentare zur Diskussion **/
.box_comments {
  border-bottom: 1px solid #D1E2ED;
  padding-bottom: 27px;
  margin-top: 7px;
}
.box_comments .subtext {
  margin-bottom: 5px;
}
.box_comments .comment {
  line-height: 130%;
}
.commentsbrowser .search_result_pagebrowser {
  margin-top: 8px;
  margin-bottom: 7px;
}
/** Meinungsbarometer **/
.contentbox .barometer {
  margin-top: 18px;
}
.barometer_box {
  margin-top: 5px;
}
.barometer_balken {
  background: transparent url('/gif/csspix/bg_barometer.gif') no-repeat left;
  padding: 4px;
  font-size: 0;
  line-height: 0;
}
.barometer_balken td {
  height: 7px;
}
.barometer_label {
  padding: 0 4px;
}
.barometer_label td {
  text-align: center;
  line-height: 100%;
  white-space: nowrap;
}
.bg_green {
  background-color: #8BCE00;
}
.bg_gray {
  background-color: #999999;
}
.bg_red {
  background-color: #FF0000;
}
.color_green {
  color: #8BCE00;
  font-weight: bold;
}
.color_gray {
  color: #999999;
  font-weight: bold;
}
.color_red {
  color: #FF0000;
  font-weight: bold;
}
/** Messe Treffer Detail **/
#col2a {
  float: left;
  width: 468px;
  margin: 0 20px 0 19px;
  position: relative;
}
.messedetail .treffer_navigation {
  background: transparent url('/gif/csspix/bg_messetreffer_navigation.gif') no-repeat left;
  height: 17px;
  padding: 2px 7px;
  font-size: 11px;
}
.messedetail .treffer_navigation_col_left {
  float: left;
  width: 125px;
  margin: 0;
}
.messedetail .treffer_navigation_col_middle {
  float: left;
  width: 200px;
  margin: 0;
}
.messedetail .treffer_navigation_col_right {
  float: right;
  width: 125px;
  margin: 0;
}
.messedetail .treffer_navigation_col_middle {
  text-align: center;
}
.messedetail .treffer_navigation_col_right {
  width: 125px;
  text-align: right;
}
.messedetail .treffer_navigation a {
  color: #FFFFFF;
  font-weight: bold;
  background: transparent url('/gif/csspix/listpoint.gif') no-repeat left center;
  padding-left: 15px;
  margin-right: 15px;
}
.messedetail .treffer_navigation_col_right a {
  background: transparent url('/gif/csspix/listpoint.gif') no-repeat right center;
  padding-right: 17px;
  margin-right: 0px;
}
.messedetail .treffer_navigation a:hover {
  color: #FF0000;
}
.messedetail .messe_treffer {
  margin-left: -5px;
  margin-right: -10px;
  margin-top: 9px;
}
.messedetail .messe_treffer table tr th {
  text-align: left;
  vertical-align: top;
}
.messedetail .messe_treffer table tr td {
  vertical-align: top;
}
.messedetail .messe_treffer .messe_treffer_top {
  line-height: 0;
  font-size: 0;
  height: 10px;
  background: transparent url('/gif/csspix/bg_messetreffer_top.gif') no-repeat left top;
}
.messedetail .messe_treffer .messe_treffer_middle {
  padding-left: 13px;
  padding-right: 18px;
  background: transparent url('/gif/csspix/bg_messetreffer_middle.gif') repeat-y left top;
  min-height: 500px;
}
.messedetail .messe_treffer .messe_treffer_bottom {
  line-height: 0;
  font-size: 0;
  height: 22px;
  background: transparent url('/gif/csspix/bg_messetreffer_bottom.gif') no-repeat left top;
}
/* .messedetail .messe_treffer .treffer_header {height: 90px;} */
.messedetail .messe_treffer .treffer_header .logo {
  width: 315px;
  float: left;
  margin-left: 0px;
}
.messedetail .messe_treffer .messe_headline {
  margin-top: 10px;
}
* html .messedetail .messe_treffer .messe_headline {
  height: 1px;
}
.messedetail .messe_treffer .messe_headline h1 {
  font-size: 18px;
  font-weight: normal;
}
.messedetail .messe_treffer .messe_subline h2 {
  font-size: 16px;
  font-weight: normal;
}
.messedetail .messe_treffer .messe_content_header {
  margin-top: 23px;
  margin-bottom: 11px;
}
.messedetail .messe_treffer .messe_content_header .messe_header tr th {
  width: 115px;
}
.messedetail .messe_treffer .messe_content_header .messe_update {
  width: 185px;
}
.messedetail .messe_treffer .messe_content_header .messe_update .messe_update_top,
.messedetail .messe_treffer .messe_content_header .messe_update .messe_update_bottom {
  height: 7px;
  font-size: 0;
  line-height: 0;
}
.messedetail .messe_treffer .messe_content_header .messe_update .messe_update_top {
  background: transparent url('/gif/csspix/bg_messe_update_top.gif') no-repeat left top;
}
.messedetail .messe_treffer .messe_content_header .messe_update .messe_update_middle {
  background: transparent url('/gif/csspix/bg_messe_update_middle.gif') repeat-y left top;
  padding: 3px 7px;
  color: #484848;
}
.messedetail .messe_treffer .messe_content_header .messe_update .messe_update_bottom {
  background: transparent url('/gif/csspix/bg_messe_update_bottom.gif') no-repeat left top;
}
.messedetail .messe_treffer .messe_content {
  border-top: 1px solid #DCE3E7;
  padding-top: 12px;
  padding-bottom: 6px;
}
.messedetail .messe_treffer .messe_content .messe_info tr th {
  width: 115px;
  padding-bottom: 10px;
}
.messedetail .messe_treffer .messe_content .messe_info tr td {
  padding-bottom: 5px;
}
.messedetail .messe_treffer .messe_content .messe_info .messe_info_termine,
.messedetail .messe_treffer .messe_content .messe_info .messe_info_preise,
.messedetail .messe_treffer .messe_content .messe_info .messe_info_statistik {
  width: 100%;
  font-size: 11px;
}
.messedetail .messe_treffer .messe_content .messe_info .messe_info_termine tr th,
.messedetail .messe_treffer .messe_content .messe_info .messe_info_preise tr th,
.messedetail .messe_treffer .messe_content .messe_info .messe_info_statistik tr th {
  background-color: #DCE3E7;
  padding: 3px;
}
.messedetail .messe_treffer .messe_content .messe_info .messe_info_termine tr td,
.messedetail .messe_treffer .messe_content .messe_info .messe_info_preise tr td,
.messedetail .messe_treffer .messe_content .messe_info .messe_info_statistik tr td {
  padding: 3px;
}
.messedetail .messe_treffer .messe_content .messe_info .messe_info_statistik img {
  padding-top: 3px;
}
.messedetail .messe_treffer .messe_content .border_left {
  border-left: 1px solid #DCE3E7;
}
.messedetail .messe_treffer .messe_content .border_right {
  border-right: 1px solid #DCE3E7;
}
.messedetail .messe_treffer .messe_content .border_bottom {
  border-bottom: 1px solid #DCE3E7;
}
.messedetail .messe_treffer .messe_content .center {
  text-align: center;
}
.messedetail .messe_treffer .messe_content .border-top {
  border-top: 1px solid #DCE3E7;
}
.messedetail .messe_treffer .messe_content .nowrap {
  white-space: nowrap;
}
/** Dienstleister-Startseite **/
#col2 .middlebox {
  margin-bottom: 18px;
}
#col2 .middlebox h1 {
  font-size: 12px;
  margin-bottom: 3px;
}
#col2 .middlebox p {
  line-height: 130%;
  margin-bottom: 18px;
}
#col2 .middlebox .middlebox_top {
  background: transparent url('/gif/csspix/middlebox_top.gif') no-repeat top left;
  height: 17px;
  padding-left: 9px;
  padding-top: 3px;
  color: #435E76;
  font-weight: bold;
}
#col2 .middlebox .middlebox_date {
  font-size: 10px;
  margin-top: 9px;
  padding-left: 1px;
}
#col2 .middlebox .middlebox_content_left {
  float: left;
  width: 330px;
}
#col2 .middlebox .middlebox_content_right {
  float: left;
  padding-left: 10px;
}
#col2 .middlebox_adv {
  margin-bottom: 20px;
}
#col2 .middlebox_image {
  margin-bottom: 5px;
}
/** geänderte Box rechts **/
.container_right_background {
  width: 242px;
  margin-bottom: 19px;
  margin-top: 20px;
}
.container_right_background .right_top {
  background: transparent url('/gif/csspix/container_right_top.gif') no-repeat top left;
  height: 17px;
  padding-left: 9px;
  padding-top: 3px;
  color: #435E76;
  font-weight: bold;
}
.container_right_background .right_middle {
  background: transparent url('/gif/csspix/container_right_middle_background.gif') repeat-y top left;
  padding: 5px 0 5px 0;
}
.container_right_background .right_middle p {
  padding: 5px 9px 0 9px;
}
.container_right_background .right_middle h1 {
  font-size: 1em;
  padding: 0 9px 0 9px;
}
.container_right_background .right_middle_header {
  color: #CCCCCC;
  font-size: 0.85em;
}
.container_right_background .right_middle hr {
  margin: 12px 9px 7px 9px;
  color: #D8E2EB;
  border: 1px #D8E2EB solid;
  height: 1px;
}
.container_right_background .right_middle img {
  padding-left: 4px;
}
.container_right_background .right_middle .date {
  font-size: 11px;
}
.container_right_background .right_middle ul {
  list-style: none;
  padding: 0 9px;
  margin-top: 12px;
}
.container_right_background .right_middle li {
  background: transparent url('/gif/csspix/listpoint_1.gif') no-repeat left 6px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.container_right_background .right_bottom {
  background: transparent url('/gif/csspix/container_right_bottom_background.gif') no-repeat top left;
  height: 5px;
  font-size: 0;
  line-height: 0;
}
.container_right_background .container_right_box {
  padding-bottom: 10px;
}
.container_right_background .container_right_box .text {
  float: left;
  width: 130px;
  padding: 5px 2px 0 9px;
}
.container_right_background .container_right_box .image {
  float: left;
  padding-top: 5px;
}
.container_right_background .button {
  padding-top: 6px;
  padding-bottom: 13px;
  padding-left: 5px;
}
#header_middle h1 {
  margin-bottom: 10px;
}
.clearfix::before,
.clearfix::after,
.dl-horizontal dd::before,
.dl-horizontal dd::after,
.container::before,
.container::after,
.container-fluid::before,
.container-fluid::after,
.form-horizontal .form-group::before,
.form-horizontal .form-group::after,
.btn-toolbar::before,
.btn-toolbar::after,
.btn-group-vertical > .btn-group::before,
.btn-group-vertical > .btn-group::after,
.nav::before,
.nav::after,
.navbar::before,
.navbar::after,
.navbar-header::before,
.navbar-header::after,
.navbar-collapse::before,
.navbar-collapse::after,
.pager::before,
.pager::after,
.panel-body::before,
.panel-body::after,
.modal-footer::before,
.modal-footer::after {
  content: " ";
  display: table;
}
.clearfix::after,
.dl-horizontal dd::after,
.container::after,
.container-fluid::after,
.form-horizontal .form-group::after,
.btn-toolbar::after,
.btn-group-vertical > .btn-group::after,
.nav::after,
.navbar::after,
.navbar-header::after,
.navbar-collapse::after,
.pager::after,
.panel-body::after,
.modal-footer::after {
  clear: both;
}
.pagination {
  border-radius: 4px;
  display: inline-block;
  margin: 20px 0;
  padding-left: 0;
}
.pagination > li {
  display: inline;
}
.pagination-container {
  float: left;
}
.pagination-container ul.pagination {
  border-radius: 0;
  margin: 0;
}
.pagination-container ul.pagination li {
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #DFE7EA;
  padding: 3px 6px;
  float: left;
}
.pagination-container ul.pagination li a,
.pagination-container ul.pagination li span {
  font-size: 12px;
  color: #435e76;
  text-decoration: none;
}
.pagination-container ul.pagination li:hover a,
.pagination-container ul.pagination li:hover span {
  color: #FF0000;
}
.pagination-container ul.pagination li.prev,
.pagination-container ul.pagination li.next {
  padding-top: 6px;
  padding-bottom: 5px;
}
.pagination-container ul.pagination li.prev a,
.pagination-container ul.pagination li.next a {
  display: block;
  height: 10px;
  width: 10px;
}
.pagination-container ul.pagination li.prev .pagerleft {
  background: url('/gif/csspix/btn_prev.png') no-repeat;
}
.pagination-container ul.pagination li.next .pagerright {
  background: url('/gif/csspix/btn_next.png') no-repeat;
}
.pagination-container ul.pagination li.active {
  font-weight: 700;
}
.pagination-container ul.pagination li.active a {
  color: #FF0000;
}
/*# sourceMappingURL=base.css.map */

/* Hinweisbox für mittige Bühne mit Spalten links und rechts */

#col2a .hintbox {
  margin-left: -5px;
  margin-right: -10px;
  margin-top: 9px;
}
#col2a .hintbox .hintbox_top {
  background: transparent url("/gif/csspix/bg_messetreffer_top.gif") no-repeat scroll left top;
  font-size: 0;
  height: 10px;
  line-height: 0;
}
#col2a .hintbox .hintbox_middle {
  background: transparent url("/gif/csspix/bg_messetreffer_middle.gif") repeat-y scroll left top;
  padding-left: 13px;
  padding-right: 18px;
}
#col2a .hintbox .hintbox_bottom {
  background: transparent url("/gif/csspix/bg_messetreffer_bottom.gif") no-repeat scroll left top;
  font-size: 0;
  height: 22px;
  line-height: 0;
}

/* Ende Hinweisbox */

/* Preisschild für Buchungsseiten Geländeeintrag / Dienstleister-Eintrag */

.price-tag {
  text-align: right;
  font-size: 20px;
  color: #545B6D;
  padding: 4px 5px 0 0;
  width: 129px;
  height: 29px;
  background: transparent url("/gif/csspix/preis_bg_de.jpg") no-repeat scroll 0 0;
  float: left;
}
.price-tag-en {
  background-image: url("/gif/csspix/preis_bg_en.jpg");
}

/* Ende Preisschild für Buchungsseiten Geländeeintrag / Dienstleister-Eintrag */
