td .rating-logo.rating-logo-type-1-rus div {
  background: url("../img/ratingImage/rus/expo-rating-1.png") no-repeat 0px 0px !important;
}
td .rating-logo.rating-logo-type-2-rus div {
  background: url("../img/ratingImage/rus/expo-rating-2.png") no-repeat 0px 0px !important;
}
td .rating-logo.rating-logo-type-3-rus div {
  background: url("../img/ratingImage/rus/expo-rating-3.png") no-repeat 0px 0px !important;
}
td .rating-logo.rating-logo-type-1-de div {
  background: url("../img/ratingImage/de/expo-rating-1.png") no-repeat 0px 0px !important;
}
td .rating-logo.rating-logo-type-2-de div {
  background: url("../img/ratingImage/de/expo-rating-2.png") no-repeat 0px 0px !important;
}
td .rating-logo.rating-logo-type-3-de div {
  background: url("../img/ratingImage/de/expo-rating-3.png") no-repeat 0px 0px !important;
}

td .rating-logo-fair-view {
  width: 30px;
}