.auto-complete .enter-text-input {
    height: 50px;
    position: relative;
    margin: 0;
    padding: 0;
}

.auto-complete .controls {
    position: relative;
}

.auto-complete .enter-text-input input {
    padding-right: 35px;
}

.auto-complete .enter-text-input > div {
    cursor: pointer;
    position: absolute;
    top: 15%;
    right: 0;
    width: 33px;
    height: 70%;
    border-left: 1px solid #666;
}

.widget-UserForm .auto-complete {
    margin-top: 0;
    float: none;
}

.widget-UserForm .enter-text-input {
    width: auto;
}


.auto-complete .auto-complete-arrow {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-top: 5px solid #666666;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.auto-complete .drop-box {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: scroll;
}

.auto-complete .drop-box > div {
    border-top: 1px solid #f9fbff;
    background-color: #e6e6e6;
    margin: 0;
    padding: 10px 20px;
}

.auto-complete .drop-box > div:hover {
    background-color: #cccccc;
    cursor: pointer;
}

.auto-complete .drop-box {
    max-height: 300px;
}

