.scroll-up {
  width:40px;
  height:40px;
  opacity:0.3;
  position:fixed;
  bottom:20px;
  right:20px;
  display:none;
  text-indent:-9999px;
  z-index: 4;
  background: url('scroll-up.png') no-repeat;
}