.button-back {
  float: right !important;
  width: 220px !important;
}

.button-edit {
  float: left !important;
  margin-top: 7px !important;
}

.icon-back {
  float: right !important;
  margin-right: 20px !important;
}

.b-button {
  margin: 0 10px 10px 0;
  display: inline-block;
  background: white;
  padding: 10px 0;
  width: 140px;
  border-radius: 0;
  font-family: MyriadPro-Light;

  &[disabled=disabled] {
    opacity: 0.5;
  }

  &.d-bg-bordered {
    padding: 9px 0 !important;
  }
  &--special {
    padding: 1px 0 !important;
  }
}

.b-button--no-margin {
  margin: 0;
}

.b-button--no-padding {
  padding: 0 !important;
}

.b-button--special {
  padding: 2px 0 !important;

  &.d-bg-bordered {
    padding: 1px 0 !important;
  }
}

.b-button--small-offset {
  margin: 0 5px 5px 0 !important;
}

a.b-button-icon {
  margin-bottom: -12px;
}

a.b-button-icon--small {
  margin-bottom: -6px !important;
}

.b-button-icon {
  height: 40px !important;
  width: 40px !important;
  padding: 0 !important;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  &:before {
    position: absolute;
    top: 10px;
    left: 7px;
    font-size: 24px;
    color: white;
  }
  &:hover {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }

}

.b-button-icon--small {
  margin: 0 10px 10px 0;
  display: inline-block;
  background: white;
  border-radius: 0;
  height: 24px !important;
  width: 24px !important;
  padding: 7px 0 !important;
  text-align: center;
  &:hover :before {
    text-decoration: none;
  }
  &:before {
    top: 6px !important;
    left: 5px;
    font-size: 14px !important;
  }
}

span.b-button-icon--small {
  &:before {
    top: 5px !important;
    left: 4px;
  }
}