table.b-detail-view__table--simple {
  width: 100%;
  margin-top: -15px;
}

table.b-detail-view__table--simple th{
  font-weight: normal !important;
}

.b-detail-view__table--simple label.checkbox.disabled:before {
  opacity: 1;
}

.b-detail-view__table--simple {
  color: #515056 !important;
  background: #ffffff !important;
  margin: 0 0 37px 0;
}

.b-detail-view__table--simple tr {
  color: #515056 !important;
  background: #ffffff !important;
  border: none !important;
  border-bottom: 1px solid #d2d2d2 !important;
  height: 34px;
}

.b-detail-view__table--simple td, .b-detail-view__table--simple th {
  color: #505055;
  text-align: left;
  border: none !important;
  background-color: #ffffff !important;
}

.b-detail-view__table--simple th,
.b-detail-view__table--simple td {
  letter-spacing: 0.02em;
  line-height: 18px;
  vertical-align: top;
  padding: 8px 0;
}

.b-detail-view__table--simple td {
  width: 61.5% !important;
}

.b-detail-view__table--simple th {
  width: 38.5% !important;
  padding-right: 20px;
}

.b-detail-view__table--simple.v-2 td {
  width: 65% !important;
}

.b-detail-view__table--simple.v-2 th {
  width: 35% !important;
}

.b-detail-view__table--simple a {
  text-decoration: underline;
}

.table.b-detail-view__table--simple th,
.table.b-detail-view__table--simple td {
  text-align: left;
  border-top: 1px solid #d2d2d2;
}
