.b-form__string[type="text"]{
  border: none;
  border-radius: 0;
  margin: 10px 0;
  padding: 0 15px;
  height: 40px;
  box-shadow: none;
  font-size: 16px;

  color: #515056 !important;
  background: #efefef !important;
  @extend .d-bg-secondary-input--hover;
  @extend .d-bg-tab--focus;
}

.b-form__text{
  border: none;
  border-radius: 0;
  margin: 10px 0;
  padding: 0 15px;
  box-shadow: none;
  font-size: 16px;

  color: #afafaf !important;
  background: #efefef !important;
  @extend .d-bg-tab--hover;
  @extend .d-bg-tab--focus;
  height: 100px;
}
