.b-grid-view thead tr th:first-child {
  width: 37%!important;
}

.b-grid-view tbody tr td:last-child {
  padding: 9px 8px 0 8px !important;
}

.match-button .b-button-icon--small {
  margin-right: 0 !important;
}

.b-grid-match-view .table tr td:last-child {
  text-align: right !important;
}

.b-grid-match-view tbody tr td:last-child a {
  height: 24px !important;
  width: 24px !important;
  padding: 7px 0 !important;
  text-align: center;
  margin-bottom: 1px;
  margin-right: 5px;
}

.b-grid-match-view .f-text--large[data-icon]:before {
  top: 6px !important;
  left: 5px !important;
  font-size: 14px !important;
}

.b-grid-match-view thead tr th {
  vertical-align: middle;
  padding: 0 0 0 10px !important;
}

div.b-grid-view__table--match table td,
div.b-grid-view__table--match table th {
  padding: 8px !important;
  line-height: 18px !important;
  font-size: 14px;
}

div.b-grid-view__table--match table td.rating-block,
div.b-grid-view__table--match table th.rating-block,
div.b-grid-view__table--match table td.match-button,
div.b-grid-view__table--match table th.match-button {
  padding: 5px 8px !important;
}
