div.b-grid-view table thead tr {
  color: #515056 !important;
  background: #efefef !important;
  border: 0;
}

div.b-grid-view table thead {
  line-height: 18px;
  letter-spacing: 0.02em;
  border-bottom: 20px solid #fff;
}

div.b-grid-view table tbody {
  line-height: 16px;
  letter-spacing: 0.02em;
}

div.b-grid-view table tbody tr.selected {
  background: #f0f0f0;
}

div.b-grid-view table th {
  padding: 11px 10px 11px 10px;
  line-height: 18px;
}

div.b-grid-view table td {
  line-height: 18px;
  padding: 8px;
}

div.b-grid-view table tbody tr:hover {
  color: #515056 !important;
  background: #efefef !important;
}

div.b-grid-view table td {
  border-top: none;
}

div.b-grid-view table tr {
  border-bottom: 1px solid #d2d2d2;
}

a.sort-link .caret {
  content: '';
  display: inline-block;
  position: relative;
  left: 10px;
  top: 6px;
  background: url('../img/sprites/grid-caret-sprites.png') 0px -26px no-repeat;
  height: 6px;
  width: 9px;
  border: none;
}

.sort-link.asc .caret {
  @extend .caret;
  background: url('../img/sprites/grid-caret-sprites.png') 0px -42px no-repeat;

}

.sort-link.desc .caret {
  @extend .caret;
  background: url('../img/sprites/grid-caret-sprites.png') 0px -16px no-repeat;

}