.modal--sign-up {
  width: 460px;
  border-radius: 0;
  -moz-border-radius: 0;
  -web-kit-border-radius: 0;
}

.modal-body {
  padding: 15px 15px 70px 15px !important;
  overflow-y: hidden;
}

.modal-header {
  padding: 10px !important;
}

.modal-header h3 {
  padding: 30px 0 !important;
  margin: 0 !important;
}

.modal--sign-up .modal-body {
  max-height: 460px;
}

.modal--sign-up .modal-footer {
  display: none;
}

.modal--sign-up .modal-header button.close {
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal--sign-up .modal-header button.close:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modal--sign-up .modal-header {
  text-align: center;
  background: rgb(240, 140, 0);
  border: none;
  margin: 0;
}

.modal--sign-up .terms-of-use.control-group.error {
  label.checkbox::before {
    background-position: 0 -251px !important;
  }
  label.checkbox.checked::before {
    background-position: 0 0 !important;
  }
}

.modal--sign-up .terms-of-use.control-group.success .checkbox {
  color: #505055 !important;
}

.modal__modal-header {
  color: #ffffff;
  letter-spacing: 0.8px;
  line-height: 24px;
}

.modal__modal-header button.close {
  opacity: 1;
}

.modal-header .modal__modal-header .header-offset {
  padding: 0 !important;
  margin: 0 0 15px 0 !important;
}

.modal__modal-content .drop-list.controls {
  max-height: 150px !important;
  div:last-child {
    max-height: 88px !important;
    div {
      max-height: 88px !important;
    }
  }
}

.modal__modal-content .control-group .control-label {
  display: none;
}

.modal__modal-content .ajax-loader {
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
}

.modal__modal-content .terms-of-use {
  margin: 15px 0 10px 0;
  text-align: center;
  width: 100%;
}

.modal__modal-content .terms-of-use.control-group {
  margin: -10px 0 20px 0 !important;
  text-align: center;
  width: 100%;
}

.modal__modal-content .terms-of-use label.checkbox {
  display: inline-block;
}

.modal__modal-content .terms-of-use label.checkbox:before {
  top: 5px;
  display: inline-block;
}

.modal__modal-content .form-actions {
  text-align: center;
}

.modal__modal-content .social-links-block {
  height: 30px;
  display: block;
  text-align: center;
  margin: 0 auto 15px auto;
}

.modal__modal-content .social-links-block .services {
  display: inline-block;
}

.recover-success {
  color: #5bb75b;
}

ul.auth-services li {
  padding: 0;
  margin-right: 15px;
}

ul.auth-services li:last-child {
  padding: 0;
  margin-right: 0 !important;
}

.modal-header .close {
  margin: 0 !important;
}

.modal-header .close [class^="icon-"],
.modal-header .close [class*=" icon-"] {
  margin: 0 !important;
}

.modal__modal-header--text {
  padding-top: 17px;
}

.help-block {
  color: #b94a48;
  text-align: left;
  margin-top: -5px;
  padding-left: 10px;
}

.modal-body button[type=submit]{
  width: 180px !important;
}

.modal-content__ask-question {
  margin-top: 40px;
}

.modal-content__ask-question button[type=submit]{
  width: 140px !important;
}

.modal-content__ask-question .help-block {
  margin: 0;
}

div.modal-header div.b-fair__col-num-3 {
  margin-right: 118.10px !important;
}
#modal-tariff-insufficient .modal-header h3{
  padding: 25px 0  22px 0!important;
}
#modal-tariff-insufficient .modal-header .modal__modal-header .header-offset{
  margin:0 !important;
}
#modal-tariff-insufficient .modal-header{
  background: #fa694c;
}
#modal-tariff-insufficient .modal-tariff-desc-1{
  width: 280px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 22px;
}
#modal-tariff-insufficient .go-to-tariffs{
  margin-top:30px;
  a{
    display:block !important;
  }
}
#modal-tariff-insufficient .modal-tariff-desc-2{
  width: 280px;
  margin: 15px auto 0 auto
}