.b-search-counters {
  position: relative;
  margin-top: 3px;
  margin-bottom: 1px;
}

.b-search-filters {
  position: relative;
}

.b-search-filters__items {
  display: none;
  padding: 10px 40px 0 40px;

  .list-auto-complete {
    width: 100%;
    label {
      color: #505055 !important;
    }
  }
  .active > .d-bg-tab,
  .active > .d-bg-tooltip {
    background: #d1d1d1 !important;
  }
}

.blocking-block {
  position: absolute;
  z-index: 99;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(235, 235, 235, 0.65);
  display: none;
}

.b-search-sorter {
  float: right;
  display: inline-block;
  position: relative;
}

.b-search-sorter__direction {
  position: absolute;
  right: 10px;
  top: 1px;
  width: 23px;
  height: 22px;
  background-color: #ffffff;
  border-left: 1px solid #cbcbcb;
}

.b-search-sorter__direction-item--asc {
  margin-top: 8px;
  margin-left: 6px;
  width: 9px;
  height: 6px;
  background: url('../img/sprites/grid-caret-sprites.png') 0px -26px no-repeat;
  cursor: pointer;

  &:hover {
    background-position: 0px -42px;
  }
}

.b-search-sorter__direction-item--desc {
  margin-top: 8px;
  margin-left: 6px;
  width: 9px;
  height: 6px;
  background: url('../img/sprites/grid-caret-sprites.png') 0px -32px no-repeat;
  cursor: pointer;

  &:hover {
    background-position: 0px -16px;
  }
}

.b-switch-list-view__sorter {
  color: #515056 !important;
  background: #efefef !important;
  display: table;
  width: 100%;
  padding: 10px;

  ul {
    margin: 0 !important;
    display: table-row;
    li {
      display: table-cell;
    }
  }
}

#match-form {
  margin: 4px 0 0 !important;
  button {
    line-height: 18px;
    margin: 0 0 10px 0 !important;
    padding: 4px 0 2px 0 !important;
    font-size: 14px !important;
  }
}

.b-search__query[type="text"],
.b-search__query[type="text"]:hover,
.b-search__query[type="text"]:focus
{
  background: white;
  box-shadow: none;
}

.b-search {
  background: #505055 !important;

  height: 130px;
  padding: 0 40px;
}

.b-search-form {
  margin-bottom: 10px;
}

.b-search__query[type="text"] {
  font-weight: normal!important;
  font-family: MyriadPro-Light!important;
  letter-spacing: 0.02em;
  font-size: 20px;
  line-height: 22px;

  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  height: 50px;
  border-radius: 0;

}

.b-search__query[type="text"]::-webkit-input-placeholder {
  color: rgb(195, 195, 195) !important;
  line-height: 24px !important;
  letter-spacing: 0.02em !important;
  font-size: 20px !important;
}

.b-search__query[type="text"]::-moz-placeholder {
  color: rgb(195, 195, 195) !important;
  line-height: 50px !important;
  letter-spacing: 0.02em !important;
  font-size: 20px !important;
  opacity: 100;
}

.b-search__query[type="text"]:-moz-placeholder {
  color: rgb(195, 195, 195) !important;
  line-height: 50px !important;
  letter-spacing: 0.02em !important;
  font-size: 20px !important;
  opacity: 100;
}

.b-search__query[type="text"]:-ms-input-placeholder {
  color: rgb(195, 195, 195) !important;
  line-height: 24px !important;
  letter-spacing: 0.02em !important;
  font-size: 20px !important;
}