.js-page-search__loader {
  display: none;
  position: absolute;
  z-index: 10;
}

.b-search-loader-block {
  height: 16px;
}

.b-switch-list-view {
  margin-top: 2px;
  display: table;
  width: 100%;
  .drop-down-content__drop-block {
    color: white;
    background: #f08c00 !important;
    border: none;
    top: 50px;
    border-bottom: 1px solid #eeeeee;
    &:after {
      background: url('../img/dropdown/mark-warning-dark.png');
    }
  }

  .b-switch-list-view--as-row {
    margin-bottom: 20px;
    .b-switch-list-view__content--hide-as-row {
      display: none;
    }
    .items {
      display: table-row-group;
      width: 100%;
    }
    .b-switch-list-view__sorter {
      display: table-header-group;
      vertical-align: middle;
      ul {
        display: table-row;
        height: 40px;
        vertical-align: middle;
        li {
          padding-left: 10px;
          padding-right: 10px;
          display: table-cell;
          vertical-align: middle;
          span:hover {
            cursor: pointer;
          }
          a, span {
            position: relative;
            color: #505055;
            &:after {
              content: '';
              display: inline-block;
              position: relative;
              left: 10px;
              top: -1px;
              background: url('../img/sprites/grid-caret-sprites.png') 0px -26px no-repeat;
              height: 6px;
              width: 9px;
            }
            &.active {
              text-decoration: underline;
              &:after {
                background-position: 0px -42px;
              }
            }
            &.desc {
              &:after {
                background-position: 0px -32px !important;
              }
              &.active:after {
                background-position: 0px -16px !important;
              }
            }
          }
        }
      }
    }
    .b-switch-list-view__item {
      display: table-row;
      &:hover, &.active-row {
        background: #eeeeee;
      }
    }
    .b-switch-list-view__cell {
      padding-left: 10px;
      &:not(:last-child) {
        padding-right: 10px;
      }
      line-height: 18px;
      vertical-align: top;
      padding: 8px 0 8px 0;
      height: 17px;
      min-width: 75px;
      display: table-cell;
      border-bottom: 1px #d1d1d1 solid;
      .drop-down-content {
        .drop-down-content__label:after {
          top: 10px
        }
        .drop-down-content__drop-block {
          top: 36px
        }
      }
      &.b-switch-list-view__cell--hide-as-row {
        display: none;
      }
      &.b-switch-list-view__cell--actions {
        width: 203px;
        padding: 5px 0 5px 5px;
        .drop-down-content, a.b-button {
          margin: 0 5px 0 0 !important;
          float: right !important;
          .drop-down-content__label {
            letter-spacing: 0.5px;
            font-size: 15px;
            margin: 0 !important;
            padding: 2px 0 !important;

            &.d-bg-bordered {
              padding: 1px 0 !important;
            }
          }
        }
        .drop-down-content {
          width: 140px !important;
        }
        a.b-button {
          @extend .b-button-icon;
          @extend .b-button-icon--small;
        }
      }
    }
  }

  .b-switch-list-view--as-block {
    .items {
      margin-left: -20px;
      margin-right: 0;
      &:after {
        content: '';
        clear: both;
      }
    }
    .b-switch-list-view__sorter {
      display: none;
    }
    .b-switch-list-view__item.b-switch-list-view__item-fair {
      height: 240px;
    }

    .b-switch-list-view__item {
      margin: 0 0 20px 20px !important;
      float: left;
      position: relative;
      width: 300px;
      height: 240px;
      background-color: #efefef;
      .b-switch-list-view__cell {
        &.b-switch-list-view__cell--hide-as-block {
          display: none;
        }
        &.b-switch-list-view__cell--area {
          position: absolute;
          right: 20px;
          bottom: 20px;
          font-size: 20px;
        }
        &.b-switch-list-view__cell--cost {
          position: absolute;
          left: 20px;
          bottom: 20px;
          font-size: 20px;
          color: #d2d2d2;
        }
        &.b-switch-list-view__cell--time-left {
          bottom: 73px !important;
          @extend .b-switch-list-view__cell--region;
        }
        &.b-switch-list-view__cell--name {
          position: absolute;
          left: 0;
          bottom: 10px;
          height: 60px !important;
          width: 270px !important;
          padding-top: 15px;
          padding-left: 15px;
          padding-right: 15px;
          a.trim-clamp {
            display: block !important;
          }
        }
        &.b-switch-list-view__cell--exComplex-name {
          letter-spacing: 0.3px;
          line-height: 100%;
          left: 3px;
          bottom: 0;
          @extend .b-switch-list-view__cell--name;
        }
        &.b-switch-list-view__cell--regions-name {
          line-height: 100%;
          left: 5px;
          bottom: -1px;
          font-size: 15px;
          letter-spacing: 0.7px;
          @extend .b-switch-list-view__cell--name;
        }
        &.b-switch-list-view__cell--stand-name {
          position: absolute;
          left: 0;
          bottom: 10px;
          height: 50px;
          width: 270px;
          font-size: 16px;
          padding-top: 15px;
          padding-left: 20px !important;
          padding-right: 15px;
        }
        &.b-switch-list-view__cell--tender-name {
          padding: 26px 100px 0 20px;
          line-height: 115%;
          font-size: 20px;
        }
        &.b-switch-list-view__cell--tender-cost {
          position: absolute;
          left: 20px;
          bottom: 19px;
          font-size: 20px;
          color: #d2d2d2;
        }
        &.b-switch-list-view__cell--tender-area {
          position: absolute;
          right: 20px;
          bottom: 19px;
          font-size: 20px;
        }

        &.b-switch-list-view__cell--region {
          position: absolute;
          left: 0;
          bottom: 70px;
          top: inherit;
          width: 270px;
          //z-index: 3;
          padding-top: 2px;
          padding-bottom: 2px;
          font-family: MyriadPro-Light, sans-serif;
          font-size: 14px;
          letter-spacing: 0;
          color: #fefefe;
          background: rgba(80, 80, 85, 0.5)!important;
          padding-right: 15px;
          padding-left: 15px;
        }
        &.b-switch-list-view__cell--region__exComplex {
          > span {
            left: 4px;
            position: relative;
          }
          bottom: 72px;
          z-index: 3;
          @extend .b-switch-list-view__cell--region
        }
        &.b-switch-list-view__cell--background {
          position: absolute;
          top: 0;
          width: 100%;
          height: 170px;
          //z-index: 2;
          img {
            z-index: 0;
            top: 0 !important;
            width: 100%;
            height: 100%;
          }
          div {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            //z-index: 2;
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
          }
        }
        &.b-switch-list-view__cell--background__exComplex {
          height: 168px;
          @extend .b-switch-list-view__cell--background;
        }
        &.b-switch-list-view__cell--background__regions {
          height: 168px;
          @extend .b-switch-list-view__cell--background;
        }
        &.rating-logo {
          position: absolute;
          right: 7px;
          top: 95px;
        }
        &.rating-logo.rating-logo-pick-up {
          position: absolute;
          right: 7px;
          top: 55px;
        }
        &.b-switch-list-view__cell--type {
          width: 66px;
          cursor: default;
          height: 10px;
          margin: 0;
          padding: 5px 0 0 0;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          line-height: 0.4;
          text-align: center;
          font-family: MyriadPro-Light, sans-serif;
          font-size: 11px;
          font-weight: normal;
          letter-spacing: 1px;
          color: #fefefe !important;
        }
        &.b-switch-list-view__cell--type__regions {
          width: 57px;
          top: 0;
          left: 0;
          height: 15px !important;
          padding: 0 !important;
          letter-spacing: 0.04em !important;
          line-height: 14px !important;
          background: rgba(80, 80, 85, 0.5) !important;
          @extend .b-switch-list-view__cell--type
        }
        &.b-switch-list-view__cell--actions {
          .drop-down-content {
            margin: 0 !important;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 4;
            .drop-down-content__label {
              width: 100% !important;
              letter-spacing: 0.79px;
              margin: 0 !important;
            }
            .drop-down-content__label:after {
              top: 17px !important;
              right: 14px !important;
            }
          }
          a.b-button {
            @extend .b-button-icon;
            position: absolute !important;
            right: 0;
            margin: 0 !important;
            &.b-list-active-button-1 {
              top: 45px;
            }
            &.b-list-active-button-2 {
              top: 0;
            }
          }
        }
      }
    }
  }
}

.b-switch-list-view__add-items-wrap {
  text-align: center;
}

.b-switch-list-view__add-items.b-button.d-bg-bordered {
  display: inline-block;
  background: white;
  width: 140px;
  border-radius: 0;
  padding: 9px 30px !important;
  margin: 0 !important;
}

.b-switch-list-view__cell--name-region {
  width: 80%;
}

.b-switch-list-view .not-found {
  height: 125px;
}

.b-switch-list-view--as-row .items .b-switch-list-view__item:first-child .b-switch-list-view__cell {
  border-top: 20px solid white;
}

.b-switch-list-view--as-block .orange-block {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  color: white;
  background: #f6a800 !important;
}

.b-switch-list-view--as-block .b-switch-list-view__cell--bottom-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: table-row;
  .b-switch-list-view__cell--bottom-button-text {
    position: relative;
    display: table-cell;
    border: none;
    width: 260px;
    height: 40px;

    @extend .d-bg-warning-dark;
    a {
      display: block;
      padding: 12px 20px;
      width: 260px;
      height: 16px;
      color: #ffffff !important;
      line-height: 16px;
    }
  }
  .b-switch-list-view__cell--bottom-button-icon {
    position: absolute !important;
    display: table-cell;
    border: none;
    width: 40px;
    height: 100%;
    @-moz-document url-prefix() {
      margin-top: -40px !important;
    }
    margin-top: -40px !important;
    margin-left: 260px !important;
    a {
      position: relative;
      display: block;
      border: none;
      color: black;
      width: 100%;
      height: 100%;
      @extend .d-bg-warning;
      text-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

.b-switch-list-view--as-block .b-switch-list-view__cell--bottom-button:hover {
  cursor: pointer;
  .b-switch-list-view__cell--bottom-button-text {
    background: rgb(220, 120, 0) !important;
  }
  .b-switch-list-view__cell--bottom-button-icon {
    a {
      @extend .d-bg-warning-dark;
    }
  }
}

.b-switch-list-view--as-block .b-switch-list-view__cell--bottom-button-completed {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: table-row;
  .b-switch-list-view__cell--bottom-button-text {
    position: relative;
    display: table-cell;
    border: none;
    width: 260px;
    height: 16px;
    @-moz-document url-prefix() {
      padding: 5.2% 20px;
    }
    padding: 12px 20px;
    line-height: 16px;
    @extend .d-bg-info;
    a {
      display: block;
      color: white !important;
      width: 100%;
      height: 100%;
      text-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  @-moz-document url-prefix() {
    .uplifting-text{
      margin-top: -3px;
    }
  }
  .b-switch-list-view__cell--bottom-button-icon {
    position: absolute !important;
    display: table-cell;
    border: none;
    width: 40px;
    height: 100%;
    @-moz-document url-prefix() {
      margin-top: -40px !important;
    }
    margin-top: -40px !important;
    margin-left: 260px !important;
    a {
      position: relative;
      display: block;
      border: none;
      color: black;
      width: 100%;
      height: 100%;
      @extend .d-bg-info-dark;
      text-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

.b-switch-list-view--as-block .b-switch-list-view__cell--bottom-button-soon {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: table-row;
  .b-switch-list-view__cell--bottom-button-text {
    position: relative;
    display: table-cell;
    border: none;
    width: 200px;
    height: 16px;
    padding: 12px 20px;
    line-height: 16px;
    background: #f08c00 !important;
    color: white !important;
  }
  .b-switch-list-view__cell--bottom-button-icon {
    position: relative;
    display: table-cell;
    border: none;
    text-align: right;
    padding-right: 20px;
    width: 100px;
    height: 100%;
    color: white;
    background: #f08c00 !important;
    a {
      position: relative;
      display: block;
      border: none;
      width: 100%;
      height: 100%;
      color: white;
      background: #f08c00 !important;
      text-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

.b-switch-list-view--as-block .b-switch-list-view__cell--bottom-button-active {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: table-row;
  .b-switch-list-view__cell--bottom-button-text {
    position: relative;
    display: table-cell;
    border: none;
    width: 200px;
    height: 16px;
    padding: 12px 20px;
    line-height: 16px;
    background: #a0d468 !important;
    color: white !important;
  }
  .b-switch-list-view__cell--bottom-button-icon {
    position: relative;
    display: table-cell;
    border: none;
    width: 100px;
    padding-right: 20px;
    height: 100%;
    text-align: right;
    background: #a0d468 !important;
    color: white !important;
    a {
      position: relative;
      display: block;
      border: none;
      color: black;
      width: 100%;
      height: 100%;
      background: #2b98d5 !important;
      text-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

.b-switch-list-view--as-row .b-switch-list-view__cell--bottom-button {
  display: none;
}

.b-switch-list-view__cell--type {
  width: 76px !important;
  top: 0 !important;
  background: rgba(80, 80, 85, 0.5) !important;
  left: 0 !important;
  letter-spacing: 0.04em !important;
  font-size: 12px !important;
  line-height: 15px !important;
  height: 15px !important;
  padding: 0 !important;
}