.f-h2 {
  font-weight: normal!important;
  font-family: MyriadPro-Light!important;
  letter-spacing: 0.02em;
  font-size: 24px !important;
  line-height: 24px !important;
}

.p-slash {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.02em;
  padding: 0 14px 0 19px;
}

h1 + .f-header-desc {
  margin-top: -8px;
  margin-bottom: 2px;
  display: block;
}
h1.f-header-desc {
  font-size: 16px !important;
  display: inline;
}

.f-text--tall {
  letter-spacing: 0.3px;
  font-size: 3px;
  line-height: 22px;
}

.f-text--large {
  letter-spacing: 0.3px;
  font-size: 22px;
  line-height: 20px;

  &[data-icon]:before {
	font-size: 22px !important;
  }
}

.f-text--middle {
  font-size: 19px;
  line-height: 14px;

  &[data-icon]:before {
	font-size: 14px !important;
  }
}

.f-text--base {
  font-size: 14px;
  line-height: 18px;

  &[data-icon]:before {
	font-size: 18px !important;
  }
}