.page-reports__content-wrapper {
  max-width: 960px;
}

.reports__fair-name {
  margin: 0 !important;
  padding: 10px 0 12px 0 !important
}

.reports__fair-desc {
  padding-bottom: 15px !important;
}

.page-reports__header {
  padding-top: 30px !important;
  padding-bottom: 15px !important;
}

.page-reports__header-task-week {
  padding-top: 58px !important;
}

.page-reports__header-sub {
  padding-bottom: 0 !important;
  margin-bottom: 13px !important
}

.page-reports__header-sub-2 {
  padding-top: 10px !important;
}

.page-reports__header-sub-3 {
  margin-top: -20px !important;
  padding-bottom: 0 !important;
}

a.reports-btn {
  color: white !important;
  background-color: #d2d2d2 !important;
  border: none;
}

.reports-btn-wrap {
  position: relative;
}

.page-reports__label {
  margin: 15px 0 10px 0;
  padding: 7px 19px 3px 5px;
  text-align: right;
}

.page-reports__label-logo {
  height: 20px;
  margin-left: 15px;
  float: left;
}

.page-reports__logo {
  margin-left: 20px;
  float: right;
}

.page-reports__links {
  > h2 {
    margin-top: -4px;
    margin-left: -2px;
    margin-bottom: 14px !important;
  }

  [data-tooltip-target] {
    line-height: 1.3em;

    h2 {
      margin: 0 !important;
      padding: 0 0 11px 0 !important;
    }
  }
}

.page-reports__button-wrapper {
  position: relative;
  .page-reports__button-wrapper--print-button {
    position: absolute;
    left: -50px;
    a {
      display: block;
      height: 40px !important;
      margin: 0 0 10px 0;
    }
  }
}
