.wrapper-for-content {
  text-align: justify;
}

.wrapper-for-tabs {
  padding-left: 0 !important;
}

.wrapper-for-header {
  position: fixed;
  z-index: 1;
  background-color: white;
  margin: 29px 0 0 8px;
}

div.h1-header.wrapper-for-header:first-child.pageHasFlash {
  position: fixed;
  z-index: 1;
  background-color: white;
  margin: 29px 0 0 8px !important;
}

.tabs-content {
  margin-top: 115px;
}

.heading-header-help {
  padding-top: 40px;
}

.wrapper-help-page {
  width: 960px;
}

/* Поиск с помощью фильтра */
.indent-t {
  padding-top: 13px;
}

.indent-t-1 {
  padding-top: 3px;
}

.indent-t-2 {
  padding-top: 10px;
}

.indent-t-3 {
  padding-top: 51px;
}

.indent-t-4 {
  padding-top: 20px;
}

.indent-t-5 {
  padding-top: 23px;
}

/* Метка для себя, в мануале - над картинкой 20px и под картинкой 40px */
.indent-t-b-img {
  padding-top: 14px;
  padding-bottom: 36px;
}

.indent-t-6 {
  padding-top: 21px;
}

.indent-t-7 {
  padding-top: 10px;
}

.indent-t-8 {
  padding-top: 20px;
}

/* 40px */
.indent-t-9 {
  padding-top: 32px;
}

.indent-t-10 {
  padding-top: 20px;
}

.indent-t-30 {
  padding-top: 20px;
}

.help-actions {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  height: 180px;
  margin-left: 908px;
}

.help-actions .help-action {
  margin: 10px;
}

.help-actions .help-action button {
  margin: 0 20px 0 0;
}

.help-actions .help-action:hover a {
  text-decoration: none;
}

.help-actions .help-action:hover {
  background-color: #efefef;
  cursor: pointer;
}

.widget-AskQuestionForm {
  .styled-uploader__styled-button {
    top: 0;
  }
}