.page-regionInformation-view {
  margin-top: 24px;
}

.page-regionInformation-view_image {
  width: 300px;
  margin-top: 6px;
  margin-right: 40px;
}

.shadow-block {
  position: absolute;
  top: 7px;
  width: 300px;
  height: 168px;
  z-index: 2;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
}

div.page-regionInformation-view__icon {
  @extend .p-pull-left;
  padding: 9px 18px 0 0;
}

.page-regionInformation-view__icon [data-icon]:before {
  font-size: 36px !important;
}

.page-regionInformation-view__rating {
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 9px;
}

.page-regionInformation-view_information-block--place {
  color: #bababa;
  padding-top: 1px;
}

.page-regionInformation-view__info {
  padding-top: 4px;
  line-height: 17px;
}

.page-regionInformation-view__row {
  margin-bottom: 18px;
}

.page-regionInformation-view__row > div > div {
  display: inline-block;
}

.page-regionInformation-view__row > div:first-child {
  width: 241px;
}

.page-regionInformation-view__row:before,
.page-regionInformation-view__row:after {
  display: table;
  line-height: 0;
  content: "";
}

.page-regionInformation-view__row:after {
  clear: both;
}

.page-regionInformation-view__tab-description {
  margin-left: 0;
  margin-right: 0;
}

.region-rating {
  margin-right: 9px;
  cursor: default;
}

.region-cards {
  display: inline-block;
  position: relative;
  bottom: 2px;
}

.page-regionInformation-view__tab-description p.source {
  margin-top: 30px;
}

.regionInformation-view-tabs .nav-tabs > li > a {
  padding: 9px 30px 9px 30px !important;
  letter-spacing: 0.3px;
}

.regionInformation-view-tabs .nav-tabs > li > a:active {
  box-shadow: none !important;
}

.regionInformation-view-tabs .nav > li > a:hover, .regionInformation-view-tabs .nav > li > a:focus {
  background-color: #fff
}

.page-regionInformation-view__header-buttons a {
  margin: 10px 0 10px 20px !important;
}


