.b-detail-view__table--simple .components table tr th,
.b-detail-view__table--simple .components table tr td {
  border-right: 1px solid #D2D2D2 !important;
}

.b-detail-view__table--simple .components table tr th {
  background-color: #F0F0F0 !important;
}

.b-detail-view__table--simple .components table thead {
  border-bottom: none;
}

.b-detail-view__table--simple .components table tr th:last-child,
.b-detail-view__table--simple .components table tr td:last-child {
  border-right: none !important;
}

.b-detail-view__table--simple .components thead tr:first-child {
  border-bottom: none !important;
}

.b-detail-view__table--simple .components tbody tr:first-child td {
  padding-top: 40px !important;
}

.b-detail-view__table--simple .components .table tr th,
.b-detail-view__table--simple .components .table tr td {
  padding-left: 10px !important;
}

.b-detail-view__table--simple tr.no-b-border {
  border-bottom: none !important;
}

.table.b-detail-view__table--simple .components td {
  padding-right: 0;
}

.components table {
  margin-bottom: 30px;
}

.b-detail-view__table--simple.bid-detail-table th {
  width: 34% !important;
}

.b-detail-view__table--simple.bid-detail-table tbody tr:last-child {
  border-bottom: none !important;
}

.grid-view--simple.grid-view--comment .table td {
  padding-left: 10px !important;
  padding-bottom: 8px;
}

.grid-view--simple.grid-view--comment tbody tr:last-child {
  border-bottom: 1px solid #D2D2D2;
}

