.p-no-t-margin {
  margin-top: 0 !important;
}

.offsets {
  margin: 10px 10px 10px 0 !important;
}

.header-fixed-width-2 {
  width: 200px;
}

.p-offset-l-1 {
  margin-left: 10px !important;
}

.p-offset-b-1 {
  margin-bottom: 80px !important;
}

.fixed-width-1 {
  width: 140px !important;
}

.gender {
  text-align: center;
  background-color: #f0f0f0;
}

.gender label {
  padding: 10px 0;
  margin-bottom: 0;
}

.gender input[type="radio"] {
  display: none;
}

.gender input[type="radio"]:checked + label {
  background-color: #d2d2d2;
}

.profile__gender {
  margin: 10px 0 63px 0;
}

.gender.col-md-5 {
  padding: 0 0 0 0;
}

.gender.col-md-5:nth-child(2) {
  margin-right: 20px;
  padding: 0 0 0 0;
}

.user {
  text-align: center;
  background-color: #f0f0f0;
}

.user label {
  padding: 10px 0;
  margin-bottom: 0;
}

.user input[type="radio"] {
  display: none;
}

.user input[type="radio"]:checked + label {
  background-color: #d2d2d2;
}

.profile__role {
  margin: 10px 0 63px 0;
}

.user.col-md-5 {
  padding: 0 0 0 0;
}

.user.col-md-5:nth-child(2) {
  margin-right: 20px;
  padding: 0 0 0 0;
}

.b-input-icon--append {
  top: 2px !important;
  right: 10px !important;
}

div.profile__form-about-me--column {
  padding-right: 30px;
  padding-left: 30px;
}

div.profile__form-about-me--profile-image {
  padding-left: 20px;
}

div.profile__form-about-company--column {
  padding-right: 30px;
  padding-left: 30px;
}

div.profile__form-about-company--company-image {
  padding-left: 20px;
}

.profile__industry .drop-down-list {
  margin-top: 10px;
}

.offset-small-b-3 {
  margin-bottom: 30px !important;
}