.b-tabs {
  &:before, &:after {
    display: table;
    line-height: 0;
    content: "";
  }

  &:after {
    clear: both;
  }

  &--bordered {
    &:not(.b-tabs--nav) {
      border-bottom: 1px solid #ddd;
      margin-bottom: 30px;
      .b-tabs__tab {
        border: 1px solid #ddd;
        border-bottom: none;
        margin-bottom: -1px;
        a {
          padding: 12px 29px 11px 29px;
        }
      }
    }
    .b-tabs__tab {
      a {
        text-decoration: none;
      }
      &.active {
        color: #515056 !important;
        background: #ffffff !important;
        display: block;
        cursor: default;
        border-color: #ddd;
        text-decoration: none;
      }
    }
  }

  &--nav {
    position: fixed;
    //width: inherit;
    margin-left: -1px !important;
    border: none;
    .b-tabs__tab {
      float: none !important;
      text-align: left !important;
      border: 1px solid transparent;
      &.active {
        border-color: #ddd;
        border-left-color: #ffffff;
      }
      &:not(.active):hover {
        border-left-color: #ddd;
        background: #efefef;
      }
      a {
        padding: 11px 29px 11px 18px;
      }
    }
  }

  &:not(.b-tabs--bordered) {
    margin: 0 -20px;
    background-color: #e1e1e1;
    color: #515056;
    .b-tabs__tab {
      border: none;
      a {
        padding: 12px 30px;
        text-decoration: none;
      }
      &:first-child {
        margin-left: 20px;
      }
      &:not(.active):hover {
        color: #515056 !important;
        background: #d2d2d2 !important;
      }
    }
  }

  .b-tabs__tab {
    font-weight: normal!important;
    font-family: MyriadPro-Light!important;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.27px;
    float: left;
    text-align: center;
    a {
      cursor: pointer;
      text-indent: 0.9px;
      display: block;
      text-decoration: none;
    }
    &.active a {
      cursor: default;
    }
    &:first-child {
      margin-left: 0;
    }
    &.active {
      color: #515056 !important;
      background: #ffffff !important;
      display: block;
      text-decoration: none;
    }
    &:not(.active) {
      border:none;
    }
  }
}

[data-tab-target] {
  &:not(.b-tabs__content-scroll) {
    display: none;
  }
  &.b-tabs__content--nav {
    margin-right: -10px;
    padding-right: 20px;
    border-right: 1px solid #d2d2d2;
  }
  &.active {
    display: block;
  }
}

.b-tabs.b-tabs-fixed {
  width: 100%;
  z-index: 990;
  position: fixed;
}

.with-flash .flash-clear {
  margin-top: 41px !important;
  width: 100%;
  .b-flash {
    position: fixed;
    z-index: 1;
    margin-top: -41px;
    right: -20px;
    left: 255px;
  }
}

.minimize-side-bar {
  .with-flash .flash-clear {
    .b-flash {
      left: 70px;
    }
  }
}

.with-flash > .offset-small-t-40 {
  margin-top: 85px !important;
}

.with-flash > .cols-row > .wrapper-for-header:first-child {
  margin-top: 85px !important;
}
 