@charset "UTF-8";

@font-face  {
  font-family: 'MyriadPro-Light';
  src: url('../fonts/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro-Light.woff') format('woff'),
  url('../fonts/MyriadPro-Light.ttf') format('truetype'),
  url('../fonts/MyriadPro-Light.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'MyriadPro-LightIt';
  src: url('../fonts/MyriadPro-LightIt.eot');
  src: url('../fonts/MyriadPro-LightIt.eot') format('embedded-opentype'),
  url('../fonts/MyriadPro-LightIt.woff2') format('woff2'),
  url('../fonts/MyriadPro-LightIt.woff') format('woff'),
  url('../fonts/MyriadPro-LightIt.ttf') format('truetype'),
  url('../fonts/MyriadPro-LightIt.svg#MyriadProLightIt') format('svg');
}

@font-face {
  font-family: "retinaicon-font";
  src: url("../fonts/icons/retinaicon-font.eot");
  src: url("../fonts/icons/retinaicon-font.eot?#iefix") format("embedded-opentype"),
  url("../fonts/icons/retinaicon-font.woff") format("woff"),
  url("../fonts/icons/retinaicon-font.ttf") format("truetype"),
  url("../fonts/icons/retinaicon-font.svg#retinaicon-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

$main-color: #505055;

body {
  font-family: MyriadPro-Light !important;
  color: $main-color;
}

a {
  color: $main-color;

  &:hover, &:focus {
    color: #505055;
  }
}

.trim-clamp {
  display: block;
}

[data-icon]:before {
  font-size: 34px;
  font-family: "retinaicon-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="retina-"]:before,
[class*=" retina-"]:before {
  font-family: "retinaicon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  font-weight: normal !important;
  letter-spacing: 0.02em;
  color: inherit;
  text-rendering: optimizelegibility;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}

h1 {
  font-size: 34px;
  line-height: 34px;
  margin: 0 0 11px 0;
  padding: 12px 10px 0 0;
}

h2 {
  font-size: 24px !important;
  line-height: 24px !important;
}

h3 {
  font-size: 20px;
  line-height: 22px;
}

h4 {
  font-size: 20px;
  line-height: 16px;
}

h5 {
  font-size: 16px;
  line-height: 16px;
}

.left-form h2 {
  padding-top: 20px !important;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .menu-bar__item--search {
    input {
      &[type="text"]:focus {
        height: 2.15em;
      }
    }
  }
  .subscribe-block {
    .subscribe-block-wrap {
      .cols-row {
        .control-group:first-child {
          input {
            margin: 6px 0 !important;
          }
          input:focus {
            margin: 5px 0 7px 0 !important;
          }
        }
      }
    }
  }
  .offset-inputs {
    margin: 6px 0 !important;
  }
  .offset-inputs:focus {
    margin: 5px 0 7px 0 !important;
  }
}

table.b-detail-view__table--simple.request-list {
  margin-top: 20px;
  td {
    padding-bottom: 5px !important;
  }
  td.name {
    width: 230px !important;
  }
  td.description {
    width: 400px !important;
    padding-left: 10px;
  }
  td.date {
    width: 130px !important;
  }
  td.buttons {
    width: 180px !important;
    label {
      display: inline-block;
      width: 110px;
      padding: 3px 10px 2px 10px;
    }
    a > span {
      margin: 0 0 0 3px;
    }
  }
}


/***** nav *****/
.nav-tabs > li > a {
  padding: 9px 30px
}

/***** my fairs *****/
.b-switch-list-view--as-block .orange-block {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  color: white;
  background: #f6a800 !important;
}

.page-my-fair__wrapper {
  margin-top: 40px !important;
}

/***** region *****/
.p-no-tb-indent {
  padding: 0 !important;
  margin: 0 !important;
}

.p-offset-small-t-2 {
  margin-top: 15px !important;
}

/***** proposal *****/
.p-no-r-margin {
  margin-right: 0 !important;
}

/***** calendar *****/
.offset-small-r-3 {
  margin-right: 30px !important;
}

/***** admin *****/
.icon--cursored-icon {
  cursor: pointer;
}

.f-h3 {
  font-weight: normal!important;
  font-family: MyriadPro-Light!important;
  letter-spacing: 0.02em;
  font-size: 20px;
  line-height: 22px;
}

/***** help *****/
.p-h2 {
  margin: 0;
  padding:0;
}

/***** reports *****/
.b-button--wide {
  width: 100% !important;
}

.b-button--large-offset {
  margin: 0 20px 20px 0 !important;
}

/***** calendar *****/
.offset-t-6 {
  margin-top: 6px !important;
}

.icon--white-list {
  background: url("../img/sprites/icon-sprites-white.png") 0 4px no-repeat;
}

.icon--white-close {
  width: 21px;
  height: 22px;
  background: url("../img/sprites/icon-close.png") 0 0 no-repeat;
}