.drop-down-list, .multi-drop-down-list {
  margin: 0 10px 10px 0;
  padding: 0;
  display: inline-block;
  width: 100%;
}

.drop-down-list .drop-button, .multi-drop-down-list .drop-button {
  padding: 10px 0 10px 20px;
  margin: 0 !important;
  cursor: pointer;
  position: relative;
}

.drop-down-list .drop-button.d-bg-bordered, .multi-drop-down-list .drop-button.d-bg-bordered {
  padding: 9px 0 9px 20px;
}

.drop-down-list .drop-button, .multi-drop-down-list .drop-button {
  background-color: #EFEFEF;
}

.drop-down-list.active .drop-button, .multi-drop-down-list.active .drop-button {
  background-color: #e7e7e7;
}

.drop-down-list select {
  display: none;
}

.drop-down-list .controls, .multi-drop-down-list .controls {
  display: none;
}

.drop-down-list.active .controls, .multi-drop-down-list.active .controls {
  display: block;
}

.drop-down-list .drop-button:after, .multi-drop-down-list .drop-button:after {
  content: '\A0';
}

.drop-down-list .drop-button:before, .multi-drop-down-list .drop-button:before {
  display: block;
  content: '';
  position: absolute;
  top: 43%;
  right: 13px;
  width: 9px;
  height: 6px;
  overflow: hidden;
  background: url('../img/dropdown/caret-black.png') no-repeat;
}

.drop-down-list .drop-box, .multi-drop-down-list .drop-box {
  position: absolute;
  margin: 12px 0 0 0;
  padding: 16px 0;
  z-index: 999;
  max-height: 300px;
  overflow: auto;
  background: #ffffff;
  border: rgb(210, 210, 212) 1px solid;
}

.drop-down-list .controls, .multi-drop-down-list .controls {
  position: relative;
}

.drop-down-list .controls:before, .multi-drop-down-list .controls:before {
  display: block;
  position: absolute;
  left: 17px;
  top: 5px;
  overflow: auto;
  content: '';
  z-index: 9999;
  background: url('../img/dropdown/mark.png');
  width: 14px;
  height: 8px;
}

.drop-down-list .drop-box .drop-item {
  position: relative;
  display: block;
  margin: 0;
  padding: 4px 20px 4px 20px;
  cursor: pointer;
  line-height: 16px;
}

.drop-down-list .drop-box .drop-item:hover, .multi-drop-down-list .drop-box .drop-item:hover {
  background-color: #F0F0F0;
}

.drop-down-list .drop-box .drop-item.odd[data-selected=true],
.drop-down-list .drop-box .drop-item.even[data-selected=true] {
  background-color: #F0F0F0;
}

/* multi-drop-down-list */
.multi-drop-down-list .drop-box .drop-item {
  font-size: 16px !important;
  position: relative;
  display: block;
  margin: 0;
  padding: 4px 20px 4px 43px;
  cursor: pointer;
  line-height: 16px;
}

.multi-drop-down-list .controls label.checkbox:before {
  top: 4px;
  left: 20px;
}

.list-auto-complete {
  margin-top: 10px;
}