@import "base";

@import "nav-bar";
@import "grid";
@import "icon-fonts";
@import "fonts";
@import "colors";
@import "input-tooltip";
@import "drop-down-list";
@import "profile";
@import "b-button";
@import "b-search";
@import "b-switch-list-view";
@import "b-detail-view";
@import "b-modal";
@import "b-grid-view";
@import "b-grid-match-view";
@import "b-form";
@import "b-tabs";
@import "page-auction";
@import "page-regionInformation";
@import "page-reports";

.offset-top {
  margin-top: 37px;
}

.alert {
  border: none;
  border-radius: 0;
  margin: 0 -20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: none;
  &.alert-danger {
    color: #515056 !important;
    background: #fdc3b7 !important;
  }
}

.rules {
  color: #43ade3 !important;
  text-decoration: underline;
}

.tz-button .b-button-icon--small {
  margin-right: 0 !important;
  margin-left: 5px !important;
}

.b-grid-view.calendar-for-fair-tender-grid-view table thead tr th:first-child,
.b-grid-view.calendar-for-fair-tz-grid-view table thead tr th:first-child {
  width: 58% !important;
}

div.b-grid-view table tbody tr td.tz-button {
  padding: 5px 8px !important;
  width: 30px;
}

.fixed-auto-width,
.g-auto-width,
.fair-cards .b-switch-list-view,
.b-switch-list-view__add-items.b-button.d-bg-bordered,
.region-cards .b-switch-list-view {
  width: auto !important;
}

.proposal-footer .print-btn,
.proposal-header-h1_bold,
.container-fluid .page-proposal__wrapper .page-proposal__form .form-horizontal div.control-group,
.f-contest .control-group,
.f-contest .header-h1-bold,
div.b-grid-view a.b-button-icon--small,
.modal-body form,
.page-proposal__wrapper .page-proposal__form .page-proposal__form--radio input.input-for-radio {
  margin-bottom: 0 !important;
}

.b-switch-list-view__cell.b-switch-list-view__cell--name,
.b-switch-list-view__cell.b-switch-list-view__cell--stand-name,
.b-switch-list-view__cell .drop-down-content__label,
.b-switch-list-view__cell--bottom-button-text,
.b-switch-list-view__cell--bottom-button-icon,
.industry-name,
.custom_progress_bar .panel-title,
.proposal-checkbox__label,
.proposal-input .proposal-input__input,
.proposal-input__label,
.proposal-input_unit__unit,
.proposal-coefficient,
.proposal-result,
.small-header,
.blog-page,
.tabs__tab,
.proposal-coefficient,
.btn-blue,
.orgplan form.orgplan-form label.control-label,
.orgplan .modal-danger .modal-body,
.page-my-fair__wrapper, .orgplan .modal-danger .modal-body,
.add-fair .text-link,
.header .slash,
.container-fluid .page-proposal__wrapper .page-proposal__form .form-horizontal label.control-label,
.f-contest .f-contest-two-inputs .controls .f-contest-magic-input-1,
.f-contest .f-contest-input-badge,
.f-contest h3,
.f-contest label.control-label,
.f-contest .result,
.b-button,
#modal-tariff-insufficient .modal-tariff-desc-2,
.drop-down-content__label,
.left-part-count-blog,
.f-header-desc,
.f-text--average,
.blog-page .b-items__item-offset--dot,
.help-actions .help-action a,
.page-proposal__form label,
.gender label,
.user label,
.drop-down-list .drop-button, .multi-drop-down-list .drop-button,
.drop-down-list .drop-box .drop-item,
.nav-bar--main-menu .nav > li > a, .nav-bar--main-menu .nav > li.nav-header,
.nav-list__side-left .nav-list__item > a,
.wrapper-personal-area-exhibitor .tasks-header,
.wrapper-personal-area-exhibitor .profile-header,
.wrapper-personal-area-exhibitor .proposal-header,
.wrapper-personal-area-exhibitor .responsible-header,
.wrapper-personal-area-exhibitor .tasks-header-organizer,
.wrapper-personal-area-exhibitor .fair-header,
.wrapper-personal-area-exhibitor .last-action-header-organizer,
.wrapper-personal-area-exhibitor .manager-fair-header,
.p-text
{
  font-size: 16px;
}

.container-fluid--with-left-menu {
  hr {
    border-top: none;
    margin: 10px 0 10px 0;
  }
  margin: 50px 0 0 235px;
}

.nav-list__side-left {
  height: 100%;
  background-color: rgb(80, 80, 85);
  width: 235px;
  position: fixed;
  top: 50px;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.nav-list__side-left.nav .protoman_ru {
  background: url("/static/protoman-ru.png") no-repeat 25px 0px;
  height: 270px;
}

.nav-list__side-left.nav .protoman_ru:hover {
  background: url("/static/protoman-ru.png") no-repeat 25px 0px !important;
  height: 270px;
}

.nav-list__side-left.nav .protoman_en {
  background: url("/static/protoman-en.png") no-repeat 25px 0px;
  height: 270px;
}

.nav-list__side-left.nav .protoman_en:hover {
  background: url("/static/protoman-en.png") no-repeat 25px 0px !important;
  height: 270px;
}

.nav-list__side-left.nav .protoman_agrorus_ru:hover {
  background: url("/static/protoman_agrorus_ru.png") no-repeat 25px 0px !important;
  height: 270px;
}
.nav-list__side-left.nav .protoman_agrorus_en:hover {
  background: url("/static/protoman_agrorus_en.png") no-repeat 25px 0px !important;
  height: 270px;
}

.nav-list__side-left.nav .protoman2 {
  background: url("/static/protoman2.png") no-repeat 25px 0px;
  height: 270px;
}
.nav-list__side-left.nav .protoman_agrorus_ru {
  background: url("/static/protoman_agrorus_ru.png") no-repeat 25px 0px;
  height: 270px;
}
.nav-list__side-left.nav .protoman_agrorus_en {
  background: url("/static/protoman_agrorus_en.png") no-repeat 25px 0px;
  height: 270px;
}

.nav-list__side-left.nav .protoman_metalloobrabotka_ru:hover {
  background: url("/static/protoman_metalloobrabotka_ru.png") no-repeat 25px 0px !important;
  height: 270px;
}
.nav-list__side-left.nav .protoman_metalloobrabotka_en:hover {
  background: url("/static/protoman_metalloobrabotka_en.png") no-repeat 25px 0px !important;
  height: 270px;
}
.nav-list__side-left.nav .protoman_metalloobrabotka_ru {
  background: url("/static/protoman_metalloobrabotka_ru.png") no-repeat 25px 0px;
  height: 270px;
}
.nav-list__side-left.nav .protoman_metalloobrabotka_en {
  background: url("/static/protoman_metalloobrabotka_en.png") no-repeat 25px 0px;
  height: 270px;
}

.nav-list__side-left.nav .protoman2:hover {
  background: url("/static/protoman2.png") no-repeat 25px 0px !important;
  height: 270px;
}

.minimize-side-bar {
  .protoman {
    display: none;
  }
}

.nav-list__item {
  position: relative;
  width: 100%;
}

.nav-bar--main-menu {
  position: fixed;
  margin-bottom: 0;
  width: 100%;
  z-index: 1000;
}

.nav-list--minimize-button {
  height: 40px;
}

.grid-view--simple thead tr:first-child {
  background: rgb(240, 240, 240);
}

.grid-view--simple thead tr:first-child a {
  color: #1e1d20;
}

.grid-view--comment thead tr:first-child .caret {
  display: none;
}

.grid-view--simple thead tr:first-child .asc .caret {
  background-position: 0px -16px !important;
  margin-top: 7px;
}

.grid-view--simple thead th, .grid-view--simple thead td {
  min-width: 100px;
}

.grid-view--simple thead .filters input, .grid-view--simple thead .filters select {
  width: 100%;
}

.nav-list__side-left.nav-list > li > a, .nav-list .nav-header {
  text-shadow: none;

}

.nav > li > a:focus {
  text-decoration: none;
  background-color: rgb(70, 70, 75);
}

.nav-list__side-left.nav .dropdown-toggle .caret {
  margin-top: 0;
  border: none;
}

.icons a {
  margin-right: 10px;
}

form.disable-form-actions div.form-actions {
  background: none;
  border-top: none;
  width: 50%;
  margin: 20px auto;
}

.b-search__links a, .b-switch-list-view__buttons-group a {
  color: #ffffff !important;
}

.tour {
  width: 100%;
  height: 600px;
  border: none;
  margin-top: 20px;
}

div.first-image img {
  max-height: 340px;
}

div.first-image a {
  display: block;
  text-align: center;
}

a.default-link, .grid-view--comment span.default-link {
  color: #43ade3 !important;
}

a.default-link:hover, .grid-view--comment span.default-link:hover {
  text-decoration: underline !important;
}

.thumbnail {
  padding: 0;
  border: none;
}

a.thumbnail:hover {
  background-color: white;
  box-shadow: none;
}

.f-s-14 {
  font-size: 14px !important;
}

.panorama-indent {
  margin-left: 0 !important;
  margin-right: 0 !important;;
}

.upper-case {
  text-transform: uppercase;
}

#questionnaire-form {
  margin-top: 27px;
}

.top-vertical-catalog {
  margin-top: -57px;
  margin-left: 120px;
}

@font-face {
  font-family: MyriadPro-Light;
  src: url('../fonts/MyriadPro-Light.otf');
}

@font-face {
  font-family: MyriadPro-Bold;
  src: url('../fonts/MyriadPro-Bold.otf');
}

@font-face {
  font-family: MyriadPro-LightIt;
  src: url('../fonts/MyriadPro-LightIt.otf');
}

@font-face {
  font-family: MyriadPro-Semibold;
  src: url('../fonts/MyriadPro-Semibold.otf');
}

html, body {
  overflow-x: hidden;
  letter-spacing: 0.02em;
  font-family: MyriadPro-Light;
  min-width: 1056px;
  color: #505055 !important;
}

.menu-bar__item--search {
  input {
    &[type="text"] {
      height: 2em;
    }
  }
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 15px;
  color: rgb(175, 175, 175);
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font-size: 15px;
  color: rgb(175, 175, 175);
  opacity: 100;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  font-size: 15px;
  color: rgb(175, 175, 175);
  opacity: 100;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-size: 15px;
  color: rgb(175, 175, 175);
}

hr {
  border-bottom-color: #d1d1d1 !important;
}

a:focus {
  outline: none;
  outline-offset: 0;
}

a:hover,
a:active {
  outline: none;
}

:focus {
  outline: none;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="text"]:focus,
input[type="submit"]:focus {
  outline: none;
  outline-offset: 0;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 1;
  color: rgb(175, 175, 175);
}

.btn:focus {
  outline: none;
  outline-offset: 0;
}

table th {
  font-weight: normal !important;
}

input,
button,
select,
textarea {
  font-family: MyriadPro-Light !important;
}

.control-group {
  margin-bottom: 5px !important;
}

.form-vertical label.control-label {
  font-size: 16px !important;
}

form.form-vertical {
  margin-top: -5px !important;
}

form.form-horizontal {
  margin-top: -10px !important;
}

.border-other-block .control-group {
  padding: 0 20px;
}

.border-other-block .another-remove-button {
  top: 0 !important;
  right: -30px !important;
}

.h1-header {
  display: block;
}

#jivo-label, #jivo-chat {
  right: 80px !important;
}

.form-horizontal .control-group label.control-label-for-checkbox {
  padding-top: 7px !important;
}

.controls input[type=number] {
  border: none;
  border-radius: 0;
  -o-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  margin: 10px 0 5px 0;
  padding: 0 9px;
  height: 40px;
  line-height: 22px;
  box-shadow: none;
  font-size: 16px;
}
.login-access-notice{
  color:#fa694c;
  font-size:16px;
  line-height:16px;
  margin-top:20px;
  .p-icon{
    font-family: 'retinaicon-font' !important;
    font-size:26px;
    line-height:35px;
    float:left;
    margin-right:10px;
  }
  .sign-up{
    text-decoration:underline;
    cursor:pointer;
  }
  .sign-up:hover{
    text-decoration:none;
  }
  .register{
    text-decoration:underline;
    cursor:pointer;
  }
  .register:hover{
    text-decoration:none;
  }
}
.lock{
  cursor:pointer;
  &:after{
    content:'';
    font-family: 'retinaicon-font' !important;
    color:#fa694c;
    text-decoration: none;
    cursor:pointer;
  }
  &:hover{
    text-decoration: none;
  }
  &:hover:after{
    content:'';
    color:#a0d468;
    text-decoration: none;
  }
}
.plus{
  cursor:pointer;
  &:after{
    content:'';
    font-family: 'retinaicon-font' !important;
    text-decoration: none;
    cursor:pointer;
  }
}

.social-web-block{
  width:415px;position:absolute;right: 30px;top: 67px;z-index: 1;
  & .p-pull-left.header-fixed-width-2{
    margin-top:5px;
  }
}

.dropdown-end {
  padding-bottom: 200px;
}