body.minimize-side-bar .container-fluid--with-left-menu {
  margin-left: 50px;
}

.container-fluid--with-left-menu {
  min-height: calc(100vh - 50px);
}

body.minimize-side-bar .nav-bar--main-menu .navbar-inner .container .brand {
  width: 50px;
  background: rgb(220, 120, 0) url("../img/logos/orgplan_logo_favicon.png") no-repeat 15px 15px;
}

body.minimize-side-bar .nav-list__side-left {
  width: 50px;
}

.nav-bar--main-menu .navbar-inner {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  border: none;
}

.navbar-static-top .navbar-inner {
  box-shadow: none;
}

.nav-bar--main-menu .navbar-inner .container {
  width: 100%;
  background-color: rgb(240, 140, 0);
  max-width: 100%;
}

.nav-bar--main-menu .navbar-inner .container .brand {
  width: 235px;
  height: 50px;
  text-align: center;
  margin: 0;
  padding: 0;
  background: #dc7800 url("/static/logo-white.png") no-repeat 32px 10px;
}

.nav-bar--main-menu .nav > li > a, .nav-bar--main-menu .nav > li.nav-header {
  text-shadow: none;
  height: 20px;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 15px 10px 10px 10px;
  margin-top: 0;
}

.nav-bar--main-menu .nav > li:first-child {
  padding-left: 10px;
}

.nav-bar--main-menu .nav > li:last-child {
  padding-right: 10px;
}

.nav-bar--main-menu .nav > li > a:hover {
  color: #333333;
}

.nav-bar--secondary-menu .navbar-inner .container {
  width: 100%;
  max-width: none;
  background-color: rgb(223, 226, 228);
}

.nav-bar--secondary-menu .navbar-inner .container .brand:hover {
  background-color: rgb(88, 88, 93);
}

.nav-bar--secondary-menu .navbar-inner .container .brand {
  width: 235px;
  height: 40px;
  padding: 10px 0 0 0;
  text-align: center;
  margin: 0;
  background-color: rgb(70, 70, 75);
}

.nav-bar--secondary-menu .nav > li > a {
  text-shadow: 0 0 1px rgba(122, 122, 122, 0.29);
  height: 25px;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3e3939;
  padding: 15px 15px 10px;
}

.nav-bar--secondary-menu .nav > li.active {
  background-color: rgb(250, 253, 255);
  color: rgb(220, 120, 0);
}

.nav-bar--main-menu ul.nav > li.active > a,
.nav-bar--main-menu ul.nav > li.active > a:hover {
  background-color: transparent;
  box-shadow: none;
}

.nav-bar--secondary-menu .nav > li:hover:not(.active) > a {
  background-color: rgb(214, 215, 215);
}

.nav-bar--secondary-menu .nav > li.active:hover > a {
  background-color: rgb(250, 253, 255);
}

.nav-list__side-left li.nav-list--minimize-button > a {
  width: 235px;
  height: 30px;
  padding: 10px 0 0 0;
  text-align: center;
  margin: 0;
  background-color: rgb(70, 70, 75);
}

.nav-list__side-left.nav > li.active:before {
  position: absolute;
  content: '';
  display: block;
  width: 11px;
  height: 20px;
  right: 0;
  top: 10px;
  background: url("../img/left-menu/menu-active-arrow.png") no-repeat;
}

.nav-list__side-left.nav > li.nav-list__item-slim.active:before {
  position: absolute;
  content: '';
  display: block;
  width: 11px;
  height: 20px;
  right: 0;
  top: 2px;
  background: url("../img/left-menu/menu-active-arrow.png") no-repeat;
}

.nav-list__side-left.nav > li:hover, .nav-list__side-left.nav > li:focus,
.nav-list__side-left.nav > li.active:hover, .nav-list__side-left.nav > li.active:focus {
  text-decoration: none;
  background: #6e6e73 !important;
  a:hover, a:focus {
    background: none !important;
  }
  i.tender-icon {
    background: url("../img/main/tender-icon.png") no-repeat 0px 0px;
    height: 24px;
    width: 32px;
  }
}

.nav-list__side-left.nav > li > a:hover, .nav-list__side-left.nav > li > a:focus {
  background: none !important;
}

.nav-list__side-left.nav > li.active {
  text-decoration: none;
  background: #6e6e73 !important;
  a {
    background: none !important;
  }
}

.nav-list__side-left.nav-list li.divider:hover,
.nav-list__side-left.nav-list li.divider:focus {
  background: none;
}

.nav-list__side-left.nav-list li.divider.h-30 {
  height: 30px !important;
  margin: 0 !important;
  background: #47464c !important;
}

.nav-list__side-left.nav-list li.divider.h-10 {
  height: 10px !important;
  margin: 0 !important;
  background: #47464c !important;
}

.nav-list__side-left.nav-list li.left-menu-fair-name.active,
.nav-list__side-left.nav-list li.left-menu-fair-name.active-has-fair {
  background: #378882 !important;
}

.nav-list__side-left.nav-list li.left-menu-fair-name.active:hover,
.nav-list__side-left.nav-list li.left-menu-fair-name.active-has-fair:hover {
  background: #378882 !important;
}

.nav-list__side-left li.nav-list__item.nav-list--minimize-button > a:hover {
  background-color: rgb(80, 80, 85);
}

.nav-list__side-left .nav-list__item > a {
  margin-left: 0;
  margin-right: 0;
  padding: 10px 0 10px 51px;
  width: 175px;
  color: #ffffff !important;
}

.nav-list__side-left .nav-list__item.nav-list__item-slim {
  padding: 0;
  line-height: 15px !important;
  height: 24px;
}

.nav-list__side-left .nav-list__item.left-menu-fair-info.nav-list__item-slim {
  background: #47464c;
}

.nav-list__side-left .nav-list__item.nav-list__item-slim > a {
  padding: 5px 0 4px 51px;
  line-height: 15px !important;
  height: 15px;
}

.nav-list__item a {
  text-shadow: 0 0 2px #2f2f2f;
  font-size: 15px;
  letter-spacing: 1px;
}

.nav-list__side-left .nav-list__item--brand-label img {
  margin-top: 6px
}

.nav-list__side-left .divider {
  margin-top: 32px;
  background: transparent;
  border: none;
}

.nav-list__side-left .icon {
  position: absolute;
  left: 14px;
  top: 10px;
  display: block;
  [data-icon]:before {
    font-size: 24px;
  }
  &.tender-icon {
    left: 10px;
    background: url("../img/main/tender-icon.png") no-repeat 0px -24px;
    height: 24px;
    width: 32px;
  }
}

.nav-list__side-left .nav-list--minimize-button .icon {
  top: 7px;
}

.nav-list__side-left .icon[data-icon]:before {
  font-size: 24px;
}

$color-primary: #ffffff;

.menu-bar {
  color: $color-primary;
  a {
    color: $color-primary !important;
  }
  input {
    color: $color-primary !important;
    background: transparent;
    height: auto;
  }
  input[type="text"] {
    box-shadow: none;
    border: 1px solid $color-primary !important;

    &::-webkit-input-placeholder {color: $color-primary !important;}
    &:-moz-placeholder {color: $color-primary !important;}
    &::-moz-placeholder {color: $color-primary !important;}
    &:-ms-input-placeholder {color: $color-primary !important;}
  }

  i:before {
    color: $color-primary;
  }
}

.menu-bar__item--search {

  position: relative;
  top: -6px;
  padding-left: 0;
  padding-right: 0;

  input {
    &[type="text"] {
      width: 120px;
      min-width: 40px;
      max-width: 243px !important;
      padding: 0 40px 0 15px;
      line-height: 2;
      letter-spacing: 1px;
      border-radius: 15px;

      &::-webkit-input-placeholder {
        line-height: 1.9em;
        letter-spacing: 0.03em;
        font-family: MyriadPro-Light;
        color: #ffffff;
        opacity: 100;
      }
      &:-moz-placeholder {
        line-height: 1.9em;
        letter-spacing: 0.03em;
        font-family: MyriadPro-Light;
        color: #ffffff;
        opacity: 100;
      }
      &::-moz-placeholder {
        line-height: 1.9em;
        letter-spacing: 0.03em;
        font-family: MyriadPro-Light;
        color: #ffffff;
        opacity: 100;
      }
      &:-ms-input-placeholder {
        line-height: 1.9em;
        letter-spacing: 0.03em;
        font-family: MyriadPro-Light;
        color: #ffffff;
        opacity: 100;
      }
    }

    &[type="submit"] {
      content: "\e3bc";
      font-family: "retinaicon-font" !important;
      font-style: normal !important;
      font-weight: normal !important;
      font-variant: normal !important;
      text-transform: none !important;
      speak: none;
      line-height: 15px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      top: 8px;
      right: 5px;
      background: transparent;
      border: 0;
    }
  }
}

.left-form {
  height: 100%;
  width: 235px;
  position: fixed;
  top: 90px;
  i.b-button {
    display: none;
  }
  h2 {
    padding: 0 10px;
    text-align: center;
    color: white;
    margin-bottom: 26px !important;
  }
  .social-links-block {
    margin: 0 -13px;
    .auth-service {
      margin-right: 11px;
    }
  }
  form.form-vertical {
    margin-top: 10px !important;
    .offset-small-l-5.offset-small-r-5 {
      margin: 0 10px !important;
      .fixed-width-1 {
        width: 195px !important;
      }
      .terms-of-use.control-group {
        margin-top: 0;
        margin-bottom: 23px !important;
      }
      .terms-of-use.control-group.error {
        label.checkbox::before {
          background-position: 0 -251px !important;
        }
        label.checkbox.checked::before {
          background-position: 0 -232px !important;
        }
      }
      .terms-of-use {
        margin-top: 6px;
        font-size: 14px !important;
        line-height: 18px !important;
        color: white !important;
        text-align: center;
        a {
          color: white !important;
          font-size: 12px !important;
        }
        label {
          display: inline-block;
        }
        label.checkbox::before {
          top: 3px !important;
          left: 0 !important;
          background-position: 0 -213px !important;
        }
        label.checkbox.checked::before {
          background-position: 0 -232px !important;
        }
      }
      .control-group {
        .control-label {
          display: none;
        }
        .controls {
          .b-input-icon {
            top: 0 !important;
          }
          input[type=text], input[type=password] {
            margin-bottom: 5px !important;
            margin-top: 0 !important;
          }
        }
      }
      .control-group.success .checkbox {
        color: white !important;
      }
    }
  }
  .left-form__copyright {
    position: absolute;
    bottom: 104px;
    left: 44px;
    color: #afafaf;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: center;
  }
}

.minimize-side-bar {
  .left-form {
    width: 50px;
    left:0px;
    i.b-button.b-input-icon {
      display: block;
      top: 0;
      right: 0;
      width: 50px !important;
      margin-right: 0;
    }
    .b-button-icon::before {
      left: 13px !important;
    }
    h2 {
      display: none;
    }
    form {
      display: none;
    }
    .social-links-block {
      margin: 46px 10px 0 10px;
      .auth-service {
        margin-top: 10px;
      }
    }
    .left-form__copyright {
      display: none;
    }
  }
}
.menu-bar__item--icon {
  padding-right: 50px;
  padding-left: 25px;

  &:before {
    content: '\e455';
    font-family: "retinaicon-font" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    position: absolute;
    margin-top: 1px;
    margin-left: -26px;
  }
}
.menu-bar__item--icon--phone:before {
  content: '\e0aa';
  padding-top: 2px;
}

.menu-bar__item--icon--email:before {
  content: '\e405';
  padding-top: 2px;
}

.nav-bar--main-menu {
  ul.nav > li.nav-bar__item--phone {
    padding-left: 0;
    .menu-bar__item--icon--phone {
      padding-right: 10px;
    }
  }
  .menu-bar__item--icon--email {
    padding-right: 30px;
  }
}

.widget-LoginForm .controls input {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}