///* Экспонент */
//.wrapper-personal-area-exhibitor {
//  float: left;
//  margin: 11px 0 0 0;
//  width: 920px;
//
//  .small-block {
//    display: block;
//    float: left;
//    width: 400px;
//    //height: 300px;
//    margin-right: 15px;
//    margin-bottom: 15px;
//    padding-bottom: 63px;
//  }
//
//  .panel-container {
//    margin-left: 0;
//  }
//
//  .left-column {
//    float: left;
//    display: block;
//    position: relative;
//    width: 615px;
//  }
//
//  .right-column {
//    float: left;
//    display: block;
//    position: relative;
//    width: 300px;
//    padding-left: 20px;
//  }
//
//  .hr-580 {
//    width: 580px;
//    border: 0;
//    height: 1px;
//    background-color: #d2d2d2;
//    margin: 14px 0 0 20px;
//  }
//  .hr-260 {
//    width: 260px;
//    border: 0;
//    height: 1px;
//    background-color: #d2d2d2;
//    margin: 14px 0 0 20px;
//  }
//
//  /* Названия выставки */
//  .title {
//    font-family: MyriadPro-Light;
//    color: #505055;
//    font-size: 34px;
//    letter-spacing: 0.02em;
//    margin: 11px 0 38px 0;
//  }
//
//  /************************************************************/
//  /* Блок задач */
//  .tasks-block {
//    float: left;
//    border-radius: 3px;
//    background-color: #f0f0f0;
//    width: 615px;
//    padding-bottom: 20px;
//  }
//  /* Заголовок задачи */
//  .tasks-header {
//    font-family: MyriadPro-Bold;
//    color: #505055;
//    letter-spacing: 0.01px;
//    text-align: left;
//    text-transform: uppercase;
//    margin: 17px 0 0 20px;
//  }
//  /* Названия задач */
//  .list-block {
//    list-style-type: none;
//    font-family: MyriadPro-Light;
//    color: #505055;
//    font-size: 15px;
//    letter-spacing: -0.01em;
//    margin: 30px 30px 0 30px;
//  }
//  .list-block li {
//    border-bottom: 1px solid #d2d2d2;
//    display: block;
//    float: left;
//    width: 100%;
//    padding: 8px 0;
//    min-height: 37px;
//  }
//
//  .task-name {
//    overflow: hidden;
//    text-overflow: ellipsis;
//    width: 86%;
//    white-space: nowrap;
//    float: left;
//  }
//
//  /* Нижняя линия под текстом, ширина 580 */
//  .border-line-580 {
//    width: 580px;
//    margin: 5px 0 -4px -9px;
//  }
//  /* Дата задач*/
//  .date-tasks {
//    font-family: MyriadPro-Light;
//    color: #505055;
//    font-size: 15px;
//    letter-spacing: -0.01em;
//    width: 14%;
//    float: left;
//    text-align: right;
//  }
//  /* Кнопка задачи */
//  .button-green-tasks {
//    width: 140px;
//    height: 24px;
//    border: 0;
//    color: #fff;
//    font-size: 15px;
//    text-align: center;
//    background-color: #a0d468;
//    border-radius: 3px;
//    margin: 24px 0 0 459px;
//  }
//  /************************************************************/
//  /* Профиль блок */
//  .profile-block {
//    float: left;
//    border-radius: 3px;
//    background-color: #f0f0f0;
//    width: 300px;
//    position: relative;
//  }
//  /* Заголовок профиля*/
//  .profile-header {
//    font-family: MyriadPro-Bold;
//    color: #505055;
//    letter-spacing: 0.01px;
//    text-align: left;
//    text-transform: uppercase;
//    margin: 17px 0 0 20px;
//  }
//  /* Нижняя линия под текстом, ширина 260 */
//  .border-line-260 {
//    width: 260px;
//    border-bottom: 1px solid #d2d2d2;
//    margin: 5px 0 -4px -9px;
//  }
//  /*  */
//  .value-block {
//    position: absolute;
//    font-family: MyriadPro-Light;
//    color: #505055;
//    font-size: 15px;
//    letter-spacing: -0.01em;
//    margin: -21px 0 0 110px;
//  }
//  /* Розмер шрифта для кв.м */
//  .font-size {
//    font-size: 9px;
//  }
//  /* Кнопка профиль */
//  .button-green-profile {
//    width: 140px;
//    height: 24px;
//    border: 0;
//    color: #fff;
//    font-size: 15px;
//    text-align: center;
//    background-color: #a0d468;
//    border-radius: 3px;
//    //margin: 20px 20px 20px 0;
//    //float: right;
//
//    position: absolute;
//    margin: 0;
//    bottom: 20px;
//    right: 20px;
//  }
//  /************************************************************/
//  /* Блок заявок */
//  .proposal-block {
//    float: left;
//    border-radius: 3px;
//    background-color: #f0f0f0;
//    width: 615px;
//    margin-top: 20px;
//    padding-bottom: 20px;
//  }
//  /* Заголовок заявок */
//  .proposal-header {
//    font-family: MyriadPro-Bold;
//    color: #505055;
//    letter-spacing: 0.01px;
//    text-align: left;
//    text-transform: uppercase;
//    margin: 17px 0 0 20px;
//  }
//  /* Названия заявок */
//  .title-proposal-block {
//    width: 580px;
//    list-style-type: none;
//    cursor: pointer;
//    font-family: MyriadPro-Light;
//    color: #505055;
//    font-size: 15px;
//    letter-spacing: -0.01em;
//    margin: 19px 0 0 20px;
//  }
//  .title-proposal-block li {
//    border-bottom: 1px solid #d2d2d2;
//    min-height: 36px;
//    height: auto;
//    display: block;
//    float: left;
//    width: 100%;
//  }
//
//  .title-proposal-block li:hover a {
//    display: block;
//  }
//
//  .title-proposal-block li:hover {
//    background-color: #e1e1e1;
//  }
//
//  .proposal-name {
//    display: block;
//    float: left;
//    padding: 8px;
//    width: 80%;
//  }
//
//  /* Дата заявок*/
//  .date-proposal {
//    position: absolute;
//    font-family: MyriadPro-Light;
//    color: #505055;
//    font-size: 15px;
//    letter-spacing: -0.01em;
//    margin: -21px 0 0 289px;
//  }
//  /* Кнопка "Все заявки" */
//  .button-green-proposal {
//    width: 140px;
//    height: 24px;
//    border: 0;
//    color: #fff;
//    font-size: 15px;
//    text-align: center;
//    background-color: #a0d468;
//    border-radius: 3px;
//    margin: 21px 0 0 460px;
//  }
//  /* Кнопка "Отправлено" */
//  .button-blue-proposal {
//    width: 24px;
//    height: 24px;
//    border: 0;
//    color: #fff;
//    font-size: 15px;
//    text-align: left;
//    letter-spacing: 0.15px;
//    background-color: #43ade3;
//    border-radius: 3px;
//    padding: 4px 8px !important;
//  }
//  /* Кнопка-1 "В роботе" */
//  .button-orange-proposal-1 {
//    width: 24px;
//    height: 22px;
//    border: 0;
//    color: #fff;
//    font-size: 15px;
//    text-align: left;
//    background-color: #f08c00;
//    border-radius: 3px;
//    padding: 4px 8px !important;
//  }
//  /* Кнопка-2 "В роботе" */
//  .button-orange-proposal-2 {
//    position: absolute;
//    width: 110px;
//    height: 24px;
//    border: 0;
//    color: #fff;
//    font-size: 15px;
//    text-align: left;
//    background-color: #f08c00;
//    border-radius: 3px;
//    margin: -4px 0 0 355px;
//    padding: 4px 8px !important;
//  }
//  /* Кнопка-3 "В роботе" */
//  .button-orange-proposal-3 {
//    position: absolute;
//    width: 110px;
//    height: 24px;
//    border: 0;
//    color: #fff;
//    font-size: 15px;
//    text-align: left;
//    background-color: #f08c00;
//    border-radius: 3px;
//    margin: -4px 0 0 355px;
//    padding: 4px 8px !important;
//  }
//  /* Кнопка-1 "Редактирования" */
//  .button-orange-edit-proposal-1 {
//    width: 24px;
//    height: 24px;
//    border: 0;
//    display: none;
//    color: #fff;
//    font-size: 15px;
//    background: #f08c00 url("../img/workspace/edit.png") 4px 4px no-repeat;
//    border-radius: 3px;
//    float: right;
//    margin: 5px 5px 0 0;
//  }
//  /* Кнопка-2 "Редактирования" */
//  .button-orange-edit-proposal-2 {
//    position: absolute;
//    width: 24px;
//    height: 24px;
//    border: 0;
//    color: #fff;
//    font-size: 15px;
//    background: #f08c00 url("../img/workspace/edit.png") 4px 4px no-repeat;
//    border-radius: 3px;
//    margin: -4px 0 0 434px;
//  }
//  /* Кнопка-3 "Редактирования" */
//  .button-orange-edit-proposal-3 {
//    position: absolute;
//    width: 24px;
//    height: 24px;
//    border: 0;
//    color: #fff;
//    font-size: 15px;
//    background: #f08c00 url("../img/workspace/edit.png") 4px 4px no-repeat;
//    border-radius: 3px;
//    margin: -4px 0 0 471px;
//  }
//  /* Кнопка-4 "Редактирования" */
//  .button-orange-edit-proposal-4 {
//    position: absolute;
//    width: 24px;
//    height: 24px;
//    border: 0;
//    color: #fff;
//    font-size: 15px;
//    background: #f08c00 url("../img/workspace/edit.png") 4px 4px no-repeat;
//    border-radius: 3px;
//    margin: -4px 0 0 471px;
//  }
//  /* Кнопка-5 "Редактирования" */
//  .button-orange-edit-proposal-5 {
//    position: absolute;
//    width: 24px;
//    height: 24px;
//    border: 0;
//    color: #fff;
//    font-size: 15px;
//    background: #f08c00 url("../img/workspace/edit.png") 4px 4px no-repeat;
//    border-radius: 3px;
//    margin: -4px 0 0 471px;
//  }
//  /************************************************************/
//  /* Ответственный блок */
//  .responsible-block {
//    position: relative;
//    float: left;
//    border-radius: 3px;
//    background-color: #f0f0f0;
//    width: 300px;
//  }
//  /* Заголовок Ответственный */
//  .responsible-header {
//    font-family: MyriadPro-Bold;
//    color: #505055;
//    letter-spacing: 0.01px;
//    text-align: left;
//    text-transform: uppercase;
//    margin: 17px 0 0 20px;
//  }
//  .title-responsible-block {
//    width: 260px;
//    list-style-type: none;
//    cursor: pointer;
//    font-family: MyriadPro-Light;
//    color: #505055;
//    font-size: 15px;
//    letter-spacing: -0.01em;
//    margin: 0 20px;
//  }
//  .title-responsible-block li {
//    border-bottom: 1px solid #d2d2d2;
//    padding: 12px 0 8px 10px;
//    min-height: 60px;
//    display: block;
//    float: left;
//    width: 100%;
//  }
//  .title-responsible-block li:first-child {
//    border-top: 1px solid #d2d2d2;
//    margin-top: 15px;
//  }
//  .title-responsible-block li:hover {
//    background-color: #e1e1e1;
//  }
//  .avatar {
//    height: 36px;
//    width: 36px;
//    float: left;
//    background: url('../img/user/no-avatar.png') no-repeat;
//    background-position: center;
//    background-size: cover;
//    border-radius: 50px;
//    margin-right: 10px;
//  }
//  .icon-phone {
//    position: absolute;
//    height: 24px;
//    width: 24px;
//    border-radius: 3px;
//    background: #43ade3 url("../img/workspace/phone.png") 4px 4px no-repeat;
//    margin: -28px 0 0 0;
//    top: 28px;
//    display: none;
//  }
//  .icon-email {
//    position: absolute;
//    height: 24px;
//    width: 24px;
//    border-radius: 3px;
//    background: #43ade3 url("../img/workspace/email.png") 4px 6px no-repeat;
//    margin: 0 0 0 0;
//    top: 29px;
//    display: none;
//  }
//  li:hover {
//    .icon-phone, .icon-email {
//      display: block;
//    }
//  }
//  .description {
//    margin-left: 46px;
//  }
//  .position {
//    text-transform: uppercase;
//    color: #afafaf;
//    font-size: 12px;
//    white-space: nowrap;
//    overflow: hidden;
//    text-overflow: ellipsis;
//  }
//}

/* Организатор */
.wrapper-personal-area-organizer {
  float: left;
  width: 100%;
  margin: 11px 0 0 0;

  .hr-580 {
    width: 580px;
    border: 0;
    height: 1px;
    background-color: #d2d2d2;
    margin: 14px 0 0 20px;
  }
  .hr-260 {
    width: 260px;
    border: 0;
    height: 1px;
    background-color: #d2d2d2;
    margin: 14px 0 0 20px;
  }
  /* Названия выставки */
  .title-organizer {
    font-family: MyriadPro-Light;
    color: #505055;
    font-size: 34px;
    letter-spacing: 0.02em;
    margin: 11px 0 38px 0;
  }

  /************************************************************/
  /* Блок задач */
  .tasks-block-organizer {
    float: left;
    border-radius: 3px;
    background-color: #f0f0f0;
    width: 620px;
    height: 316px;
  }
  /* Заголовок задачи */
  .tasks-header-organizer {
    font-family: MyriadPro-Bold;
    color: #505055;
    letter-spacing: 0.01px;
    text-align: left;
    text-transform: uppercase;
    margin: 17px 0 0 20px;
  }
  /* Названия задач */
  .title-tasks-block-organizer {
    list-style-type: none;
    font-family: MyriadPro-Light;
    color: #505055;
    font-size: 15px;
    letter-spacing: -0.01em;
    margin: 30px 0 0 29px;
  }
  .title-tasks-block-organizer li {
    margin: 14px 0 0 0;
  }
  /* Нижняя линия под текстом, ширина 580 */
  .border-line-580 {
    width: 580px;
    border-bottom: 1px solid #d2d2d2;
    margin: 5px 0 -4px -9px;
  }
  /* Дата задач*/
  .date-tasks-organizer {
    position: absolute;
    font-family: MyriadPro-Light;
    color: #505055;
    font-size: 15px;
    letter-spacing: -0.01em;
    margin: -21px 0 0 451px;
  }
  /* Кнопка задачи */
  .button-green-tasks-organizer {
    width: 140px;
    height: 24px;
    border: 0;
    color: #fff;
    font-size: 15px;
    text-align: center;
    background-color: #a0d468;
    border-radius: 3px;
    margin: 24px 0 0 459px;
  }
  /************************************************************/
  /* Профиль выставка */
  .fair-block-organizer {
    float: left;
    border-radius: 3px;
    background-color: #f0f0f0;
    width: 300px;
    height: 316px;
    margin: 0 0 0 20px;
  }
  /* Заголовок "выставка"*/
  .fair-header {
    font-family: MyriadPro-Bold;
    color: #505055;
    letter-spacing: 0.01px;
    text-align: left;
    text-transform: uppercase;
    margin: 17px 0 0 20px;
  }
  /* Нижняя линия под текстом, ширина 260 */
  .border-line-260 {
    width: 260px;
    border-bottom: 1px solid #d2d2d2;
    margin: 5px 0 -4px -9px;
  }
  /* Кнопка Профиль Выставка */
  .button-green-fair {
    width: 140px;
    height: 24px;
    border: 0;
    color: #fff;
    font-size: 15px;
    text-align: center;
    background-color: #a0d468;
    border-radius: 3px;
    margin: 59px 0 0 140px;
  }
  .title-fair {
    width: 260px;
    list-style-type: none;
    cursor: pointer;
    font-family: MyriadPro-Light;
    color: #505055;
    font-size: 15px;
    letter-spacing: -0.01em;
    margin: 21px 0 12px 19px;
  }
  .title-fair li {
    border-bottom: 1px solid #d2d2d2;
    padding: 13px 0 14px 11px;
  }
  .fio-fair {
    position: absolute;
    margin: -35px 0 0 50px;
  }
  .fio-fair2 {
    position: absolute;
    margin: -35px 0 0 50px;
  }
  .admin {
    position: absolute;
    font-size: 15px;
    margin: -16px 0 0 50px;
  }
  .user {
    position: absolute;
    font-size: 15px;
    margin: -16px 0 0 50px;
  }

  /************************************************************/
  /* Послоедние действия */
  .last-action-block-organizer {
    position: absolute;
    float: left;
    border-radius: 3px;
    background-color: #f0f0f0;
    width: 620px;
    height: 316px;
    margin: 336px 0 0 0;
  }
  /* Заголовок "последние действия" */
  .last-action-header-organizer {
    font-family: MyriadPro-Bold;
    color: #505055;
    letter-spacing: 0.01px;
    text-align: left;
    text-transform: uppercase;
    margin: 17px 0 0 20px;
  }
  /* Названия "Последние действия" */
  .title-last-action-block-organizer {
    width: 580px;
    list-style-type: none;
    cursor: pointer;
    font-family: MyriadPro-Light;
    color: #505055;
    font-size: 15px;
    letter-spacing: -0.01em;
    margin: 19px 0 0 20px;
  }
  .title-last-action-block-organizer li {
    border-bottom: 1px solid #d2d2d2;
    padding: 10px 0 5px 11px;
  }
  .title-last-action-block-organizer li:hover {
    background-color: #e1e1e1;
  }
  /* Дата "Последние действия"*/
  .date-last-action-organizer {
    position: absolute;
    font-family: MyriadPro-Light;
    color: #505055;
    font-size: 15px;
    letter-spacing: -0.01em;
    margin: -21px 0 0 449px;
  }
  /* Кнопка "button" */
  .button-green-last-action-organizer {
    width: 140px;
    height: 24px;
    border: 0;
    color: #fff;
    font-size: 15px;
    text-align: center;
    background-color: #a0d468;
    border-radius: 3px;
    margin: 21px 0 0 460px;
  }

  /************************************************************/
  /* Менеджер выставки */
  .manager-fair-block {
    position: absolute;
    float: left;
    border-radius: 3px;
    background-color: #f0f0f0;
    width: 300px;
    height: 316px;
    margin: 336px 0 0 640px;
  }
  /* Заголовок менеджер выставки */
  .manager-fair-header {
    font-family: MyriadPro-Bold;
    color: #505055;
    letter-spacing: 0.01px;
    text-align: left;
    text-transform: uppercase;
    margin: 17px 0 0 20px;
  }
  .title-manager-fair-block {
    width: 260px;
    list-style-type: none;
    cursor: pointer;
    font-family: MyriadPro-Light;
    color: #505055;
    font-size: 15px;
    letter-spacing: -0.01em;
    margin: 21px 0 12px 19px;
  }
  .title-manager-fair-block li {
    border-bottom: 1px solid #d2d2d2;
    padding: 13px 0 14px 11px;
  }
  .title-manager-fair-block li:hover {
    background-color: #e1e1e1;
  }
  /* Кнопка "профиль" */
  .button-green-manager-fair {
    width: 140px;
    height: 24px;
    border: 0;
    color: #fff;
    font-size: 15px;
    text-align: center;
    background-color: #a0d468;
    border-radius: 3px;
    margin: 59px 0 0 140px;
  }
  .avatar {
    height: 36px;
    width: 36px;
    background: url('../img/user/no-avatar.png') no-repeat;
    background-size: cover;
    border-radius: 50px;
  }
  .icon-phone {
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 3px;
    background: #43ade3 url("../img/workspace/phone.png") 4px 4px no-repeat;
    display: none;
    margin: -44px 0 0 216px;
  }
  .icon-email {
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 3px;
    background: #43ade3 url("../img/workspace/email.png") 4px 6px no-repeat;
    display: none;
    margin: -15px 0 0 216px;
  }
  li:hover {
    .icon-phone, .icon-email {
      display: block;
    }
  }
  .fio {
    position: absolute;
  }
  .position {
    position: absolute;
    text-transform: uppercase;
    font-size: 12px;
    margin: -16px 0 0 50px;
  }
}

.button-green-profile {
  display: block;
}