.tariff-test .tariff-card .tariff-name{
    background:#4ec882;
}
.tariff-test .tariff-card .tariff-announce{
    background:#3cb670;
}
.tariff-test .tariff-card .tariff-info{
    background:#efefef;
}
.tariff-standard .tariff-card .tariff-name{
    background:#43ade3;
}
.tariff-standard .tariff-card .tariff-announce{
    background:#d2d2d2;
}
.tariff-standard .tariff-card .tariff-info{
    background:#efefef;
}
.tariff-premium .tariff-card .tariff-name{
    background:#fa694c;
}
.tariff-premium .tariff-card .tariff-announce{
    background:#d2d2d2;
}
.tariff-premium .tariff-card .tariff-info{
    background:#efefef;
}
.tariff-block{
    width:300px;
}
.tariff-block .tariff-card .tariff-name{
    color:white;
    font-size:34px;
    text-align:center;
    line-height:34px;
    padding:35px 0 28px 0;
}
.tariff-block .tariff-card .tariff-announce{
    font-size:24px;
    line-height:24px;
    font-family: MyriadPro-Semibold;
    text-align:center;
    padding:20px 0 16px 0;
    position:relative;
    color:white;
}
.tariff-block .tariff-card .tariff-info{
    padding:20px;
    margin-bottom:40px;
    /*height: 363px;*/
}
.tariff-block .tariff-card .tariff-info .tariff-description{
    width:180px;
    margin:0px auto;
    color:#505055;
    font-size: 14px;
    line-height: 15px;
    padding:15px 0 15px 0;
}
.tariff-block .tariff-card .tariff-info .tariff-button{
    width:180px;
    margin: 20px auto 20px auto;
    padding:0px;
    font-size:16px;
    line-height:16px;
    text-align: center;
    display:block;
}
.tariff-button.tariff-add{
    background:#f08c00;
    color:white;
    cursor:pointer;
}
.tariff-button.tariff-add a{
    color:white !important;
    display:block;
    width:100%;
    padding:10px;
}
.tariff-button.tariff-add:hover{
    background:#f6a800;
}
.tariff-button.tariff-request{
    border:1px solid #d2d2d2;
    cursor:pointer;
}
.tariff-button.tariff-request:hover{
    background:#d2d2d2;
}
.tariff-triangle{
    position:absolute;
    left:50%;
    bottom:-10px;
    margin-left:-10px;
    width:20px;
    height:10px;
}
.tariff-triangle-gray{
    background:url(../../img/tariff/triangle_gray.png) top left no-repeat;
}
.tariff-triangle-green{
    background:url(../../img/tariff/triangle_green.png) top left no-repeat;
}
.tariff-description .tariff-options{
    font-size:12px;
    line-height:12px;
    margin:20px 0 0 0;
    padding:0;
    list-style: none;
}
.tariff-description .tariff-options li{
    margin:10px 0 0 0;
    padding:0;
}

.tariff-description .tariff-options li:before {
    content: "-";
    position: relative;
}