@import "../varibles/varibles";

.header-menu {
  &__item {
    padding: 0 !important;

    a {
      height: 50px !important;
      padding: 15px 10px !important;
      box-sizing: border-box;
      cursor: pointer;

      &:hover {
        color: #fff !important; //@TODO bootstrap overwrite
      }
    }

    &:hover {
      background: #dc7800;
    }
  }

  .dropdown {
    a {
      color: #fff !important;
    }

    &:hover {
      background: #dc7800;
    }
  }

  .dropdown-menu {
    display: none !important;
    left: 0;
    margin-top: 8px;
    border-radius: 3px;
    overflow-y: auto;
    max-height: 300px;
    min-width: 158px;

    li {
      a {
        background: none !important;
        //height: 20px !important;
        color: @dark-link !important;

        &:hover {
          background: @grey !important;
        }
      }
    }

    .header-menu__profile__item {
      a {
        padding: 12px 17px !important;
        height: 40px !important;
      }

      .icon {

      }

      span {
        font-size: 15px;
        letter-spacing: 1px;
        display: block;
        float: left;
      }
    }

    .header-menu__lang__item {
      a {
        padding: 5px 20px !important;
        height: 24px !important;
      }

      .icon {

      }

      span {
        font-size: 15px;
        letter-spacing: 1px;
        display: block;
        float: left;
      }
    }


  }

  .open {
    .dropdown-menu {
      display: block !important;
    }

    .dropdown-toggle:after, .dropdown-toggle:before {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    .dropdown-toggle:after {
      border-color: rgba(136,183,213,0);
      border-bottom-color: #fff;
      border-width: 6px;
      margin-left: 0px;
      position: absolute;
      top: 47px;
      left: 40px;
      z-index: 1001;
    }
    .dropdown-toggle:before {
      border-color: rgba(194,225,245,0);
      border-bottom-color: #c2c2c2;
      border-width: 7px;
      margin-left: -1px;
      position: absolute;
      top: 45px;
      left: 40px;
      z-index: 1;
    }

    a {
      background: #dc7800 !important;
    }
  }

  .dropdown-toggle {
    background: none;
    color: #fff;
    text-shadow: unset;
    //height: 25px !important; //@TODO bootstrap overwrite

    .caret {
      display: block;
      float: right;
      width: 15px;
      border: medium none;
      border-radius: 3px;
      margin-top: 2px !important;
      margin-left: 5px;
    }

    .caret:before {
      content: "";
      display: block;
      font-family: "retinaicon-font" !important;
      font-size: 12px;
    }
  }

  .dropdown-toggle:hover {
    background: none;
    color: #fff;
  }

  .dropdown-toggle:focus {
    background: none;
    color: #fff;
  }
}

.header-menu_profile {
  margin-right: 10px;

  .caret {
    display: none !important;
  }

  .dropdown-toggle:after, .dropdown-toggle:before {
    left: 18px !important;
  }
}