.modal-reject__button-wrapper {
  display: block;
  width: 50%;
  margin: 0 auto;

  .btn {
    display: block;
    float: left;
    padding-top: 12px;
  }

  .btn:first-child {
    margin-right: 10px;
  }
}