.proposal-radio {
  &__label {
    position: relative;
    padding: 4px 0 0 23px;
    margin-bottom: 3px;
    line-height: 24px;
    float: left;

  }

  &__input {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 3px 0 0;

    &:not(checked) {
      position: absolute;
      opacity: 0;
    }

    &:not(checked) + label:before {
      content: '';
      position: absolute;
      background: url(/static/sprite.png) 0px 16px;
      width: 14px;
      height: 14px;
      left: 0;
      top: 7px;
    }

    &:checked + label:before {
      background: url(/static/sprite.png) -20px 16px;
    }

    & + label {
      cursor: pointer;
    }
  }

  &__tooltip-wrapper {
    float: left;
    padding: 5px 0 0 0;
  }
}

.proposal-radio_disabled {
  .proposal-radio__input {
    &:not(checked) + label:before {
      background: url(/static/sprite.png) 36px 0px;
    }

    &:checked + label:before {
      background: url(/static/sprite.png) 16px 0px;
    }

    & + label {
      cursor: default;
    }
  }
}

@media (min-width: 320px) {
  .proposal-radio_proposal {
    float: left;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .proposal-radio_proposal {
    margin-left: 250px;
  }
}