<div class="modal--sign-up modal-danger modal hide fade"
     role="dialog"
     tabindex="-1"
     aria-hidden="false"
     style="display: none;"
     ng-class="params.name">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button"><i class="icon icon--white-close"></i></button><h3><span class="header-offset h1-header">{{ t('WARNING') }}</span></h3></div>
    <div class="modal-body">
        <span>{{ params.text }}</span>
        <form>
            <textarea ng-model="params.message" ng-if="params.comment" style="width:200px;height:100px;clear:both;" name="rejectMessage" id="rejectMessage"></textarea><br>
            <div class="modal-reject__button-wrapper">
                <a ng-click="ok()" class="btn btn-default js-modal-ok">{{ params.ok }}</a>
                <a ng-click="cancel()" class="btn btn-red js-modal-cancel">{{ t('CANCEL') }}</a>
            </div>
        </form>
    </div>
    <div class="modal-footer">
    </div>
</div>