.analytics-table-container{
    /*height:301px;*/
    overflow: hidden;
    position: relative;
    width:940px;
    padding-bottom:40px;
}
.analytics-table-container.type-region{
    padding-bottom:40px;
    /*height:500px;*/
}
.analytics-table-container .analytic-table{
    background: #f0f0f0;
    color: #313136;
}
.analytics-table-container .analytic-table tr th{
    padding-top:40px !important;
}
.analytics-table-container .analytic-table .table-header-category,
.analytics-table-container .analytic-table .table-header-type{
    color: #313136;
}
.analytics-table-container .analytic-table tr td{
    border-bottom:1px solid #c4c4c4;
    padding:10px 10px 9px 10px;
    line-height:16px;
}
.analytics-table-container .analytic-table tr:nth-child(1) th{
    border-bottom:1px solid #c4c4c4;
}
.analytics-table-container .analytic-table tr:nth-child(1) th:first-child,
.analytics-table-container .analytic-table tr:nth-child(1) th:last-child{
   border-bottom:none;
}
.analytics-table-container .analytic-table tr th{
    padding:10px;
}

/************************ANALYTICS TABLE TYPE 1*********************************/
.analytics-table-container.table-type-1{
    line-height:1em;
}
.analytics-table-container.table-type-1 tr td{
    vertical-align: top;
}
.analytics-table-container.table-type-1 .analytic-table tr td:nth-last-child(5){
    border-right:1px solid #c4c4c4;
}
.analytics-table-container.table-type-1 .analytic-table tr td:nth-last-child(3){
    padding:0px;
}
.analytics-table-container.table-type-1 .analytic-table tr:nth-child(1) th:nth-child(3){
    padding:10px;
    vertical-align: bottom;
}
.analytics-table-container.table-type-1 .analytic-table tr:nth-child(1) th:nth-last-child(4){
    padding-left:0px;
    padding-bottom:0px;
    width: 110px;
}
.analytics-table-container.table-type-1 .analytic-table tr:nth-child(1) th:nth-last-child(4) .help-table-container .table-header-count{
    padding-bottom:10px;
}
.analytics-table-container.table-type-1 .analytic-table tr:nth-child(1) th:nth-last-child(4) .help-table-container .help-cell{
    padding-left:10px;
}

.analytics-table-container.table-type-1 .analytic-table tr:nth-child(1) th:nth-last-child(2){
    text-align: right;
}
.analytics-table-container.table-type-1 .analytic-table tbody tr:nth-child(1) td:nth-last-child(5){
    position:relative;
}
.analytics-table-container.table-type-1 .analytic-table tbody tr:nth-child(1) td{
    padding-top:40px;
}
/*.analytics-table-container.table-type-1 .analytic-table tbody tr:nth-child(1) td:nth-child(5):before{*/
    /*content: '';*/
    /*background: url("img/rating_number.png") no-repeat 0px 0px;*/
    /*width: 12px;*/
    /*height: 12px;*/
    /*position:absolute;*/
    /*top:23px;*/
    /*left:5px;*/
/*}*/
.analytics-table-container.table-type-1 .analytic-table tr:nth-child(n+1) td:nth-child(4) .progress-bar{
    float:right;
}
.analytics-table-container.table-type-1 .analytic-table tr:nth-child(n+1) td:nth-child(1){
    border-bottom:none;
}
.analytics-table-container.table-type-1 .analytic-table tr:nth-child(n+1) td:last-child{
    border-bottom:none;
}
.analytics-table-container.table-type-1 .analytic-table tr:nth-child(1) th:nth-last-child(4) .help-row:nth-child(3){
    border-left:1px solid #c4c4c4;
}
/*.analytics-table-container.table-type-1 .analytic-table tr:nth-child(n+1) td:nth-child(5){*/
    /*font-weight: bold;*/
/*}*/
.analytics-table-container.table-type-1 .custom_progress_bar.simple-progress{
    min-width:100px;
}
.analytics-table-container.table-type-1 .analytic-table tr th{
    vertical-align: top;
    width:100px;
    text-align:left;
    padding:10px;
}
.analytics-table-container.table-type-1 .analytic-table tbody tr td:nth-last-child(2){
    text-align: right;
}
.analytics-table-container.table-type-1 .analytic-table tr th:nth-child(3){
    font-weight: bold !important;
    font-size:16px;
}

.analytic-table{
    width:100%;
}
.analytics-table-container.table-type-1 .analytic-table tr th:nth-last-child(4),
.analytics-table-container.table-type-1 .analytic-table tr th:nth-last-child(2){
    width: 100px;
    padding-left:0px;
    padding-right:10px;
}
.analytics-table-container.table-type-1 .analytic-table tr th:nth-last-child(3){
    width:20px;
}
.analytics-table-container.table-type-1 .analytic-table tr td:nth-last-child(3){
    position:relative;
    width:20px;
}
.analytics-table-container.table-type-1 .analytic-table tr td:nth-last-child(3) .custom_progress_bar{
    position:absolute;
    left: 50%;
    top: 0px;
    margin-top: 15px;
    margin-left: -50px;
}
.analytics-table-container.table-type-1 .analytic-table tr:nth-child(1) td:nth-last-child(3) .custom_progress_bar{
    bottom:0px;
    top:100%;
    margin-top:-21px
}
/*.analytics-table-container.table-type-1 .analytic-table tr th:nth-child(8){*/
    /*width: 70px;*/
/*}*/
.analytics-table-container.table-type-1 .analytic-table tr th .table-header-category{
    vertical-align: top;
    padding:0px 0px 3px 0px;
}
.analytics-table-container.table-type-1 .analytic-table tr th .table-header-type{
    padding:0px 0px 0px 0px;
    font-size:12px;
}
.analytics-table-container.table-type-1 .analytic-table tr th{
    color: #313136;
}
.analytics-table-container.table-type-1 .analytic-table tr th .table-header-count{
    font-weight: bold !important;
    font-size:16px;
    vertical-align: bottom;
    padding:0px 0px 0px 0px;
}
/*********************************************************************************/


.analytic-table-head{
    width:940px;
    text-align: center;
    padding:15px 0px 17px 0px;
    background: #f0f0f0;
    position:relative;
    font-size:16px;
    font-family: MyriadPro-Semibold;
    text-transform: uppercase;
}
.header-line{
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height:1px;
}
.header-line div:nth-child(1){
    float:left;
    width:20px;
    height:1px;
}
.header-line div:nth-child(2){
    float:left;
    width:900px;
    background:#c4c4c4;
    height:1px;
}
.header-line div:nth-child(3){
    float:left;
    width:20px;
    height:1px;
}

.analytics-table-container .analytic-table .table-header{
    font-size:17px;
    font-weight:bold;
    text-align: center;
    line-height: 15px;
    padding: 15px;
}
.analytics-table-container .analytic-table tr td{
    font-size:16px;
}
/*************************ANALYTICS TABLE TYPE 2*****************************/
.analytics-table-container.table-type-2 .analytic-table tr th .header-help-table{
    color: #313136;

}
.analytics-table-container.table-type-2 .analytic-table tr th{
    text-align:left;
    padding-left:10px;
}
.analytics-table-container.table-type-2 .analytic-table tr th:nth-child(n+4),
.analytics-table-container.table-type-2 .analytic-table tr td:nth-child(n+4){
    padding-left:10px;
    padding-right:10px;
}
.analytics-table-container.table-type-2 .analytic-table tr td .custom_progress_bar.simple-progress .value{
    margin-bottom:3px;
}
.analytics-table-container.table-type-2 .analytic-table tr td .custom_progress_bar{
    /*width:60px;*/
    width:auto;
}
.analytics-table-container.table-type-2 .analytic-table tr th:nth-child(3){
    font-weight: bold !important;
    font-size:16px;
    vertical-align: bottom;
}
.analytics-table-container.table-type-2 .analytic-table tr th:nth-child(n+3) .table-header-count{
    font-weight:bold !important;
}
.analytics-table-container.table-type-2 .analytic-table tr:nth-child(1) td{
    padding-top:40px;
}
/*.analytics-table-container.table-type-2 .analytic-table tr td:nth-child(5){*/
    /*font-weight:bold;*/
/*}*/
.analytics-table-container.table-type-2 .analytic-table tr:nth-child(1) td:nth-child(5) div{
    position:relative;
}
/*.analytics-table-container.table-type-2 .analytic-table tr:nth-child(1) td:nth-child(5) div:nth-child(1):before{*/
    /*content: '';*/
    /*background: url("img/rating_number.png") no-repeat 0px 0px;*/
    /*width: 12px;*/
    /*height: 12px;*/
    /*position:absolute;*/
    /*top:-15px;left:0px;*/
/*}*/

.analytics-table-container.table-type-2 tr td{
    vertical-align:top;
}

.analytics-table-container.table-type-2 tr td:first-child,
.analytics-table-container.table-type-2 tr td:last-child{
    border-bottom:none;
}
.analytics-table-container.table-type-2 tr td:nth-child(n+1){
    text-align:left;
}
.analytics-table-container.table-type-2 .help-table-container{
    text-align:left;
    line-height:1em;
    width:100px;
}
.analytics-table-container.table-type-2 .help-table-container .table-header-type{
    padding-top:0px;
    font-size:12px;
}
.analytics-table-container.table-type-2 .help-table-container .table-header-count{
    padding-top:0px;
    font-size:16px;
}
/*.analytics-table-container.table-type-2 .rating-icon{*/
    /*background: url("img/rating_number.png") no-repeat 0px 0px;*/
    /*width: 12px;*/
    /*height: 12px;*/
    /*position:absolute;*/
    /*top:30px;left:10px;*/
/*}*/
/****************************************************************************************/

/*************************ANALYTICS TABLE TYPE 3*************************/
.analytics-table-container.table-type-3 tr th:nth-child(3){
    text-align: left;
    vertical-align: bottom;
    font-size:16px;
    font-family: MyriadPro-Semibold;
}
.analytics-table-container.table-type-3 tr th{
    text-align:left;
    padding:20px 10px 10px 10px;
    line-height:1em;
}
.analytics-table-container.table-type-3 tr th .table-header-count{
    font-family: MyriadPro-Semibold;
    font-size:16px;
}
.analytics-table-container.table-type-3 .help-table-container .table-header-category{
    padding:0 0 3px 0 ;
}
.analytics-table-container.table-type-3 .help-table-container .table-header-type{
    /*padding-top:10px;*/
    font-size:12px;
}
.analytics-table-container.table-type-3 tr td:first-child,
.analytics-table-container.table-type-3 tr td:last-child{
    border-bottom:none;
}
.analytics-table-container.table-type-3 .analytic-table tr:nth-child(1) td:nth-child(5){
    position:relative;
}
.analytics-table-container.table-type-3 .analytic-table tr:nth-child(1) td{
    padding-top:46px;
}
/*.analytics-table-container.table-type-3 .analytic-table tr:nth-child(1) td:nth-child(5):before{*/
    /*content: '';*/
    /*background: url("img/rating_number.png") no-repeat 0px 0px;*/
    /*width: 12px;*/
    /*height: 12px;*/
    /*position:absolute;*/
    /*top: 25px;*/
    /*left: 5px;*/
/*}*/
.analytics-table-container.table-type-3 tr td{
    vertical-align:top;
}
.analytics-table-container.table-type-3 tr td .custom_progress_bar{
    margin-top:5px;
    width:100px;
}
.analytics-table-container.table-type-3 tr td:nth-child(3){

}
/*.analytics-table-container.table-type-3 tr td:nth-child(5),*/
/*.analytics-table-container.table-type-3 tr td:nth-child(7),*/
/*.analytics-table-container.table-type-3 tr td:nth-child(9){*/
    /*min-width:120px;*/
    /*line-height: 1em;*/
/*}*/
/*************************************************************************/


/************/
.simple-progress{
    min-width:70px;
}
/************/

.footer-more-button{
    text-align:center;
    padding:16px 0 15px 0;
    cursor:pointer;
    position:absolute;
    bottom: 0px;
    font-size:14px;
    width:940px;
    background: #f0f0f0;
    z-index: 1;
}
.grid-table{
    position:relative;
    margin-top: 0px;
    margin-bottom: 20px;
    background-color:#f0f0f0;
    width:940px;
    overflow: hidden;
}

/**********************/

.analytics-table-container .help-table-container{
    height: 100%;
    min-height: 100%;
    display: inline-block;
}
.analytics-table-container .header-help-table{
    display:table;
    height:100%;
    min-height:100%;
}
.analytics-table-container .header-help-table .help-row{
    display:table-row;
}
.analytics-table-container .header-help-table .help-row .help-cell{
    display:table-cell;
    min-height:100%;
    height:100%;
}

.analytics-table-container .header-help-table .help-row .help-cell:nth-child(1){
    vertical-align: top;
}
.analytics-table-container .header-help-table .help-row .help-cell:nth-child(2){
    vertical-align: bottom;
}
.analytics-table-container .header-help-table .help-row .help-cell:nth-child(3){
    vertical-align: bottom;
}
.analytics-table-container .header-help-table .table-header-count{
    margin-top:15px;
    font-size:16px;
}

/**********************/
.analytics-table-container .analytic-table tr th:first-child,
.analytics-table-container .analytic-table tr th:last-child{
    padding:0px !important;
    width:20px;
}
.analytics-table-container.table-type-3 .analytic-table tr td .progress-bar{
    float:right;
    min-width: 1px;
}
/*.analytics-table-container.table-type-2 tr td .custom_progress_bar{*/
    /*margin-top:5px;*/
/*}*/
.analytics-table-container.table-type-1 tr td .custom_progress_bar{
    margin-top:5px;
}
.analytics-table-container.table-type-1 tr th:nth-child(3){
     text-align: left;
     vertical-align: bottom;
     font-size:16px;
     font-family: MyriadPro-Semibold;
 }
.analytics-table-container.table-type-1 tr th .table-header-count{
    font-family: MyriadPro-Semibold;
    font-size:16px;
}
.analytics-table-container.table-type-2 tr th:nth-child(3){
    text-align: left;
    vertical-align: bottom;
    font-size:16px;
    font-family: MyriadPro-Semibold;
 }
.analytics-table-container.table-type-2 tr th .table-header-count{
    font-family: MyriadPro-Semibold;
    font-size:16px;
}
.analytics-table-container.table-type-3 .analytic-table tr td:nth-child(2n+5){
    width:120px;
}
.analytics-table-container.table-type-2 .analytic-table tr td:nth-child(n+4){
    width:120px;
}

.analytics-table-container .analytic-table tbody tr:nth-child(n+1):hover{
    background:#e5e5e5;
}

.analytics-table-container .analytic-table tbody tr:nth-child(n+1):hover td:first-child,
.analytics-table-container .analytic-table tbody tr:nth-child(n+1):hover td:last-child{
    background: #f0f0f0;
}
.analytics-table-container .analytic-table tr:nth-child(n+2):hover td .custom_progress_bar .progress{
    background-color: #d2d2d2;
    background-image: -moz-linear-gradient(top, #d2d2d2, #d2d2d2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d2d2d2), to(#d2d2d2));
    background-image: -webkit-linear-gradient(top, #d2d2d2, #d2d2d2);
    background-image: -o-linear-gradient(top, #d2d2d2, #d2d2d2);
    background-image: linear-gradient(to bottom, #d2d2d2, #d2d2d2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2d2d2', endColorstr='#d2d2d2', GradientType=0);
}
.analytics-table-container .analytic-table tr:nth-child(1) th:first-child,
.analytics-table-container .analytic-table tr:nth-child(1) th:last-child{
    border-bottom:none;
    width:15px;
}
.analytics-table-container .analytic-table tr td:first-child,
.analytics-table-container .analytic-table tr td:last-child{
    border-bottom:none;
    width:15px;
}
.analytics-table-container .analytic-table tr th .help-table-container{
    width:100px;
}
.analytics-table-container .analytic-table tr th{
    width:100px;
}
.analytics-table-container .analytic-table tr th:nth-child(2){
    width:24px;
}
.analytics-table-container .analytic-table tr th:nth-child(3){
    width:auto;
}
.footer-more-button .arrow-open{
    margin-left:10px;
    width:9px;
    height:6px;
    background:url("img/arrow_hide_show_industry_table.png") top left no-repeat;
}