.p-h1 {
  margin: 0;
  padding:0;
}

.p-bottom-2 {
  bottom: 20px !important;
}

.p-no-t-padding {
  padding-top: 0 !important;
}

.p-fill-r-2 {
  padding-right: 20px !important;
}

.p-fill-l-2 {
  padding-left: 20px !important;
}

.p-inline {
  display: inline-block;
}

.p-pull-clear {
  clear: both;
  float: none !important;
}

.offset-l-23 {
  margin-left: 230px !important;
}

.f-h1 {
  font-weight: normal!important;
  font-family: MyriadPro-Light!important;
  letter-spacing: 0.02em;
  font-size: 34px;
  line-height: 34px;
}

.f-pull-center {
  text-align: center !important;
}

button.d-bg-success,
div.d-bg-success,
span.d-bg-success,
label.d-bg-success,
a.d-bg-success,
.d-bg-success,
.d-bg-success--hover:hover, .d-bg-success--focus:focus {
  background: #a0d468 !important;
}

.active > .d-bg-success {
  background: #51d891 !important;
}

.expert-card {
  width: 299.5px;
  height: 177px;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  float: left;
  margin: 0 0 20px 20px;
  img {
    border-radius: 50%;
  }
}

.items-blog {
  margin-left: -20px;
  margin-right: 0;
  margin-top: -4px;
}

.right-part-post {
  margin-top: 13px;
}

.right-part {
  float: left;
  margin-top: 53px;
  width: 159.5px;
}

.left-part-count-blog {
  text-align: center;
}

.b-switch-list-view--as-block--big {
  text-align: center !important;

  .b-switch-list-view__item {
    margin: 0 !important;
    display: inline-block;
    height: auto;
    background: transparent !important;
    width: 100%;
    .b-switch-list-view__cell {
      &.b-switch-list-view__cell--name {
        padding-bottom: 50px;
        bottom: 2px !important;
        position: relative;
        height: auto !important;
        width: 100% !important;
        color: #515056 !important;
        background: #efefef !important;
        text-align: left;
      }
      &.b-switch-list-view__cell--region {
        width: 100%;
        left: 0;
        bottom: auto !important;
        top: 325px !important;
      }
      &.b-switch-list-view__cell--background {
        position: relative !important;
        height: 350px;
        img {
          z-index: 0;
          height: 99.5%;
        }
      }
    }
  }

}

.b-switch-list-view--as-block--big {
  .b-switch-list-view__cell--region {
    .p-pull-left {
      margin-left: 4px;
      letter-spacing: 0.1px;
    }
  }
}

.b-switch-list-view--as-block--big {
  .b-switch-list-view__cell--name {
    padding-top: 30px !important;
    padding-left: 20px !important;
    letter-spacing: 0px;
  }
}

.header-right-column {
  letter-spacing: 0.5px;
  position: relative;
  right: 2px;
  h2 {
    font-size: 24px !important;
  }
}

.b-switch-list-view-blog {
  width: 299.5px !important;
}

.blog-page .b-switch-list-view {
  margin-top: 1px !important;
}

.blog-page h1 {
  margin-bottom: 33px !important;
}

.blog-page .b-switch-list-view .b-switch-list-view--as-block--big .b-switch-list-view__item .b-switch-list-view__cell.b-switch-list-view__cell--region {
  top: 324px !important;
}

.blog-page .b-input-icon {
  right: 3px !important;
  top: 0 !important;
}

.blog-page .widget-SubscribeForm .control-group {
  margin-bottom: 10px !important;
}

.h1-page-blog {
  font-size: 34px;
  line-height: 34px;
  position: relative;
  top: -8px;
}

.offset-top-8 {
  margin-top: 8px;
}

.no-letter-s {
  letter-spacing: 0;
}

.offset-inputs {
  margin: 5px 0 !important;
  padding: 0 18px !important;
  letter-spacing: 0.025em;
}

.offset-inputs::-webkit-input-placeholder {
  position: relative !important;
  bottom: 1px !important;
  font-size: 16px !important;
  letter-spacing: 0.025em !important;
}

.offset-inputs::-moz-placeholder {
  position: relative !important;
  bottom: 1px !important;
  font-size: 16px !important;
  letter-spacing: 0.025em !important;
  opacity: 100;
}

.offset-inputs:-moz-placeholder {
  position: relative !important;
  bottom: 1px !important;
  font-size: 16px !important;
  letter-spacing: 0.025em !important;
  opacity: 100;
}

.offset-inputs:-ms-input-placeholder {
  position: relative !important;
  bottom: 1px !important;
  font-size: 16px !important;
  letter-spacing: 0.025em !important;
}

.offset-inputs-icon {
  margin: 5px -3px !important;
}

.email-icon {
  &:before {
    font-size: 24px !important;
    position: relative;
    top: 4px !important;
    left: 1px !important;
  }
}

.a2a_default_style a {
  padding: 0 10px 0 0 !important;
  margin-top: 20px;
  margin-bottom: 23px
}

.p-offset-small-blog-1 {
  margin-left: -9px
}

.p-offset-small-blog-2 {
  margin-left: 6px
}

.blog-page .b-items__item-offset--dot {
  top: -10px;
}

.popular-block {
  width: 100%;
  position: relative;
  top: -23px;
}

.popular-block-inner .b-items__item-offset,
.fresh-block-inner .b-items__item-offset {
  padding-bottom: 3px;
}

.popular-block-inner .b-items__item-offset:last-child,
.fresh-block-inner .b-items__item-offset:last-child {
  padding-bottom: 14px;
}

.popular-block-inner, .fresh-block-inner {
  position: relative;
  margin: 0 20px;
}

.popular-block-inner h2, .fresh-block-inner h2 {
  padding-top: 17px !important;
}

.fresh-block {
  width: 100%;
  bottom: 5px;
  position: relative;
}

.popular-fresh {
  position: relative;
  top: 15px;
}

.blog-page form {
  margin: 0 10px 42px 0 !important;
}

.blog-page .blog-main-img {
  position: relative;
}

.blog-page .blog-main-img div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
}

.blog-page .controls textarea {
  margin: 0 0 19px 0;
}

.blog-page .comment-header {
  margin: 16px 0 !important;
}

.blog-page .line-after-author {
  margin: 17px 0 36px 0;
}

.blog-page h1.blog-view-h1 {
  margin-bottom: 34px !important;
}

.inner-button {
  margin: 0 10px 10px 0 !important;
  padding: 2px 20px !important;
  font-size: 14px !important;
}

.b-switch-list-view__cell--background-blog {
  height: 168px !important;
}

.b-switch-list-view__cell--region-blog {
  bottom: 72px !important;
}

.fixed-width-blog-cards.p-bottom-2 {
  padding-top: 19px !important;
}

.tags {
  position: relative;
  bottom: 8px;

  h2 {
    padding-top: 20px;
    margin-bottom: 14px !important;
  }
  a {
    color: #505055;
  }
}

.b-switch-list-view__cell--name-blog {
  letter-spacing: 0.02em !important;
  padding-left: 18px !important;
  line-height: 17px !important;
}

.fixed-width-blog-cards {
  .p-pull-left {
    position: relative !important;
    left: 2px !important;
    letter-spacing: 0.01em;
  }
}

.fixed-width-blog-cards {
  width: 299.5px !important;
}

.indent-bottom-blog {
  margin-bottom: 24px !important;
}

.b-switch-list-view .b-switch-list-view--as-block--big {
  .p-pull-clear.p-inline.b-switch-list-view__item.b-switch-list-view__item {
    margin: 0 !important;
    height: auto;
    width: 100%;

    .b-switch-list-view__cell--background {
      position: relative !important;
      height: 350px;
      top: 0;
      width: 100%;
    }

    .b-switch-list-view__cell--name {
      position: relative;
      height: auto !important;
      width: 100% !important;
    }

    .b-switch-list-view__cell--region {
      width: 100%;
    }
  }
}

.b-button.d-bg-secondary-button.d-bg-tab--hover.d-text-dark.fixed-auto-width.offset-small-r.p-centralize-p.p-fill-r-2.p-fill-l-2.inner-button {
  background: #d2d2d2 !important;
  color: #505055 !important;
}

.expert-card {
  .left-part-logo {
    text-align: center;
    height: 80px;
    width: 80px;
    margin: 20px 20px 10px 20px;
  }
  .left-part-count-blog {
    width: 120px;
  }

  .right-part-name {
    font-size: 20px;
  }
}

.f-h1.p-h1.h1-header {
  padding-top: 12px;
  margin-bottom: 34px;
}