/* social icons */

[class*=social-icon-] {
  width: 30px;
  height: 30px;
  display: inline-block;
}

[class*=social-icon-blog] {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.social-icon-blog-facebook {
  background: url('../img/blog-sprites.png') 0 0 no-repeat !important;
}

.social-icon-blog-iN {
  background: url('../img/blog-sprites.png') -50px 0 no-repeat !important;
}

.social-icon-blog-vkontakte {
  background: url('../img/blog-sprites.png') -100px 0 no-repeat !important;
}

.social-icon-google_oauth--active {
  @extend .social-icon-google_oauth:hover;
}

.social-icon-twitter--active {
  @extend .social-icon-twitter:hover;
}

.social-icon-facebook--active {
  @extend .social-icon-facebook:hover;
}

.social-icon-linkedin--active {
  @extend .social-icon-linkedin:hover;
}

.social-icon-vkontakte--active {
  @extend .social-icon-vkontakte:hover;
}
