.circle {
  display: inline-block;
  float: left;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 10px;
  border: solid 1px;

  &_muted {
    background: #d2d2d2;
    border-color: #d2d2d2;
  }

  &_danger {
    background: #f76c4b;
    border-color: #f76c4b;
  }

  &_primary {
    background: #44ade4;
    border-color: #44ade4;
  }

  &_success {
    background: #a0d46f;
    border-color: #a0d46f;
  }

  &_warning {
    background: none;
    border-color: #f76c4b;
  }
}