.picture {
  .upload-picture {
    width: 41px;
    height: 41px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .upload-picture:before {
    content: "";
    font-family: retinaicon-font !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-variant: normal !important;
    text-transform: none !important;
    line-height: 1;
    position: absolute;
    font-size: 24px;
    color: #fff;
    right: 9px;
    top: 11px;
  }
}

.btn {
  //width: 100%;
  height: 43px;
  text-shadow: none;
  border: none;
  border-radius: 3px;
  transition: all .1s;
  background: none;
  //color: #505055;
  position: relative;
}

.btn-default {
  background: #fff;
}

.back-to-list {
  padding-left: 30px;
  padding-right: 30px;
  width: auto;
  border: 1px #D2D2D2 solid;
  height: 35px;
  padding-top: 8px;

  i {
    font-family: retinaicon-font;
    font-style: normal;
    display: block;
    float: left;
    margin-right: 10px;
  }
}

.get-report.btn-orange {
  margin-top: 9px;
  padding-top: 8px;
}

.print {
  font-family: retinaicon-font !important;
  width: 35px;
  height: 35px;
  background: #3699D0;
  color: #fff;
  font-size: 24px;
  padding: 5px 0 0 0;
}

.btn-primary {
  background: #44ADE4;
}

.send, .download {
  width: auto;
  height: 35px;
  color: #fff;
  padding: 9px 0 4px 15px;

  i {
    display: block;
    float: right;
    width: 35px;
    height: 35px;
    margin-top: -11px;
    background: #3D9BCE;
    border: medium none;
    border-radius: 3px;
    margin-top: -9px;
    position: relative;
    margin-left: 15px;
  }

  i:before {
    position: absolute;
    font-family: retinaicon-font!important;
    content: "";
    top: 10px;
    right: 6px;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
  }
}

.btn-success {
  background: #A0D468;

  i {
    background: #8EBA5B;
  }
}

.send, .print, .download {
  float: right;
  margin-left: 10px;
}

.btn-orange, .btn-green {
  padding-top: 12px;
  width: 224px;
}

.btn-orange {
  background: #f08c00;
  color: #fff;
}

.btn-orange:hover {
  background: #d87e00;
  color: #FFF;
}

.btn-orange:active, .btn-orange:focus  {
  background: #c07000;
  color: #FFF;
}

.btn-green {
  background: #a0d468;
  color: #fff;
}

.btn-green:hover {
  background: #90be5d;
  color: #FFF;
}

.btn-green:active, .btn-green:focus  {
  background: #80aa53;
  color: #FFF;
}

.edit:before, .remove:before {
  font-size: 19px;
  right: 2px;
  position: absolute;
  color: #fff;
  text-shadow: initial;
}

.list-unstyled, .table {
  .edit, .remove {
    width: 24px;
    height: 24px;
    background: #d2d2d2;
    border: none;
    margin: 5px;
  }

  .edit {
    background: #f08c00;
  }

  .edit:hover {
    background: #d87e00;
  }

  .edit:active {
    background: #c07000;
  }

  .remove {
    background: #d2d2d2;
  }

  .remove:hover {
    background: #fa694c;
  }

  .remove:active {
    background: #c8543d;
  }
}

.table {
  .edit:before {
    right: 2px;
  }

  .remove:before {
    right: 2px;
    margin-top: 1px;
  }
}

.btn-blue {
  &:before {
    font-size: 24px;
    font-family: "retinaicon-font";
    content: attr(data-icon);
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-top: -10px;
    right: 10px;
    position: absolute;
  }

  background: #44ADE4;
  color: #fff;
  height: 43px;
  text-align: center;
  box-sizing: border-box;
  margin: 0 10px 10px 0;
  display: inline-block;
  letter-spacing: 0.3px;
  line-height: 22px;
}

.btn-blue.print {
  width: 43px;
  padding: 0;
  float: left;
}

.btn-blue:last-child {
  margin-right: 0;
}

.buttons {
  float: right;

  .btn {
    margin-bottom: 0;
  }

  .btn-orange {
    width: auto;
    padding-top: 8px;
  }
}