.orgplan {
  width: 270px;
}
.orgplan h2 {
  padding-top: 0 !important;
  margin-top: 47px;
  margin-bottom: 6px !important;
  display: block;
  float: left;
  width: 100%;
}
.orgplan .header .description {
  font-size: 18px;
}
.orgplan .table td {
  border-bottom: 1px solid #dddddd;
  border-top: none;
}
.orgplan .table thead {
  background: #F0F0F0;
}
.orgplan .table.two-cols td {
  width: 50%;
}
.orgplan .table.cols-2 td {
  width: 25%;
}
.orgplan .table.cols-4 td {
  width: 20%;
}
.orgplan .proposal-grid {
  margin: 20px 0 200px 0;
}
.orgplan .proposal-grid tr:hover a {
  display: inline;
}
.orgplan .proposal-grid input {
  width: auto;
  height: 30px;
}
.orgplan .proposal-grid .pull-left {
  float: left;
}
.orgplan .proposal-grid .pull-right a,
.orgplan .proposal-grid .buttons a {
  text-decoration: none;
}
.orgplan .proposal-grid .pull-right label,
.orgplan .proposal-grid .buttons label {
  width: 100px;
  height: 23px;
  text-align: center;
  margin: 0;
  padding-top: 2px;
  border-radius: 3px;
}
.orgplan .proposal-grid .pull-right label.small,
.orgplan .proposal-grid .buttons label.small {
  width: 23px;
  font-family: retinaicon-font !important;
  padding: 3px 5px;
  color: #fff;
  height: 23px;
  cursor: default;
}
.orgplan .proposal-grid td {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 33px;
  padding: 8px 10px 8px 10px;
  vertical-align: top;
}
.orgplan .proposal-grid td.date-column {
  min-width: 127px;
}
.orgplan .proposal-grid .sort-link {
  min-width: 100px;
}
.orgplan .proposal-grid .sort-link .caret {
  left: auto;
  right: -10px;
  border: none;
}
.orgplan .proposal-grid .sort-link.asc .caret {
  top: 7px;
}
.orgplan .proposal-grid .sort-link.desc .caret {
  top: 7px;
}
.orgplan .proposal-grid .sort-link {
  min-width: unset;
}
.orgplan .picture .upload-picture {
  width: 41px;
  height: 41px;
  position: absolute;
  top: 0;
  right: 0;
}
.orgplan .picture .upload-picture:before {
  content: "";
  font-family: retinaicon-font !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  position: absolute;
  font-size: 24px;
  color: #fff;
  right: 9px;
  top: 11px;
}
.orgplan .btn {
  height: 43px;
  text-shadow: none;
  border: none;
  border-radius: 3px;
  transition: all .1s;
  background: none;
  position: relative;
}
.orgplan .btn-default {
  background: #fff;
}
.orgplan .back-to-list {
  padding-left: 30px;
  padding-right: 30px;
  width: auto;
  border: 1px #D2D2D2 solid;
  height: 35px;
  padding-top: 8px;
}
.orgplan .back-to-list i {
  font-family: retinaicon-font;
  font-style: normal;
  display: block;
  float: left;
  margin-right: 10px;
}
.orgplan .get-report.btn-orange {
  margin-top: 9px;
  padding-top: 8px;
}
.orgplan .print {
  font-family: retinaicon-font !important;
  width: 35px;
  height: 35px;
  background: #3699D0;
  color: #fff;
  font-size: 24px;
  padding: 5px 0 0 0;
}
.orgplan .btn-primary {
  background: #44ADE4;
}
.orgplan .send,
.orgplan .download {
  width: auto;
  height: 35px;
  color: #fff;
  padding: 9px 0 4px 15px;
}
.orgplan .send i,
.orgplan .download i {
  display: block;
  float: right;
  width: 35px;
  height: 35px;
  margin-top: -11px;
  background: #3D9BCE;
  border: medium none;
  border-radius: 3px;
  margin-top: -9px;
  position: relative;
  margin-left: 15px;
}
.orgplan .send i:before,
.orgplan .download i:before {
  position: absolute;
  font-family: retinaicon-font !important;
  content: "";
  top: 10px;
  right: 6px;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
}
.orgplan .btn-success {
  background: #A0D468;
}
.orgplan .btn-success i {
  background: #8EBA5B;
}
.orgplan .send,
.orgplan .print,
.orgplan .download {
  float: right;
  margin-left: 10px;
}
.orgplan .btn-orange,
.orgplan .btn-green {
  padding-top: 12px;
  width: 224px;
}
.orgplan .btn-orange {
  background: #f08c00;
  color: #fff;
}
.orgplan .btn-orange:hover {
  background: #d87e00;
  color: #FFF;
}
.orgplan .btn-orange:active,
.orgplan .btn-orange:focus {
  background: #c07000;
  color: #FFF;
}
.orgplan .btn-green {
  background: #a0d468;
  color: #fff;
}
.orgplan .btn-green:hover {
  background: #90be5d;
  color: #FFF;
}
.orgplan .btn-green:active,
.orgplan .btn-green:focus {
  background: #80aa53;
  color: #FFF;
}
.orgplan .edit:before,
.orgplan .remove:before {
  font-size: 19px;
  right: 2px;
  position: absolute;
  color: #fff;
  text-shadow: initial;
}
.orgplan .list-unstyled .edit,
.orgplan .table .edit,
.orgplan .list-unstyled .remove,
.orgplan .table .remove {
  width: 24px;
  height: 24px;
  background: #d2d2d2;
  border: none;
  margin: 5px;
}
.orgplan .list-unstyled .edit,
.orgplan .table .edit {
  background: #f08c00;
}
.orgplan .list-unstyled .edit:hover,
.orgplan .table .edit:hover {
  background: #d87e00;
}
.orgplan .list-unstyled .edit:active,
.orgplan .table .edit:active {
  background: #c07000;
}
.orgplan .list-unstyled .remove,
.orgplan .table .remove {
  background: #d2d2d2;
}
.orgplan .list-unstyled .remove:hover,
.orgplan .table .remove:hover {
  background: #fa694c;
}
.orgplan .list-unstyled .remove:active,
.orgplan .table .remove:active {
  background: #c8543d;
}
.orgplan .table .edit:before {
  right: 2px;
}
.orgplan .table .remove:before {
  right: 2px;
  margin-top: 1px;
}
.orgplan .btn-blue {
  background: #44ADE4;
  color: #fff;
  height: 43px;
  text-align: center;
  box-sizing: border-box;
  margin: 0 10px 10px 0;
  display: inline-block;
  letter-spacing: 0.3px;
  line-height: 22px;
}
.orgplan .btn-blue:before {
  font-size: 24px;
  font-family: "retinaicon-font";
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-top: -10px;
  right: 10px;
  position: absolute;
}
.orgplan .btn-blue.print {
  width: 43px;
  padding: 0;
  float: left;
}
.orgplan .btn-blue:last-child {
  margin-right: 0;
}
.orgplan .buttons {
  float: right;
}
.orgplan .buttons .btn {
  margin-bottom: 0;
}
.orgplan .buttons .btn-orange {
  width: auto;
  padding-top: 8px;
}
.orgplan .no-layout-form {
  box-sizing: border-box;
  width: 300px;
}
.orgplan .no-layout-form form.orgplan-form .controls input[type=password] {
  width: 290px;
}
.orgplan .no-layout-form form.orgplan-form .controls input[type=submit] {
  margin-right: 0;
  font-family: MyriadPro-Light;
}
.orgplan .result {
  font-family: MyriadPro-Semibold;
  float: right;
}
.orgplan .total {
  float: right;
  font-family: MyriadPro-Semibold;
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 24px;
  margin-top: 7px;
}
.orgplan .total + hr {
  margin-bottom: 50px;
  width: 100%;
}
.orgplan .picture {
  margin-top: 47px;
  margin-left: 20px;
  position: relative;
}
.orgplan .picture img {
  border-radius: 3px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
  width: 240px;
}
.orgplan .logotype {
  width: 240px;
}
.orgplan .picture.avatar {
  width: 150px;
  height: 150px;
}
.orgplan .list-unstyled {
  padding-left: 0;
  list-style: none;
}
.orgplan .list-unstyled li {
  border-bottom: 1px solid #d2d2d2;
}
.orgplan .list-unstyled li .avatar {
  width: 36px;
  height: 36px;
  display: block;
  float: left;
  background-image: url('../img/user/no-avatar.png');
  background-position: center;
  background-repeat: no-repeat;
  margin: 13px 0 14px 10px;
  background-size: cover;
  padding: 0;
  border-radius: 50%;
}
.orgplan .list-unstyled li .avatar img {
  border-radius: 50px;
  width: 100%;
  height: 100%;
}
.orgplan .list-unstyled li .wrap {
  float: right;
}
.orgplan .list-unstyled li .name,
.orgplan .list-unstyled li .position,
.orgplan .list-unstyled li .phone,
.orgplan .list-unstyled li .email,
.orgplan .list-unstyled li .surname {
  display: block;
}
.orgplan .list-unstyled li .name,
.orgplan .list-unstyled li .phone,
.orgplan .list-unstyled li .surname {
  margin-top: 13px;
}
.orgplan .list-unstyled li .name,
.orgplan .list-unstyled li .surname {
  float: left;
  margin-right: 5px;
}
.orgplan .list-unstyled li .position {
  color: #afafaf;
  width: 100%;
  float: left;
  margin-bottom: 13px;
}
.orgplan li:hover {
  background: #F0F0F0;
}
.orgplan li:hover a {
  display: block;
}
.orgplan tr:hover {
  background: #F0F0F0;
}
.orgplan tr:hover a {
  display: block;
}
.orgplan .js-exponent-list tr:hover {
  background: #F0F0F0;
}
.orgplan .js-exponent-list tr:hover a {
  display: inline-block;
}
.orgplan .edit,
.orgplan .remove {
  display: none;
}
.orgplan .b-grid-view tbody tr td:last-child {
  padding: 0px 8px 0px 8px !important;
}
.orgplan .actions {
  width: 90px;
  min-width: 90px;
}
.orgplan form.orgplan-form label.control-label {
  padding-top: 20px;
  text-align: right;
}
.orgplan form.orgplan-form .control-group {
  float: left;
  width: 100%;
  display: block;
}
.orgplan form.orgplan-form .controls input[type="text"],
.orgplan form.orgplan-form .controls input[type="password"] {
  background: #fff;
  border-radius: 3px;
  border: solid 1px #d2d2d2;
  transition: all .1s;
  width: 100%;
  box-shadow: none;
}
.orgplan form.orgplan-form .controls input[type="text"]:hover,
.orgplan form.orgplan-form .controls input[type="password"]:hover {
  background: #f0f0f0;
}
.orgplan form.orgplan-form .controls input[type="text"]:focus,
.orgplan form.orgplan-form .controls input[type="password"]:focus {
  background: #e1e1e1;
}
.orgplan form.orgplan-form .controls input[type="submit"] {
  width: 140px;
  height: 40px;
  float: right;
  margin: 47px 10px 0 0;
  padding-top: 7px;
}
.orgplan form.orgplan-form .controls .profile-back-button {
  width: 140px;
  height: 40px;
  margin: 47px 0 0 10px;
  line-height: 20px;
  float: left;
}
.orgplan form.orgplan-form .controls .error {
  margin: 0;
  color: #b94a48;
}
.orgplan .list-auto-complete {
  margin: 0;
  padding: 10px 0 10px 0;
}
.orgplan .list-auto-complete .list-auto-complete__drop-button {
  color: #505055;
}
.orgplan .list-auto-complete.active .list-auto-complete__drop-button::before {
  top: 44px;
}
.orgplan .list-auto-complete.active .list-auto-complete__drop-button {
  background: #e1e1e1;
}
.orgplan .list-auto-complete__drop-button {
  background: #fff;
  border-radius: 3px;
  border: solid 1px #d2d2d2;
  transition: all .1s;
  width: 100%;
}
.orgplan .list-auto-complete__drop-button:hover {
  background: #f0f0f0;
}
.orgplan .nav > li > a {
  display: block;
  width: 100%;
  height: 100%;
  float: left;
  padding: 11px 0 0 6px;
  margin: 0;
}
.orgplan .dropdown-menu > li > a {
  text-align: left;
}
.orgplan .dropdown-menu > li > a:hover,
.orgplan .dropdown-menu > li > a:focus {
  background: #F0F0F0;
  color: #333333;
}
.orgplan .nav .dropdown-menu {
  left: 0px;
  margin-top: 48px;
  border-radius: 3px;
  overflow-y: auto;
  max-height: 300px;
}
.orgplan .nav .open .dropdown-toggle:after,
.orgplan .nav .open .dropdown-toggle:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.orgplan .nav .open .dropdown-toggle:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 6px;
  margin-left: 0px;
  position: absolute;
  top: 37px;
  left: 20px;
  z-index: 1001;
}
.orgplan .nav .open .dropdown-toggle:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #c2c2c2;
  border-width: 7px;
  margin-left: -1px;
  position: absolute;
  top: 35px;
  left: 20px;
  z-index: 1;
}
.orgplan .nav .dropdown-toggle {
  background: none;
  color: #fff;
  text-shadow: unset;
}
.orgplan .nav .dropdown-toggle .caret {
  display: block;
  float: right;
  width: 40px;
  height: 40px;
  margin-top: -11px;
  background: #8DC153;
  border: medium none;
  border-radius: 3px;
}
.orgplan .nav .dropdown-toggle .caret:before {
  display: block;
  position: absolute;
  font-family: retinaicon-font !important;
  content: "";
  top: 12px;
  right: 7px;
  font-size: 24px;
  font-weight: normal;
}
.orgplan .nav .dropdown-toggle:hover {
  background: none;
  color: #fff;
}
.orgplan .nav .dropdown-toggle:focus {
  background: none;
  color: #fff;
}
.orgplan .nav.btn-green {
  padding: 0;
  width: 160px;
  height: 40px;
}
.orgplan .cgrid-view {
  margin-top: 20px;
}
.orgplan .cgrid-view .pull-right a {
  text-decoration: none;
}
.orgplan .cgrid-view .pull-right label {
  width: 100px;
  height: 23px;
  text-align: center;
  margin-top: -3px;
  padding-top: 2px;
  border-radius: 3px;
}
.orgplan .cgrid-view .pull-right label:hover {
  text-decoration: none;
}
.orgplan .cgrid-view .header td {
  height: 33px;
  padding: 8px 10px 0 10px;
  border-bottom: 1px solid #ddd;
}
.orgplan .cgrid-view td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 24px;
  padding: 4px 10px 0 10px;
  border: none;
}
.orgplan .cgrid-view td.date-column {
  width: 100px;
}
.orgplan .cgrid-view .sort-link {
  min-width: 110px;
  display: block;
  font-weight: bold;
  cursor: pointer;
}
.orgplan .cgrid-view .sort-link .arrow {
  margin-left: 6px;
  top: -1px;
}
.orgplan .cgrid-view .sort-link .arrow:before {
  display: none;
  content: '';
  margin-left: 0px;
  top: -1px;
  font-size: 10px;
}
.orgplan .cgrid-view .sort-link .arrow-up {
  margin-left: 6px;
  top: -2px;
}
.orgplan .cgrid-view .sort-link:hover .arrow:before,
.orgplan .cgrid-view .sort-link.active .arrow:before {
  display: block;
}
.orgplan .cgrid-view .first-row {
  height: 10px;
}
.orgplan .cgrid-view .header {
  font-family: MyriadPro-Semibold;
}
.orgplan .cgrid-view .empty {
  content: '';
  display: inline-block;
  position: relative;
  top: 6px;
  height: 6px;
  width: 9px;
  border: none;
  margin-right: 7px;
}
.orgplan .cgrid-view .arrow {
  content: '';
  display: inline-block;
  position: relative;
  height: 6px;
  width: 9px;
  border: none;
  margin-right: 7px;
  top: -3px;
}
.orgplan .cgrid-view .arrow:before {
  content: "";
  font-family: retinaicon-font !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  position: absolute;
  font-size: 10px;
  color: #000;
  transition: all 0.1s;
}
.orgplan .cgrid-view .arrow-close:before {
  transform: rotate(-90deg);
}
.orgplan .cgrid-view .arrow-up:before {
  transform: rotate(-180deg);
}
.orgplan .cgrid-view [data-expand-btn] {
  cursor: pointer;
}
.orgplan .cgrid-view [data-expand] {
  display: none;
}
.orgplan .modal-danger .modal-header {
  background: #fa694c;
}
.orgplan .modal-danger .modal-header .header-offset {
  margin: 0 !important;
  color: #fff;
}
.orgplan .modal-danger .modal-header h3 {
  padding: 25px 0 22px 0!important;
}
.orgplan .modal-danger .modal-body {
  text-align: center;
}
.orgplan .modal-danger .modal-body span {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}
.orgplan .modal-danger .btn {
  color: #fff;
  height: 43px;
  text-shadow: none;
  border: none;
  transition: all .1s;
  border-radius: 0;
  width: auto;
}
.orgplan .modal-danger .btn-orange {
  padding-top: 8px;
}
.orgplan .modal-danger .btn-orange {
  background: #f08c00;
}
.orgplan .modal-danger .btn-orange:hover {
  background: #d87e00;
  color: #FFF;
}
.orgplan .modal-danger .btn-orange:active,
.orgplan .modal-danger .btn-orange:focus {
  background: #c07000;
  color: #FFF;
}
.orgplan .thead-row td {
  padding: 17px 10px;
}
.orgplan .b-switch-list-view .b-switch-list-view__items .items .b-switch-list-view__item-fair {
  height: 210px;
}
.js-ajax-tab {
  margin-top: 80px;
}
.page-my-fair__wrapper .modal-danger .modal-header,
.orgplan .modal-danger .modal-header {
  background: #fa694c;
}
.page-my-fair__wrapper .modal-danger .modal-header .header-offset,
.orgplan .modal-danger .modal-header .header-offset {
  margin: 0 !important;
  color: #fff;
}
.page-my-fair__wrapper .modal-danger .modal-header h3,
.orgplan .modal-danger .modal-header h3 {
  padding: 25px 0 22px 0!important;
}
.page-my-fair__wrapper .modal-danger .modal-body,
.orgplan .modal-danger .modal-body {
  text-align: center;
}
.page-my-fair__wrapper .modal-danger .modal-body span,
.orgplan .modal-danger .modal-body span {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}
.page-my-fair__wrapper .modal-danger .btn,
.orgplan .modal-danger .btn {
  color: #fff;
  height: 43px;
  text-shadow: none;
  border: none;
  transition: all .1s;
  border-radius: 0;
  width: 100px;
}
.page-my-fair__wrapper .modal-danger .btn-orange,
.orgplan .modal-danger .btn-orange {
  padding-top: 8px;
}
.page-my-fair__wrapper .modal-danger .btn-orange,
.orgplan .modal-danger .btn-orange {
  background: #f08c00;
}
.page-my-fair__wrapper .modal-danger .btn-red,
.orgplan .modal-danger .btn-red {
  background: #FA694C;
  border: 1px solid #FA694C;
}
.page-my-fair__wrapper .modal-danger .btn-default,
.orgplan .modal-danger .btn-default {
  background: #fff;
  color: #505055;
  border: 1px solid #d1d1d1;
}
.page-my-fair__wrapper .modal-danger .btn-orange:hover,
.orgplan .modal-danger .btn-orange:hover {
  background: #d87e00;
  color: #FFF;
}
.page-my-fair__wrapper .modal-danger .btn-orange:active,
.orgplan .modal-danger .btn-orange:active,
.page-my-fair__wrapper .modal-danger .btn-orange:focus,
.orgplan .modal-danger .btn-orange:focus {
  background: #c07000;
  color: #FFF;
}
@media (min-width: 768px) {
  .orgplan {
    width: 670px;
  }
  .orgplan .avatar {
    margin: 13px 15px 14px 10px;
  }
}
@media (min-width: 992px) {
  .orgplan {
    width: 890px;
  }
}
@media (min-width: 1200px) {
  .orgplan {
    width: 960px;
  }
}
.add-fair {
  float: left;
  margin-right: 5px;
}
.add-fair .text-link {
  color: white;
  background: #f08c00 !important;
  padding: 12px;
  display: block;
  float: left;
  height: 40px;
  line-height: 16px;
}
.add-fair .text-link:hover {
  background: #dc7800 !important;
}
.add-fair .btn-icon {
  color: white;
  background: #f6a800 !important;
  display: block;
  float: left;
  height: 40px;
  padding: 9px;
}
.add-fair .btn-icon:before {
  font-size: 24px;
}
.add-fair:hover .text-link {
  background: #dc7800 !important;
}
.add-fair:hover .btn-icon {
  background: #f08c00 !important;
}
.b-switch-list-view--as-row .add-fair {
  float: right;
}
.b-switch-list-view--as-row .add-fair .text-link {
  color: white;
  background: #f08c00 !important;
  padding: 6px 10px 4px 10px;
  display: block;
  float: left;
  height: auto;
  font-size: 14px;
  line-height: 14px;
}
.b-switch-list-view--as-row .add-fair .text-link:hover {
  background: #dc7800 !important;
}
.b-switch-list-view--as-row .add-fair .btn-icon {
  color: white;
  background: #f6a800 !important;
  display: block;
  float: left;
  height: 24px;
  width: 24px;
  padding: 0;
  position: relative;
}
.b-switch-list-view--as-row .add-fair .btn-icon:before {
  font-size: 14px;
  position: absolute;
  left: 5px;
  top: 6px;
}
.b-switch-list-view--as-row .add-fair:hover .text-link {
  background: #dc7800 !important;
}
.b-switch-list-view--as-row .add-fair:hover .btn-icon {
  background: #f08c00 !important;
}
.b-switch-list-view--as-block .add-fair {
  display: none;
}
.add-to-favorite {
  float: left;
}
#industry_tab_container .add-to-favorite {
  margin: 12px;
}
#industry_tab_container h1 {
  float: left;
}
.organizer-profile {
  margin-top: 50px;
}
