@sm-screen: 768px;
@md-screen: 992px;
@lg-screen: 1200px;

@blue: #44ADE4;

.orgplan {
  width: 270px;

  @import "headers";
  @import "tables";
  @import "buttons";
  @import "reg-auth-recover";

  .result {
    font-family: MyriadPro-Semibold;
    float: right;
  }

  .total {
    float: right;
    font-family: MyriadPro-Semibold;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 24px;
    margin-top: 7px;
  }

  .total + hr {
    margin-bottom: 50px;
    width: 100%;
  }

  .picture {
    img {
      border-radius: 3px;
      box-shadow: 0 0 40px rgba(0,0,0,0.2) inset;
      width: 240px;
    }

    margin-top: 47px;
    margin-left: 20px;
    position: relative;
  }

  .logotype {
    width: 240px;
  }

  .picture.avatar {
    width: 150px;
    height: 150px;
  }

  .list-unstyled {
    padding-left: 0;
    list-style: none;

    li {
      border-bottom: 1px solid #d2d2d2;

      .avatar {
        width: 36px;
        height: 36px;
        display: block;
        float: left;
        background-image: url('../img/user/no-avatar.png');
        background-position: center;
        background-repeat: no-repeat;
        margin: 13px 0 14px 10px;
        background-size: cover;
        padding: 0;
        border-radius: 50%;

        img {
          border-radius: 50px;
          width: 100%;
          height: 100%;
        }
      }

      .wrap {
        float: right;
      }

      .name, .position, .phone, .email, .surname {
        display: block;
      }

      .name, .phone, .surname {
        margin-top: 13px;
      }

      .name, .surname {
        float: left;
        margin-right: 5px;
      }

      .position {
        color: #afafaf;
        width: 100%;
        float: left;
        margin-bottom: 13px;
      }
    }
  }

  li:hover {
    background: #F0F0F0;

    a {
      display: block;
    }
  }

  tr:hover {
    background: #F0F0F0;

    a {
      display: block;
    }
  }

  .js-exponent-list tr:hover {
    background: #F0F0F0;

    a {
      display: inline-block;
    }
  }

  .edit, .remove {
    display: none;
  }

  .b-grid-view tbody tr td:last-child {
    padding: 0px 8px 0px 8px !important;
  }

  .actions {
    width: 90px;
    min-width: 90px;
  }

  form.orgplan-form {
    label.control-label {
      padding-top: 20px;
      text-align: right;
    }

    .control-group {
      float: left;
      width: 100%;
      display: block;
    }

    .controls {
      input[type="text"], input[type="password"] {
        background: #fff;
        border-radius: 3px;
        border: solid 1px #d2d2d2;
        transition: all .1s;
        width: 100%;
        box-shadow: none;
      }

      input[type="text"]:hover, input[type="password"]:hover {
        background: #f0f0f0;
      }

      input[type="text"]:focus, input[type="password"]:focus {
        background: #e1e1e1;
      }

      input[type="submit"] {
        width: 140px;
        height: 40px;
        float: right;
        margin: 47px 10px 0 0;
        padding-top: 7px;
      }

      .profile-back-button {
        width: 140px;
        height: 40px;
        margin: 47px 0 0 10px;
        line-height: 20px;
        float: left;
      }

      .error {
        margin: 0;
        color: #b94a48;
      }
    }
  }

  .list-auto-complete {
    margin: 0;
    padding: 10px 0 10px 0;

    .list-auto-complete__drop-button {
      color: #505055;
    }
  }

  .list-auto-complete.active  {
    .list-auto-complete__drop-button::before {
      top: 44px;
    }

    .list-auto-complete__drop-button {
      background: #e1e1e1;
    }
  }

  .list-auto-complete__drop-button {
    background: #fff;
    border-radius: 3px;
    border: solid 1px #d2d2d2;
    transition: all .1s;
    width: 100%;
  }

  .list-auto-complete__drop-button:hover {
    background: #f0f0f0;
  }

  .nav > li > a {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    float: left;
    padding: 11px 0 0 6px;
    margin: 0;
  }

  .dropdown-menu > li > a {
    text-align: left;
  }

  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: #F0F0F0;
    color: #333333;
  }

  .nav {
    .dropdown-menu {
      left: 0px;
      margin-top: 48px;
      border-radius: 3px;
      overflow-y: auto;
      max-height: 300px;
    }

    .open {
      .dropdown-toggle:after, .dropdown-toggle:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      .dropdown-toggle:after {
        border-color: rgba(136,183,213,0);
        border-bottom-color: #fff;
        border-width: 6px;
        margin-left: 0px;
        position: absolute;
        top: 37px;
        left: 20px;
        z-index: 1001;
      }
      .dropdown-toggle:before {
        border-color: rgba(194,225,245,0);
        border-bottom-color: #c2c2c2;
        border-width: 7px;
        margin-left: -1px;
        position: absolute;
        top: 35px;
        left: 20px;
        z-index: 1;
      }
    }

    .dropdown-toggle {
      background: none;
      color: #fff;
      text-shadow: unset;

      .caret {
        display: block;
        float: right;
        width: 40px;
        height: 40px;
        margin-top: -11px;
        background: #8DC153;
        border: medium none;
        border-radius: 3px;
      }

      .caret:before {
        display: block;
        position: absolute;
        font-family: retinaicon-font !important;
        content: "";
        top: 12px;
        right: 7px;
        font-size: 24px;
        font-weight: normal;
      }
    }

    .dropdown-toggle:hover {
      background: none;
      color: #fff;
    }

    .dropdown-toggle:focus {
      background: none;
      color: #fff;
    }
  }

  .nav.btn-green {
    padding: 0;
    width: 160px;
    height: 40px;
  }

  .cgrid-view {
    margin-top: 20px;

    .pull-right {
      a {
        text-decoration: none;
      }

      label {
        width: 100px;
        height: 23px;
        text-align: center;
        margin-top: -3px;
        padding-top: 2px;
        border-radius: 3px;
      }

      label:hover {
        text-decoration: none;
      }
    }

    .header td {
      height: 33px;
      padding: 8px 10px 0 10px;
      border-bottom: 1px solid #ddd;
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 24px;
      padding: 4px 10px 0 10px;
      border: none;
    }

    td.date-column {
      width: 100px;
    }

    .sort-link {
      min-width: 110px;
      display: block;
      font-weight: bold;
      cursor: pointer;

      .arrow {
        margin-left: 6px;
        top: -1px;
      }

      .arrow:before {
        display: none;
        content: '';
        margin-left: 0px;
        top: -1px;
        font-size: 10px;
      }

      .arrow-up {
        margin-left: 6px;
        top: -2px;
      }
    }

    .sort-link:hover, .sort-link.active {
      .arrow:before {
        display: block;
      }
    }

    .first-row {
      height: 10px;
    }

    .header {
      font-family: MyriadPro-Semibold;
    }

    .empty {
      content: '';
      display: inline-block;
      position: relative;
      top: 6px;
      height: 6px;
      width: 9px;
      border: none;
      margin-right: 7px;
    }

    .arrow {
      content: '';
      display: inline-block;
      position: relative;
      height: 6px;
      width: 9px;
      border: none;
      margin-right: 7px;
      top: -3px;
    }

    .arrow:before {
      content: "";
      font-family: retinaicon-font !important;
      font-style: normal !important;
      font-weight: 400 !important;
      font-variant: normal !important;
      text-transform: none !important;
      line-height: 1;
      position: absolute;
      font-size: 10px;
      color: #000;
      transition: all 0.1s;
    }

    .arrow-close:before {
      transform: rotate(-90deg);
    }

    .arrow-up:before {
      transform: rotate(-180deg);
    }

    [data-expand-btn] {
      cursor: pointer;
    }

    [data-expand] {
      display: none;
    }
  }

  .modal-danger {
    .modal-header {
      background: #fa694c;

      .header-offset {
        margin: 0 !important;
        color: #fff;
      }

      h3 {
        padding: 25px 0 22px 0!important;
      }
    }

    .modal-body {
      text-align: center;

      span {
        display: block;
        width: 100%;
        margin-bottom: 30px;
      }
    }

    .btn {
      color: #fff;
      height:43px;
      text-shadow: none;
      border: none;
      transition: all .1s;
      border-radius: 0;
      width: auto;
    }

    .btn-orange {
      padding-top: 8px;
    }

    .btn-orange {
      background: #f08c00;
    }

    .btn-orange:hover {
      background: #d87e00;
      color: #FFF;
    }

    .btn-orange:active, .btn-orange:focus  {
      background: #c07000;
      color: #FFF;
    }
  }

  .thead-row td {
    padding: 17px 10px;
  }

  .b-switch-list-view .b-switch-list-view__items .items .b-switch-list-view__item-fair {
    height: 210px;
  }
}

.js-ajax-tab {
  margin-top: 80px;
}

.page-my-fair__wrapper, .orgplan {
  .modal-danger {
    .modal-header {
      background: #fa694c;

      .header-offset {
        margin: 0 !important;
        color: #fff;
      }

      h3 {
        padding: 25px 0 22px 0!important;
      }
    }

    .modal-body {
      text-align: center;

      span {
        display: block;
        width: 100%;
        margin-bottom: 30px;
      }
    }

    .btn {
      color: #fff;
      height:43px;
      text-shadow: none;
      border: none;
      transition: all .1s;
      border-radius: 0;
      width: 100px;
    }

    .btn-orange {
      padding-top: 8px;
    }

    .btn-orange {
      background: #f08c00;
    }

    .btn-red {
      background: #FA694C;
      border: 1px solid #FA694C;
    }

    .btn-default {
      background: #fff;
      color: #505055;
      border: 1px solid #d1d1d1;
    }

    .btn-orange:hover {
      background: #d87e00;
      color: #FFF;
    }

    .btn-orange:active, .btn-orange:focus  {
      background: #c07000;
      color: #FFF;
    }
  }
}

@media (min-width: @sm-screen) {
  .orgplan {
    width: 670px;

    .btn {
      //margin: 0 auto;
    }

    .avatar {
      margin: 13px 15px 14px 10px;
    }
  }
}



@media (min-width: @md-screen) {
  .orgplan {
    width: 890px;
  }
}

@media (min-width: @lg-screen) {
  .orgplan {
    width: 960px;
  }
}

.add-fair {
  float: left;
  margin-right: 5px;

  .text-link {
    color: white;
    background: #f08c00 !important;
    padding: 12px;
    display: block;
    float: left;
    height: 40px;
    line-height: 16px;
  }

  .text-link:hover {
    background: #dc7800 !important;
  }

  .btn-icon {
    color: white;
    background: #f6a800 !important;
    display: block;
    float: left;
    height: 40px;
    padding: 9px;
  }

  .btn-icon:before {
    font-size: 24px;
  }
}

.add-fair:hover {
  .text-link {
    background: #dc7800 !important;
  }

  .btn-icon {
    background: #f08c00 !important;
  }
}

.b-switch-list-view--as-row {
  .add-fair {
    float: right;

    .text-link {
      color: white;
      background: #f08c00 !important;
      padding: 6px 10px 4px 10px;
      display: block;
      float: left;
      height: auto;
      font-size: 14px;
      line-height: 14px;
    }

    .text-link:hover {
      background: #dc7800 !important;
    }

    .btn-icon {
      color: white;
      background: #f6a800 !important;
      display: block;
      float: left;
      height: 24px;
      width: 24px;
      padding: 0;
      position: relative;
    }

    .btn-icon:before {
      font-size: 14px;
      position: absolute;
      left: 5px;
      top: 6px;
    }
  }


  .add-fair:hover {
    .text-link {
      background: #dc7800 !important;
    }






    .btn-icon {
      background: #f08c00 !important;
    }

  }
}

.b-switch-list-view--as-block {
  .add-fair {
    display: none;
  }
}

.add-to-favorite {
  float: left;
}

#industry_tab_container {
  .add-to-favorite {
    margin: 12px;
  }

  h1 {
    float: left;
  }
}

.organizer-profile {
  margin-top: 50px;
}