@white: #fff;
@input-hover: #f0f0f0 !important;
@input-focus: #e1e1e1 !important;

.page-proposal__form--main-header {
  text-transform: uppercase;
  font-size: 24px;
  font-family: MyriadPro-Semibold;
  margin-top: 47px;
  margin-bottom: 6px;
  font-weight: initial;
}

.page-proposal__form--header {
  padding-left: 249px;
}

.container-fluid .page-proposal__wrapper {
  width: auto;

  .page-proposal__fair-info--logo {
    float: left;
    width: 220px;
    height: 124px;
    background: rgb(238, 238, 238) none repeat scroll 0% 0%;
  }

  .page-proposal__fair-info--description {
    float: left;
    height: 124px;
  }

  .page-proposal__fair-info--details {
    float: left;
    height: 124px;
  }
}

.page-proposal__form {
  margin-top: 20px;
}

.container-fluid .page-proposal__wrapper .page-proposal__form {
  .page-proposal__form--main-header {
    text-transform: uppercase;
    font-size: 24px;
    font-family: MyriadPro-Semibold;
    margin-top: 47px;
    margin-bottom: 6px;
    font-weight: initial;
  }

  .form-horizontal {
    input.b-form__string, textarea.b-form__text, .d-bg-secondary-input {
      border: solid 1px #d2d2d2 !important;
      transition: all .2s;
      border-radius: 3px !important;
      margin: 10px 0 10px 0 !important;
      background: @white !important;
    }

    input.b-form__string:hover, textarea.b-form__text:hover, .d-bg-secondary-input:hover {
      background: @input-hover;
    }

    input.b-form__string:focus, textarea.b-form__text:focus, .d-bg-secondary-input:focus {
      background: @input-focus;
    }

    label.control-label {
      padding-top: 22px !important;
    }

    .list-auto-complete {
      margin: 10px 0;

      .js-list-auto-complete__drop-button {
        border-radius: 3px !important;
        height: 40px;
        padding: 12px 32px 0 10px;
        background: #fff !important;
        color: #505055 !important;
        border: solid 1px #d2d2d2;
        transition: all .2s;
      }

      .js-list-auto-complete__drop-button:hover {
        background: @input-hover;
      }
    }

    .list-auto-complete.active {
      .js-list-auto-complete__drop-button {
        background: @input-focus;
      }

      .list-auto-complete__drop-button::before {
        top: 52px;
      }
    }

    .page-proposal__form-drop-down label.control-label {
      padding-top: 22px !important;
    }

    .drop-field {
      .b-button-icon:hover {
        background: #fa694c !important;
      }
    }

    .d-bg-info-dark {
      background: #43ade3 !important;
    }

    .d-bg-info-dark:hover {
      background: #3c9bcc !important;
    }

    .d-bg-info-dark:focus {
      background: #368ab6 !important;
    }

    .d-bg-success-dark {
      background: #a0d468 !important;
    }

    .d-bg-success-dark:hover {
      background: #90be5d !important;
    }

    .d-bg-success-dark:focus {
      background: #80aa53 !important;
    }

    button.btn {
      border-radius: 3px;
      transition: all .1s;
    }

    .hidden {
      display: none;
    }

    .multiplier-wrap {
      cursor: default;
    }

    .multiplier-1 {
      background: #f0f0f0 !important;
    }

    .multiplier-2 {
      background: #f0f0f0 !important;
    }
  }
}


