.no-layout-form {
  box-sizing: border-box;
  width: 300px;

  form.orgplan-form .controls input[type=password] {
    width: 290px;
  }

  form.orgplan-form .controls input[type=submit] {
    margin-right: 0;
    font-family: MyriadPro-Light;
  }
}