.table {
  td {
    border-bottom: 1px solid #dddddd;
    border-top: none;
  }
  thead {
    background: #F0F0F0;
  }
}

.table.two-cols {
  td {
    width: 50%;
  }
}

.table.cols-2 {
  td {
    width: 25%;
  }
}

.table.cols-4 {
  td {
    width: 20%;
  }
}

.proposal-grid {
  margin: 20px 0 200px 0;

  tr:hover a {
    display: inline;
  }

  input {
    width: auto;
    height: 30px;
  }

  .pull-left {
    float: left;
  }

  .pull-right, .buttons {
    a {
      text-decoration: none;
    }

    label {
      width: 100px;
      height: 23px;
      text-align: center;
      margin: 0;
      padding-top: 2px;
      border-radius: 3px;
    }

    label.small {
      width: 23px;
      font-family: retinaicon-font!important;
      padding: 3px 5px;
      color: #fff;
      height: 23px;
      cursor: default;
    }

    label:hover {
      //text-decoration: none;
    }
  }

  td {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 33px;
    padding: 8px 10px 8px 10px;
    vertical-align: top;
  }

  td.date-column {
    min-width: 127px;
  }

  .sort-link {
    min-width: 100px;

    .caret {
      left: auto;
      right: -10px;
      border: none;
    }
  }

  .sort-link.asc {
    .caret {
      top: 7px;
    }
  }

  .sort-link.desc {
    .caret {
      top: 7px;
    }
  }
}

.proposal-grid {
  .sort-link {
    min-width: unset;
  }
}
