@import "../varibles/varibles";

.proposal-checkbox {
  &__label {
    position: relative;
    padding: 4px 0 0 23px;
    margin-bottom: 3px;
    line-height: 24px;
    float: left;
  }

  &__input {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 3px 0 0;

    &:not(checked) {
      position: absolute;
      opacity: 0;
    }

    &:not(checked) + label:before {
      content: '';
      position: absolute;
      background: url(/static/sprite.png);
      width: 14px;
      height: 14px;
      left: 0;
      top: 7px;
    }

    &:checked + label:before {
      background: url(/static/sprite.png) -20px 0px;
    }

    & + label {
      cursor: pointer;
    }
  }

  &__tooltip-wrapper {
    float: left;
    padding: 5px 0 0 0;
  }
}

.proposal-checkbox_disabled {
  .proposal-checkbox__input {
    &:not(checked) + label:before {
      background: url(/static/sprite.png) 36px 0;
    }

    &:checked + label:before {
      background: url(/static/sprite.png) 16px 0;
    }

    & + label {
      cursor: default;
    }
  }
}

.proposal-checkbox_disabled_checked {
  label:before {
    background: url(/static/sprite.png) 16px 0;
  }
}

@media (min-width: 320px) {
  .proposal-checkbox_proposal {
    float: left;
    width: 100%;
  }
}

@media (min-width: 375px) {

}

@media (min-width: 425px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
  .proposal-checkbox_proposal {
    margin-left: @label-width + 20px;
  }
}