@import "../layout/layout";

.proposal-summary {
  float: left;
  width: 100%;
  padding: 47px 0 0 6px;
  box-sizing: border-box;

  &__title {
    padding: 0!important;
    font-size: 24px !important;
    line-height: 24px !important;
    float: left;
  }

  &__summary {
    font-size: 24px;
    line-height: 16px;
    font-family: MyriadPro-Semibold;
    margin-bottom: 8px;
    float: left;
    text-align: right;
  }

  &__line {
    float: left;
    width: 100%;
  }
}

@media (min-width: 375px) {

}

@media (min-width: 425px) {

}

@media (min-width: 768px) {
  .proposal-summary {
    &__title {
      width: 100%;
    }

    &__summary {
      width: 100%;
    }
  }
}

@media (min-width: 1024px) {
  .proposal-summary {
    padding-left: @label-width + 20px;
  }
}