.modal--sign-up {
	width: 460px;
	border-radius: 0;
	-moz-border-radius: 0;
	-web-kit-border-radius: 0;
}

.modal--sign-up .modal-body {
	max-height: 460px;
}

.modal--sign-up .modal-footer {
	display: none;
}

.modal--sign-up .modal-header button.close {
	opacity: 1;
	filter: alpha(opacity=100);
}

.modal--sign-up .modal-header button.close:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.modal--sign-up .modal-header {
	text-align: center;
	background: rgb(240, 140, 0);
	height: 172px;
	border: none;
	margin: 0;
}

.modal__modal-header {
	margin-top: 30px;
	color: #ffffff;
	letter-spacing: 0.8px;
	line-height: 24px;
}

.modal__modal-header button.close {
	opacity: 1;
}

.modal__modal-header h1 {
	display: block;
	margin-bottom: 15px;
}

.modal__modal-content .control-group label.control-label {
	display: none;
}

.modal__modal-content .control-group .controls {
	position: relative;
	text-align: center;
}

.modal__modal-content .control-group.success:not(.terms-of-use) .controls:after {
	content: '';
	position: absolute;
	right: 65px;
	top: 0;
	display: inline-block;
	width: 40px;
	height: 40px;
	background: rgb(160, 212, 104) url('../../img/input/input-icon-check.png') 10px 9px no-repeat;
}

.modal__modal-content .control-group input[type=text],
.modal__modal-content .form-vertical input[type=password] {
	margin: 0 0 10px 0;
	width: 273px;
	height: 40px;
	padding: 0 5px 0 22px;
	background: rgb(225, 225, 225);
	border: none;
	border-radius: 0;
}

.modal__modal-content .control-group.error input[type=text],
.modal__modal-content .control-group.error input[type=password] {
	background: rgb(253, 195, 183);
}

.modal__modal-content .ajax-loader {
	display: none;
	position: absolute;
	top: 15px;
	right: 15px;
}

.modal__modal-content .terms-of-use {
	text-align: center;
	width: 100%;
}

.modal__modal-content .terms-of-use label.checkbox {
	display: inline-block;
}

.modal__modal-content .terms-of-use input[type=checkbox]:before {
	top: 7px;
}

.modal__modal-content .form-actions button.btn.btn--green-grass {
	width: 182px;
	float: none;
}

.modal__modal-content .form-actions {
	text-align: center;
}

.modal__modal-content .social-links-block {
	height: 30px;
	text-align: center;
	margin: 15px 0 29px 25%;
}

.recover-success {
	color: #5bb75b;
}

.auth-services li {
	padding-left: 0;
}

