.proposal__wrapper {
  width: 230px;
}

@media (min-width: 375px) {
  .proposal__wrapper {
    width: 290px;
  }
}

@media (min-width: 425px) {
  .proposal__wrapper {
    width: 340px;
  }
}

@media (min-width: 768px) {
  .proposal__wrapper {
    width: 680px;
  }
}

@media (min-width: 1024px) {
  .proposal__wrapper {
    width: 700px;
    float: left;
  }
}

html, body {
  min-width: 0 !important;
}

.nav-bar--main-menu {
  min-width: 0 !important;

  form {
    display: none !important;
  }

  .nav {
    display: none !important;
  }

  .pull-right {
    display: block !important;
  }
}

@media (min-width: 1024px) {
  .nav-bar--main-menu {
    min-width: 0;

    ul {
      display: block !important;
    }
  }
}

@media (min-width: 768px) {
  .nav-bar--main-menu {
    min-width: 0;

    form, .nav {
      display: block !important;
    }
  }
}