<a ng-href="{{ params.href }}"
   ng-init="log(params)"
   data-target="{{ params.target }}"
   class="button"
   ng-click="show()"
   ng-class="params.classes">
    {{ params.text }}
</a>
<modal params="params.modal"></modal>