.button {
  border-radius: 3px;
  transition: all .1s;
  box-shadow: none;
  color: #fefefe;
  text-shadow: none;
  border: none;
  padding: 10px 10px;
  line-height: 20px;
  margin-left: 10px;
  background: #d2d2d2;
  display: inline;
  cursor: pointer;

  &_big {
    width: 140px;
  }

  &_blue {
    background: #43ade3;
  }

  &_blue:hover {
    background: #3c9bcc;
  }

  &_blue:focus {
    background: #368ab6;
  }

  &_green {
    background: #a0d468;
  }

  &_green:hover {
    background: #90be5d;
  }

  &_green:focus {
    background: #80aa53;
  }
}

.button_small {
  width: 23px;
  height: 23px;
  font-family: retinaicon-font !important;
  padding: 3px 0 0 4px;
  color: #fff;
  cursor: pointer;
  float: left;
  box-sizing: border-box;

  &:hover {
    color: #fff;
    text-decoration: none;
  }

  &_edit {
    background: #f08c00;
  }

  &_remove {
    background: #fa755a;

    &:hover {
      background: #f76c4b;
    }
  }
}

.button_small_delete:hover {

}

.button_m {
  display: inline-block;
  width: 100px;
  height: 23px;
  text-align: center;
  margin: 0;
  padding-top: 2px;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    display: inline-block !important;
    text-decoration: none !important;
    color: #fff !important;
    cursor: pointer;
  }
}

.button_m_green {
  background: #a0d468;
}

.button_m_red {
  background: #fa755a;
}



.button_hide {
  opacity: 0;
}