.d-bg-secondary-icon {
    color: #ffffff !important;
    background: rgba(80, 80, 85, 0.5) !important;
}

label[class*=d-bg-],
button[class*=d-bg-], button[class*=d-bg-]:hover, button[class*=d-bg-]:focus,
a[class*=d-bg-], a[class*=d-bg-]:hover, a[class*=d-bg-]:focus {
    color: #fefefe;
    text-shadow: none;
    border: none;
    box-shadow: none;
    filter: progid:DXImageTransform.Microsoft.Shadow(enabled=false);
}

button.d-bg-success-dark,
div.d-bg-success-dark,
span.d-bg-success-dark,
label.d-bg-success-dark,
a.d-bg-success-dark,
.d-check-bg-success-dark:before,
.d-bg-success-dark,
.d-bg-success-dark--hover:hover, .d-bg-success-dark--focus:focus {
    background: #8cc152 !important;
}
button.d-bg-success-dark:focus,
div.d-bg-success-dark:focus,
span.d-bg-success-dark:focus,
label.d-bg-success-dark:focus,
a.d-bg-success-dark:focus,
.d-check-bg-success-dark:before:focus,
.d-bg-success-dark:focus,
.d-bg-success-dark--hover:hover:focus, .d-bg-success-dark--focus:focus:focus {
    background: #80aa53 !important;
}

.active > .d-bg-success-dark {
    background: #3fc17b !important;
}

button.d-bg-warning,
div.d-bg-warning,
span.d-bg-warning,
label.d-bg-warning,
a.d-bg-warning,
.d-bg-warning,
.d-check-bg-warning:before,
.d-bg-warning--hover:hover, .d-bg-warning--focus:focus {
    color: white;
    background: #f6a800 !important;
}

.active > .d-bg-warning {
    background: #ffbb00 !important;
}

button.d-bg-warning-dark,
div.d-bg-warning-dark,
span.d-bg-warning-dark,
label.d-bg-warning-dark,
a.d-bg-warning-dark,
.d-bg-warning-dark,
.d-check-bg-warning-dark:before,
.d-bg-warning-dark--hover:hover, .d-bg-warning-dark--focus:focus {
    color: white;
    background: #f08c00 !important;
}

.active > .d-bg-warning-dark {
    background: #ff9401 !important;
}

button.d-bg-primary,
div.d-bg-primary,
span.d-bg-primary,
label.d-bg-primary,
a.d-bg-primary,
.d-bg-primary,
.d-bg-primary--hover:hover, .d-bg-primary--focus:focus {
    background: #568fe7 !important;
}

.active > .d-bg-primary {
    background: #71a3e7 !important;
}

button.d-bg-primary-dark,
div.d-bg-primary-dark,
span.d-bg-primary-dark,
label.d-bg-primary-dark,
a.d-bg-primary-dark,
.d-bg-primary-dark,
.d-check-bg-primary-dark:before,
.d-bg-primary-dark--hover:hover, .d-bg-primary-dark--focus:focus {
    background: #487bc8 !important;
}

.active > .d-bg-primary-dark {
    background: #4b9deb !important;
}

button.d-bg-info,
div.d-bg-info,
span.d-bg-info,
label.d-bg-info,
a.d-bg-info,
.d-bg-info,
.d-check-bg-info:before,
.d-bg-info--hover:hover, .d-bg-info--focus:focus {
    background: #43ade3 !important;
}

.active > .d-bg-info {
    background: #46c5fd !important;
}

button.d-bg-info-dark,
div.d-bg-info-dark,
span.d-bg-info-dark,
label.d-bg-info-dark,
a.d-bg-info-dark,
.d-bg-info-dark,
.d-bg-info-dark--hover:hover, .d-bg-info-dark--focus:focus {
    background: #2b98d5 !important;
}

.active > .d-bg-info-dark {
    background: #2aa4e3 !important;
}

button.d-bg-danger,
div.d-bg-danger,
span.d-bg-danger,
label.d-bg-danger,
.d-check-bg-danger:before,
a.d-bg-danger,
.d-bg-danger,
.d-bg-danger--hover:hover, .d-bg-danger--focus:focus {
    background: #fa694c !important;
}

.active > .d-bg-danger {
    background: #f97f55 !important;
}

button.d-bg-danger-dark,
div.d-bg-danger-dark,
span.d-bg-danger-dark,
label.d-bg-danger-dark,
.d-check-bg-danger-dark:before,
a.d-bg-danger-dark,
.d-bg-danger-dark,
.d-bg-danger-dark--hover:hover, .d-bg-danger-dark--focus:focus {
    background: #e9523c !important;
}

.active > .d-bg-danger-dark {
    background: #eb6847 !important;
}

button.d-bg-danger-extra-dark,
div.d-bg-danger-extra-dark,
span.d-bg-danger-extra-dark,
label.d-bg-danger-extra-dark,
a.d-bg-danger-extra-dark,
.d-bg-danger-extra-dark,
.d-bg-danger-extra-dark--hover:hover, .d-bg-danger-extra-dark--focus:focus {
    background: #ac5146 !important;
}

.active > .d-bg-danger-extra-dark {
    background: #be5449 !important;
}

button.d-bg-base,
div.d-bg-base,
span.d-bg-base,
label.d-bg-base,
a.d-bg-base,
.d-bg-base,
.d-bg-base--hover:hover, .d-bg-base--focus:focus {
    color: #515056 !important;
    background: #ffffff !important;
}

.active > .d-bg-base {
    background: #d9d9da !important;
}

button.d-bg-input,
div.d-bg-input,
span.d-bg-input,
label.d-bg-input,
a.d-bg-input,
.d-bg-input,
.d-bg-input--hover:hover, .d-bg-input--focus:focus {
    color: #515056 !important;
    background: #efefef !important;
}

.active > .d-bg-input {
    background: #c4c4c4 !important;
}

button.d-bg-tab,
div.d-bg-tab,
span.d-bg-tab,
label.d-bg-tab,
a.d-bg-tab,
.d-bg-tab,
.d-bg-tab--hover:hover {
    background: #e0e0e0;
}

.d-bg-tab--hover:focus {
    background: #e0e0e0;
}

input.d-bg-tab--focus:focus {
    color: #505055 !important;
}

.active > .d-bg-tab {
    background: #c0c0c0 !important;
}

form button.d-bg-secondary-input,
form div.d-bg-secondary-input,
form span.d-bg-secondary-input,
form label.d-bg-secondary-input,
form a.d-bg-secondary-input,
form .d-bg-secondary-input,
form .d-check-bg-secondary-input:before,
form .d-bg-secondary-input--hover:hover, form .d-bg-secondary-input--focus:focus {
    background: #efefef;
}

.active > .d-bg-secondary-input {
    background: #bebebe !important;
}

button.d-bg-tooltip,
div.d-bg-tooltip,
span.d-bg-tooltip,
label.d-bg-tooltip,
a.d-bg-tooltip,
.d-bg-tooltip,
.d-bg-tooltip--hover:hover, .d-bg-tooltip--focus:focus {
    color: #515056 !important;
    background: #d2d2d2 !important;
}

.active > .d-bg-tooltip {
    background: #c5c5c5 !important;
}

button.d-bg-bordered,
input[type=text].d-bg-bordered,
div.d-bg-bordered,
span.d-bg-bordered,
label.d-bg-bordered,
a.d-bg-bordered,
.d-bg-bordered:hover,
.d-bg-bordered {
    border: 1px solid #d1d1d1 !important;
}

.d-bg-transparent {
    background: transparent !important;
}

.d-text-light {
    color: #fefefe;
}

.d-text-dark, .d-text-dark:before {
    color: #505055;
}

label.d-text-dark, label.d-text-dark:before {
    color: #505055;
}

@font-face {
    font-family: MyriadPro-Light;
    src: url("../MyriadPro-Light.otf");
}
.wrapper {
    width: 300px;
    margin: 54px auto;
}

.button-180[type=submit] {
    width: 180px !important;
    height: 40px;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
}

.button-180-inside-text {
    letter-spacing: 0.03em;
}

.button-140[type=submit] {
    width: 140px !important;
    height: 40px;
    margin: -56px 0 0 160px;
}

.orange-block-logo {
    width: 300px;
    height: 50px;
    text-align: center;
    background: #f08c00 url("/static/logo-white.png") no-repeat 57px 12px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

.agrosalon-block-logo {
    width: 300px;
    height: 50px;
    text-align: center;
    background: #f08c00 url("/static/agrosalon.png") no-repeat 0px 0px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    margin-top: 10px;
}

.agrorus-block-logo {
    width: 300px;
    height: 68px;
    text-align: center;
    background: url("/static/agrorus.png") center center no-repeat;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    margin-top: 10px;
}

.protoplan-block-logo {
    width: 300px;
    height: 68px;
    text-align: center;
    background: url("/static/protoplan-block-logo.png") center center no-repeat;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    margin-top: 10px;
}

.word {
    color: #515056;
    text-align: center;
    margin: 21px;
    font-family: MyriadPro-Light;
    font-size: 25px;
}

.controls textarea,
.controls input[type=text],
.controls input[type=search],
.controls input[type=date],
.controls input[type=tel],
.controls input[type=email],
.controls input[type=password] {
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 0 0 10px 0;
    padding: 0 0 3px 9px;
    height: 40px;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.social-links-block {
    width: 248px;
    height: 30px;
    display: block;
    text-align: center;
    margin: 37px 0 20px 20px;
}

.social-links-block .services {
    display: inline-block;
}

ul.auth-services li {
    padding: 0;
    margin: 0 0 0 12px;
}

.rememberMe {
    width: 100%;
    text-align: left;
    font-size: 20px;
    font-family: MyriadPro-Light;
    margin: 20px 0 0 40px;
}

.terms-of-use {
    width: 100%;
    text-align: center;
    letter-spacing: 0.02em;
    font-family: MyriadPro-Light;
}

.terms-of-use-recast {
    margin: 27px 0 -9px 0 !important;
}

.create-your-org-plan a {
    position: absolute;
    text-align: center;
    font-size: 17px;
    font-family: MyriadPro-Light;
    margin: 78px 0 0 74px;
    text-decoration: underline;
}

.bottom-checkbox {
    margin: 10px 0 8px 0 !important;
}

.wrapper label.checkbox {
    display: inline-block;
    font-size: 17px;
    letter-spacing: -0.01em;
    margin: -1px 0 0 -38px;
}

.wrapper label input[type=checkbox]:before {
    position: absolute;
    content: '';
    height: 14px;
    width: 14px;
    display: block;
    margin: -2px 0 0 -2px;
    background: url("../img/checkbox/checkbox-sprite.png") 0 -24px no-repeat;
}

.wrapper label input[type=checkbox]:checked:before {
    background: url("../img/checkbox/checkbox-sprite.png") 0 0 no-repeat;
}

.wrapper label {
    display: none;
    margin-bottom: 5px;
}

a {
    color: #505055;
}

a:hover, a:focus {
    color: #505055;
    text-decoration: underline;
}

.radio, .checkbox {
    min-height: 25px;
}
