/* social icons */

[class*=social-icon-] {
  width: 30px;
  height: 30px;
  display: inline-block;
}

[class*=social-icon-blog] {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.social-icon-google_oauth {
  background: url('../sprites/social-active-icons-sprites.png') 0 0 no-repeat;
}

.social-icon-twitter {
  background: url('../sprites/social-active-icons-sprites.png') -43px 0 no-repeat;
}

.social-icon-facebook {
  background: url('../sprites/social-active-icons-sprites.png') -85px 0 no-repeat;
}

.social-icon-linkedin {
  background: url('../sprites/social-active-icons-sprites.png') -128px 0 no-repeat;
}

.social-icon-vkontakte {
  background: url('../sprites/social-active-icons-sprites.png') -170px 0 no-repeat;
}

.social-icon-google_oauth:hover {
  background: url('../sprites/social-active-icons-sprites.png') 0 -30px no-repeat;
}

.social-icon-twitter:hover {
  background: url('../sprites/social-active-icons-sprites.png') -43px -30px no-repeat;
}

.social-icon-facebook:hover {
  background: url('../sprites/social-active-icons-sprites.png') -85px -30px no-repeat;
}

.social-icon-linkedin:hover {
  background: url('../sprites/social-active-icons-sprites.png') -128px -30px no-repeat;
}

.social-icon-vkontakte:hover {
  background: url('../sprites/social-active-icons-sprites.png') -170px -30px no-repeat;
}

.social-icon-google_oauth--active {
  @extend .social-icon-google_oauth:hover;
}

.social-icon-twitter--active {
  @extend .social-icon-twitter:hover;
}

.social-icon-facebook--active {
  @extend .social-icon-facebook:hover;
}

.social-icon-linkedin--active {
  @extend .social-icon-linkedin:hover;
}

.social-icon-vkontakte--active {
  @extend .social-icon-vkontakte:hover;
}
