/** Screen sizes **/
@screen-xs: 375px;
@screen-s: 425px;
@screen-m: 768px;
@screen-l: 1024px;

@xs: 230px;
@s:  290px;
@m:  340px;
@l:  680px;
@xl: 100%;

@label-width: 230px;
@proposal-width: 41.66666667%;

@orange-hover: #dc7800;
@dark-link: #505055;
@grey: #F0F0F0;