.spoiler {
  padding: 5px 10px 4px 17px;
  position: relative;
  cursor: pointer;
  border-bottom: solid 1px #D2D2D2;
  float: left;
  width: 100%;

  span {
    display: block;
    float: left;
    position: relative;
  }

  &__tooltip-wrapper {
    position: absolute;
    right: 0;
    top: 5px;
  }

  &__click-area {
    position: absolute;
    width: 95%;
    height: 100%;
    top: 0;
    left: 0;
    margin-right: 23px;
  }
}

.spoiler__wrap {
  float: left;
  box-sizing: border-box;
  width: 100%;
  padding-left: 250px;
}

.spoiler:before {
  content: "";
  font-family: retinaicon-font!important;
  font-style: normal!important;
  font-weight: 400!important;
  font-variant: normal!important;
  text-transform: none!important;
  line-height: 1;
  font-size: 10px;
  color: #000;
  transition: all .1s;
  position: absolute;
  left: 0;
  top: 10px;
}

.spoiler.open:before {
  transform: rotate(90deg);
}