.error-img {
  width: 500px;
  height: 356px;
  margin-top: -32px;
  margin-left: -20px;
}

h1.error-text {
  line-height: 70px !important;
  font-size: 70px !important;
  text-align: center;
  color: #d2d2d2;
  margin-top: 20px;
  margin-bottom: 7px !important;
}

.wrap-center-button {
  width: 300px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.error-button li, .error-button a {
  width: 90px;
  display: inline-block;
}

.error-button {
  margin: 0 0 0 -14px !important;
}

.error-button-red a {
  height: 36px;
  background: url(pills.png) 0 5px;
}

.error-button-red a:hover {
  height: 36px;
  display: block;
  background: url(pills.png) 0 -35px;
}

.error-button-blue a {
  height: 36px;
  background: url(pills.png) 0 81px;
}

.error-button-blue a:hover {
  height: 36px;
  display: block;
  background: url(pills.png) 0 -115px;
}