@import "../../varibles/varibles";

.proposal-coefficient__wrap,
.proposal-input__label__wrap,
.proposal-input_coefficient__input__wrap {
  display: table-cell;
  vertical-align: middle;
}

.proposal-coefficient__wrap {
  vertical-align: middle;
  padding-left: 10px;
  width: 1%;
}

.proposal-coefficient {
  border: 1px solid #d2d2d2!important;
  border-radius: 3px;
  padding: 9px 9px 0 9px;
  font-style: normal;
  background: #f0f0f0;
  height: 40px;
  flex-grow: 1;
  text-align: center;
  color: #505055;
  font-family: MyriadPro-Light;
  line-height: 22px;
  box-sizing: border-box;
  margin: 0;
}

.proposal-input__label__wrap {
  width: @label-width;
  position: relative;
  vertical-align: middle;

  .proposal-input__label {
    padding: 0 !important;
  }
}

.proposal-input_coefficient__input__wrap {
  padding-right: 10px;
  position: relative;

  .proposal-input__input {
    width: 100%;
  }

  .proposal-input_unit__unit {
    top: 12px;
    right: 21px;
  }
}

.proposal-input_coefficient_label-top {
  padding-left: 250px;
  margin-left: 27px;
  box-sizing: border-box;

  .proposal-input__label__wrap {
    width: 100%;
    position: relative;
    vertical-align: middle;
    display: block;
    float: left;
  }
}

@media (min-width: 320px) {

}

@media (min-width: 375px) {

}

@media (min-width: 425px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}