#exponent-for-user .error, #performer-for-user .error, .performer-services .error {
	border-color: #b94a48;
	color: #b94a48;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.drop input {
	display: none;
}

.modal-body {
	max-height: none;
}

.multi-drop-down-list {
	padding-bottom: 10px;
}

.user-role {
	display: none !important;
}

