.proposal-result {
  display: block;
  float: right;
  width: 100%;
  text-align: right;
  line-height: 16px;
  font-family: MyriadPro-Semibold;
  margin: 10px 0 0 0;
}

@media (min-width: 320px) {

}

@media (min-width: 375px) {

}

@media (min-width: 425px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}