.tbl {
  display: table;
  border-collapse: collapse;
}

.tbl__header {
  text-transform: uppercase;
  font-family: "MyriadPro-Semibold";

  .cell {
    cursor: pointer;
  }

  .tbl__row;
}

.tbl__row {
  display: table-row;
  border-bottom: solid 1px #d2d2d2;
  min-height: 30px;

  .button {
    margin-left: 5px;
  }

  &:hover .button {
    opacity: 1;
  }
}

.tbl__row:hover {
  background: #f0f0f0;
}

.tbl__row-group {
  display: table-row-group;
}

.proposal-tbl {
  margin-top: 30px;
  margin-bottom: 300px;
}

.tbl__sort {
  font-family: retinaicon-font !important;
  font-size: 11px;
  display: inline-block;
  line-height: 11px;
}

.tbl__row_seen-false {
  background: #F0F0F0;
  font-family: "MyriadPro-Semibold";

  .button_hide {
    font-family: MyriadPro-Light;
  }
}

.proposal-grid {
  height: 100%;
}

.tbl__counter {
  float: right;
  margin: 20px 0;
}

.pagination {
  float: left;
  li {
    cursor: pointer;
  }

  li.disabled {
    cursor: default;
  }
}