.b-switch-list-view__item-fair .b-switch-list-view__cell--fair-name {
    padding: 30px 55px 0 20px;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 20px;
}

.b-switch-list-view__item-fair .b-switch-list-view__cell--date {
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 130px;
    width: 260px !important;
    padding: 0 20px;
    letter-spacing: 0;
}

.b-switch-list-view__item-fair .b-switch-list-view__cell--fair-region {
    top: 172px;
    width: 278px;
    padding: 0 20px;
    letter-spacing: 0;
    position: absolute;
    left: 0;
    line-height: 18px;
}

.fair__rating, .fair__rating-image-1, .fair__rating-image-2, .fair__rating-image-3, .fair__rating-image-4 {
    min-height: 24px;
    min-width: 24px;
}

.fair__rating-image-1 {
    background: url("../img/1.png") no-repeat 0 0 !important
}

.fair__rating-image-2 {
    background: url("../img/2.png") no-repeat 0 0 !important
}

.fair__rating-image-3 {
    background: url("../img/3.png") no-repeat 0 0 !important
}

.fair__rating-image-4 {
    background: url("../img/4.png") no-repeat 0 0 !important
}