html, body {
    height: 100%;
}

.container-fluid {
    height: calc(100% - 50px);
    position: relative;
}

.nav-list__side-left {
    height: calc(100% - 50px) !important;
}

.dhx_cal_container {
    width: 100%;
    height: calc(100% - 120px);
}

.dhx_cal_data .dhx_year_week .dhx_scale_bar {
    height: 20px !important;
    line-height: 20px;
}

.dhx_cal_data table {
    border-top: 1px solid #CECECE;
}
.dhx_year_month {
    font-family: Arial;
    font-size: 16px;
    padding: 5px;
}
.dhx_year_week .dhx_scale_bar {
    font-weight: bold;
}

.dhx_cal_today_button {
    background-color: #43ade3 !important;
    color: #fff;
    font-weight: normal;
}
.dhx_cal_today_button:hover {
    text-decoration: none;
}

.dhx_year_body .dhx_before .dhx_month_head,
.dhx_year_body .dhx_after .dhx_month_head {
    background-color: #F7F7F7 !important;
}
/*
	.dhx_event_icon.icon_details {
		display: none !important;
	}
*/
.dhx_tooltip_line {
    padding-left: 5px;
}

.dhx_cal_event_line {
    margin-left: 1px;
}

.dhx_cal_event_clear {
    color: white;
    padding-bottom: 6px;
    padding-right: 10px;
    font-size: 12px;
    margin-left: 1px;
}

.dhx_now .dhx_month_body,
.dhx_now .dhx_month_head,
.dhx_now.dhx_cal_event_line {
    background-color: #43ade3;
    color: #fff;
    box-shadow: none;
}

.black .dhx_month_body,
.black .dhx_month_head,
.black.dhx_cal_event_line {
    background-color: #d2d2d2;
    color: #515056;
    box-shadow: none;
}

.gray .dhx_month_body,
.gray .dhx_month_head,
.gray.dhx_cal_event_line {
    background-color: #efefef;
    color: #515056;
    box-shadow: none;
}

.green .dhx_month_body,
.green .dhx_month_head,
.green.dhx_cal_event_line {
    background-color: #a0d468;
    color: #fff;
    box-shadow: none;
}

.red .dhx_month_body,
.red .dhx_month_head,
.red.dhx_cal_event_line {
    background-color: #f96a0e;
    color: #fff;
    box-shadow: none;
}
/*
	.red.dhx_cal_event_line {
		margin: -20px 0 0 !important;
		padding: 0 0 0 2px !important;
		border: none !important;
		width: 12% !important;
	}
*/
.blue .dhx_month_body,
.blue .dhx_month_head,
.blue.dhx_cal_event_line {
    background-color: #d2d2d2;
    color: #515056;
    box-shadow: none;
}

.dhx_year_tooltip {
    z-index: 900;
    font-family: Arial;
}

.dhx_year_tooltip .dhx_tooltip_line,
.dhx_year_tooltip .dhx_tooltip_line .dhx_tooltip_date {
    /* background-color: inherit !important; */
}


.calendar-buttons {
    height: 40px;
}

.calendar-buttons .b-button {
    text-decoration: none;
    text-align: center;
    height: 40px;
    float: left;
    margin: 0;
}

.calendar-buttons .calendar-button {
    margin-right: 0;
    cursor: default;
}

.calendar-buttons .gantt-button {
    border: 1px solid #d1d1d1;
    border-right: none;
    margin-right: 0;
    color: #505055;
}

.calendar-buttons .b-button-icon {
    margin-right: 10px;
}

.calendar-buttons .create-button {
    width: 140px;
    margin-right: 40px;
    text-align: center;
}

.calendar-buttons .create-button:hover {
    text-decoration: none;
}

.calendar-buttons .create-button:before {
    display: block;
    font-size: 24px;
    height: 30px;
    width: 40px;
    position: absolute;
    right: 10px;
    top: 0;
    padding-top: 10px;
    background: #8cc152;
}

.control-group input,
.control-group select,
.control-group textarea {
    width: 100%;
    margin: 0 !important;
}

.period_picker_input,
.period_picker_input:before {
    width: 100%;
    text-align: left;
    outline: none;
    white-space: nowrap;
    color: #515056;
    background-color: #efefef;
    margin: 0;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    letter-spacing: 0;
    border: none;
    border-radius: 0;
    -o-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    padding: 9px;
    height: 40px;
    line-height: 22px;
    box-shadow: none;
    font-family: MyriadPro-Light;
}

.period_picker_input:hover {
    color: #515056;
    background: #e0e0e0;
}

.period_picker_input:before {
    display: none;
}

.period_picker_input .icon_calendar {
    display: none;
}

.period_picker_input .period_button_text {
    padding: 0;
}

.ms-options-wrap,
.ms-options-wrap * {
    box-sizing: border-box;
}

.ms-options-wrap > button:focus,
.ms-options-wrap > button {
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    white-space: nowrap;
    color: #515056;
    background-color: #efefef;
    padding: 10px;
    margin: 0;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    letter-spacing: 0;
}

.ms-options-wrap > button:hover {
    color: #515056;
    background: #e0e0e0;
}

.ms-options-wrap > button:after {
    content: '';
    display: block;
    position: absolute;
    top: 43%;
    right: 15px;
    width: 9px;
    height: 6px;
    overflow: hidden;
    background: url('../img/dropdown/caret-black.png') no-repeat;
}

.ms-options-wrap > .ms-options {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 20px;
    background: white;
    z-index: 2000;
    border: 1px solid #aaa;
}

.ms-options-wrap > .ms-options > .ms-search {
    padding: 10px;
    position: relative;
}

.ms-options-wrap > .ms-options > .ms-search:before {
    content: '';
    display: block;
    position: absolute;
    top: 19px;
    left: 18px;
    width: 21px;
    height: 21px;
    background: url('../img/sprites/icon-sprites-white-21px.png') 0 -148px no-repeat;
}

.ms-options-wrap > .ms-options > .ms-search input {
    width: 100%;
    border: none;
    border-radius: 0;
    -o-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    line-height: 22px;
    box-shadow: none;
    font-size: 16px;
    color: #505055;
    display: block;
    height: 40px;
    padding-left: 40px;
    background: #e0e0e0;
    margin: 0;
}

.ms-options-wrap > .ms-options > .ms-search input::-webkit-input-placeholder {
    line-height: 25px;
    font-size: 14px;
    color: #afafaf;
}

.ms-options-wrap > .ms-options > .ms-search input::-moz-placeholder {
    line-height: 25px;
    font-size: 14px;
    color: #afafaf;
}

.ms-options-wrap > .ms-options .ms-selectall {
    display: inline-block;
    font-size: .9em;
    text-transform: lowercase;
    text-decoration: none;
}
.ms-options-wrap > .ms-options .ms-selectall:hover {
    text-decoration: underline;
}

.ms-options-wrap > .ms-options > .ms-selectall.global {
    margin: 4px 5px;
}

.ms-options-wrap > .ms-options > ul {
    margin: 0;
    padding: 0 10px 10px;
    list-style-type: none;
}

.ms-options-wrap > .ms-options > ul > li.optgroup {
    padding: 5px;
}
.ms-options-wrap > .ms-options > ul > li.optgroup + li.optgroup {
    border-top: 1px solid #aaa;
}

.ms-options-wrap > .ms-options > ul > li.optgroup .label {
    display: block;
    padding: 5px 0 0 0;
    font-weight: bold;
}

.ms-options-wrap > .ms-options > ul label {
    line-height: 18px;
    font-size: 16px;
    position: relative;
    display: block;
    margin: 0;
    padding: 3px 0 3px 15px;
    cursor: pointer;
    color: #515056;
    text-align: left;
}

.ms-options-wrap > .ms-options > ul li.selected label,
.ms-options-wrap > .ms-options > ul label:hover {
    color: #515056;
    background: #efefef;
}

.ms-options-wrap > .ms-options > ul input[type="checkbox"] {
    margin-right: 5px;
    position: absolute;
    left: 4px;
    top: 7px;
}

.icon--white-close {
    width: 21px;
    height: 22px;
    background: url("../img/sprites/icon-close.png") 0 0 no-repeat !important;
}

.drop-down-list .drop-button:before, .multi-drop-down-list .drop-button:before {
    display: block;
    content: '';
    position: absolute;
    top: 43%;
    right: 13px;
    width: 9px;
    height: 6px;
    overflow: hidden;
    background: url('../img/dropdown/caret-black.png') no-repeat !important;
}