.protoplan-modal {
  display: block;
  &__backdrop {
    display: none;
    transition: all .15s;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
  }

  &__backdrop_active {
    display: block;
    opacity: .8;
  }

  &__header {

  }

  &__body {

  }

  &__footer {

  }
}