.tabs-outer {
	position: relative;
	margin: 0 -20px 0 -20px;
}

ul.tabs-outer--menu {
	border: none;
	background-color: rgb(223, 226, 228);
	margin-bottom: 0;

}

.tabs-outer--menu > li[role=menuitem] {
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 20px;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.tabs-outer--menu > li[role=menuitem]:first-child {
	margin-left: 20px;
}

.tabs-outer--menu > li.active > a,
.tabs-outer--menu > li.active > a:hover,
.tabs-outer--menu > li.active > a:focus {
	border: none;
	margin: 0;
	background-color: rgb(250, 253, 255);
}

.nav-tabs > li > a[data-toggle=tab]:active {
	background-color: rgb(223, 226, 228);
	box-shadow: inset 0 0 10px rgba(100, 100, 100, 0.2);
}

.nav-tabs > li > a[data-toggle=tab],
.nav-tabs > li > a[data-toggle=tab]:hover,
.nav-tabs > li > a[data-toggle=tab]:focus {
	outline: none;
	color: #3e3939;
	border: none;
}

.tabs-outer--menu > li > a[data-toggle=tab] {
	font-size: 16px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin: 0;
	text-align: center;
	padding: 10px 30px 0 30px;
	border: none;
	height: 30px;
}

div.tabs-outer--content {
	overflow: inherit;
	margin: 0 20px;
}

