.drop-down-content {
	display: inline-block;
	position: relative;
	width: 100%;
	margin: 0 10px 10px 0;
}

.drop-down-content__label {
	width: 100%;
	position: relative;
	color: #ffffff;
	background: #b9b9b9;
	padding: 10px 0;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}

.drop-down-content__label:hover {
	background: #c6c6c6;
}

.drop-down-content__label:after {
	display: block;
	content: '';
	position: absolute;
	top: 20px;
	right: 10px;
	width: 9px;
	height: 6px;
	overflow: hidden;
	background: url('../../img/dropdown/caret.png') no-repeat;
}

.drop-down-content__drop-block:after {
	display: block;
	position: absolute;
	left: 17px;
	top: -8px;
	overflow: auto;
	content: '';
	z-index: 9999;
	background: url('../../img/dropdown/mark-light-grey.png');
	width: 16px;
	height: 8px;
}

.drop-down-content__drop-block {
	z-index: 999;
	border: 1px solid rgb(210, 210, 212);
	display: none;
	margin: 0;
	padding: 0;
	text-align: left;
	position: absolute;
	top: 57px;
	left: 0;
	background: rgb(240, 240, 240);
}

.active > .drop-down-content__drop-block {
	display: block;
}

.drop-down-content__drop-block > div {
	margin: 15px;
	background: transparent;
}

.drop-down-content__label--big {
	width: 220px;
	height: 27px;
	padding-top: 8px;
	font-size: 16px;
}

.drop-down-content__label--big:after {
	top: 15px;
}