.styled-uploader {
	margin-top: 3px;
}

.styled-uploader__file-list {
	display: block;
	padding-left: 10px;
}
.styled-uploader__file-list--as-image .styled-uploader__file-item {
	display: inline-block;
	margin-right: 20px;
	max-width: 300px;
}

.styled-uploader__file-list--as-image img {
	display: block;
}


.styled-uploader__hidden-input, .styled-uploader__input-list {
	display: none !important;
	visibility: hidden !important;;
}

.styled-uploader__file-item {
	display: block;
	position: relative;
	color: #43ace2;
}

.styled-uploader__file-item[data-uploaded=true] {
	text-decoration: underline;
	color: #3ab67d;
}

.styled-uploader__file-item span {
	font-size: 16px;
	line-height: 24px;
}

.styled-uploader__file-item a {
	text-decoration: none;
	width: 14px;
	height: 14px;
	margin-left: 10px;
	display: inline-block;
}

.styled-uploader__file-item a:hover {
	text-decoration: none;
}

.styled-uploader__file-item a:before {
	font-size: 14px;
	position: relative;
	top: 2px;
	color: #f9694c;
}

.styled-uploader__file-item a:before:hover {
	text-decoration: none;
	color: #b85c4b;
}

.styled-uploader__blocked {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background: white;
}


