.button-orange-edit-proposal-1 {
    width: 24px;
    height: 24px;
    border: 0;
    display: none;
    color: #fff;
    font-size: 15px;
    background: #f08c00 url("../img/workspace/edit.png") 4px 4px no-repeat !important;
    border-radius: 3px;
    float: right;
    margin: 5px 5px 0 0;
}

@charset "UTF-8";
/* Экспонент */
.wrapper-personal-area-exhibitor {
    float: left;
    margin: 11px 0 0 0;
    width: 920px;
    /* Названия выставки */
    /************************************************************/
    /* Блок задач */
    /* Заголовок задачи */
    /* Названия задач */
    /* Нижняя линия под текстом, ширина 580 */
    /* Дата задач*/
    /* Кнопка задачи */
    /************************************************************/
    /* Профиль блок */
    /* Заголовок профиля*/
    /* Нижняя линия под текстом, ширина 260 */
    /*  */
    /* Розмер шрифта для кв.м */
    /* Кнопка профиль */
    /************************************************************/
    /* Блок заявок */
    /* Заголовок заявок */
    /* Названия заявок */
    /* Дата заявок*/
    /* Кнопка "Все заявки" */
    /* Кнопка "Отправлено" */
    /* Кнопка-1 "В роботе" */
    /* Кнопка-2 "В роботе" */
    /* Кнопка-3 "В роботе" */
    /* Кнопка-1 "Редактирования" */
    /* Кнопка-2 "Редактирования" */
    /* Кнопка-3 "Редактирования" */
    /* Кнопка-4 "Редактирования" */
    /* Кнопка-5 "Редактирования" */
    /************************************************************/
    /* Ответственный блок */
    /* Заголовок Ответственный */
}
.wrapper-personal-area-exhibitor .small-block {
    display: block;
    float: left;
    width: 400px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding-bottom: 63px;
}
.wrapper-personal-area-exhibitor .panel-container {
    margin-left: 0;
}
.wrapper-personal-area-exhibitor .left-column {
    float: left;
    display: block;
    position: relative;
    width: 615px;
}
.wrapper-personal-area-exhibitor .right-column {
    float: left;
    display: block;
    position: relative;
    width: 300px;
    padding-left: 20px;
}
.wrapper-personal-area-exhibitor .hr-580 {
    width: 580px;
    border: 0;
    height: 1px;
    background-color: #d2d2d2;
    margin: 14px 0 0 20px;
}
.wrapper-personal-area-exhibitor .hr-260 {
    width: 260px;
    border: 0;
    height: 1px;
    background-color: #d2d2d2;
    margin: 14px 0 0 20px;
}
.wrapper-personal-area-exhibitor .title {
    font-family: MyriadPro-Light;
    color: #505055;
    font-size: 34px;
    letter-spacing: 0.02em;
    margin: 11px 0 38px 0;
}
.wrapper-personal-area-exhibitor .tasks-block {
    float: left;
    border-radius: 3px;
    background-color: #f0f0f0;
    width: 615px;
    padding-bottom: 20px;
}
.wrapper-personal-area-exhibitor .tasks-header {
    font-family: MyriadPro-Bold;
    color: #505055;
    letter-spacing: 0.01px;
    text-align: left;
    text-transform: uppercase;
    margin: 17px 0 0 20px;
}
.wrapper-personal-area-exhibitor .list-block {
    list-style-type: none;
    font-family: MyriadPro-Light;
    color: #505055;
    font-size: 15px;
    letter-spacing: -0.01em;
    margin: 30px 30px 0 30px;
}
.wrapper-personal-area-exhibitor .list-block li {
    border-bottom: 1px solid #d2d2d2;
    display: block;
    float: left;
    width: 100%;
    padding: 8px 0;
    min-height: 37px;
}
.wrapper-personal-area-exhibitor .task-name {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 86%;
    white-space: nowrap;
    float: left;
}
.wrapper-personal-area-exhibitor .border-line-580 {
    width: 580px;
    margin: 5px 0 -4px -9px;
}
.wrapper-personal-area-exhibitor .date-tasks {
    font-family: MyriadPro-Light;
    color: #505055;
    font-size: 15px;
    letter-spacing: -0.01em;
    width: 14%;
    float: left;
    text-align: right;
}
.wrapper-personal-area-exhibitor .button-green-tasks {
    width: 140px;
    height: 24px;
    border: 0;
    color: #fff;
    font-size: 15px;
    text-align: center;
    background-color: #a0d468;
    border-radius: 3px;
    margin: 24px 0 0 459px;
}
.wrapper-personal-area-exhibitor .profile-block {
    float: left;
    border-radius: 3px;
    background-color: #f0f0f0;
    width: 300px;
    position: relative;
}
.wrapper-personal-area-exhibitor .profile-header {
    font-family: MyriadPro-Bold;
    color: #505055;
    letter-spacing: 0.01px;
    text-align: left;
    text-transform: uppercase;
    margin: 17px 0 0 20px;
}
.wrapper-personal-area-exhibitor .border-line-260 {
    width: 260px;
    border-bottom: 1px solid #d2d2d2;
    margin: 5px 0 -4px -9px;
}
.wrapper-personal-area-exhibitor .value-block {
    position: absolute;
    font-family: MyriadPro-Light;
    color: #505055;
    font-size: 15px;
    letter-spacing: -0.01em;
    margin: -21px 0 0 110px;
}
.wrapper-personal-area-exhibitor .font-size {
    font-size: 9px;
}
.wrapper-personal-area-exhibitor .button-green-profile {
    width: 140px;
    height: 24px;
    border: 0;
    color: #fff;
    font-size: 15px;
    text-align: center;
    background-color: #a0d468;
    border-radius: 3px;
    position: absolute;
    margin: 0;
    bottom: 20px;
    right: 20px;
}
.wrapper-personal-area-exhibitor .proposal-block {
    float: left;
    border-radius: 3px;
    background-color: #f0f0f0;
    width: 615px;
    margin-top: 20px;
    padding-bottom: 20px;
}
.wrapper-personal-area-exhibitor .proposal-header {
    font-family: MyriadPro-Bold;
    color: #505055;
    letter-spacing: 0.01px;
    text-align: left;
    text-transform: uppercase;
    margin: 17px 0 0 20px;
}
.wrapper-personal-area-exhibitor .title-proposal-block {
    width: 580px;
    list-style-type: none;
    cursor: pointer;
    font-family: MyriadPro-Light;
    color: #505055;
    font-size: 15px;
    letter-spacing: -0.01em;
    margin: 19px 0 0 20px;
}
.wrapper-personal-area-exhibitor .title-proposal-block li {
    border-bottom: 1px solid #d2d2d2;
    min-height: 36px;
    height: auto;
    display: block;
    float: left;
    width: 100%;
}
.wrapper-personal-area-exhibitor .title-proposal-block li:hover a {
    display: block;
}
.wrapper-personal-area-exhibitor .title-proposal-block li:hover {
    background-color: #e1e1e1;
}
.wrapper-personal-area-exhibitor .proposal-name {
    display: block;
    float: left;
    padding: 8px;
    width: 80%;
}
.wrapper-personal-area-exhibitor .date-proposal {
    position: absolute;
    font-family: MyriadPro-Light;
    color: #505055;
    font-size: 15px;
    letter-spacing: -0.01em;
    margin: -21px 0 0 289px;
}
.wrapper-personal-area-exhibitor .button-green-proposal {
    width: 140px;
    height: 24px;
    border: 0;
    color: #fff;
    font-size: 15px;
    text-align: center;
    background-color: #a0d468;
    border-radius: 3px;
    margin: 21px 0 0 460px;
}
.wrapper-personal-area-exhibitor .button-blue-proposal {
    width: 24px;
    height: 24px;
    border: 0;
    color: #fff;
    font-size: 15px;
    text-align: left;
    letter-spacing: 0.15px;
    background-color: #43ade3;
    border-radius: 3px;
    padding: 4px 8px !important;
}
.wrapper-personal-area-exhibitor .button-orange-proposal-1 {
    width: 24px;
    height: 22px;
    border: 0;
    color: #fff;
    font-size: 15px;
    text-align: left;
    background-color: #f08c00;
    border-radius: 3px;
    padding: 4px 8px !important;
}

.b-button:hover {
    background: #5f8a31 !important;
    color: #fff !important;
}

.wrapper-personal-area-exhibitor .button-orange-proposal-2 {
    position: absolute;
    width: 110px;
    height: 24px;
    border: 0;
    color: #fff;
    font-size: 15px;
    text-align: left;
    background-color: #f08c00;
    border-radius: 3px;
    margin: -4px 0 0 355px;
    padding: 4px 8px !important;
}
.wrapper-personal-area-exhibitor .button-orange-proposal-3 {
    position: absolute;
    width: 110px;
    height: 24px;
    border: 0;
    color: #fff;
    font-size: 15px;
    text-align: left;
    background-color: #f08c00;
    border-radius: 3px;
    margin: -4px 0 0 355px;
    padding: 4px 8px !important;
}
.wrapper-personal-area-exhibitor .button-orange-edit-proposal-1 {
    width: 24px;
    height: 24px;
    border: 0;
    display: none;
    color: #fff;
    font-size: 15px;
    background: #f08c00 url("../img/workspace/edit.png") 4px 4px no-repeat;
    border-radius: 3px;
    float: right;
    margin: 5px 5px 0 0;
}
.wrapper-personal-area-exhibitor .button-orange-edit-proposal-2 {
    position: absolute;
    width: 24px;
    height: 24px;
    border: 0;
    color: #fff;
    font-size: 15px;
    background: #f08c00 url("../img/workspace/edit.png") 4px 4px no-repeat;
    border-radius: 3px;
    margin: -4px 0 0 434px;
}
.wrapper-personal-area-exhibitor .button-orange-edit-proposal-3 {
    position: absolute;
    width: 24px;
    height: 24px;
    border: 0;
    color: #fff;
    font-size: 15px;
    background: #f08c00 url("../img/workspace/edit.png") 4px 4px no-repeat;
    border-radius: 3px;
    margin: -4px 0 0 471px;
}
.wrapper-personal-area-exhibitor .button-orange-edit-proposal-4 {
    position: absolute;
    width: 24px;
    height: 24px;
    border: 0;
    color: #fff;
    font-size: 15px;
    background: #f08c00 url("../img/workspace/edit.png") 4px 4px no-repeat;
    border-radius: 3px;
    margin: -4px 0 0 471px;
}
.wrapper-personal-area-exhibitor .button-orange-edit-proposal-5 {
    position: absolute;
    width: 24px;
    height: 24px;
    border: 0;
    color: #fff;
    font-size: 15px;
    background: #f08c00 url("../img/workspace/edit.png") 4px 4px no-repeat;
    border-radius: 3px;
    margin: -4px 0 0 471px;
}
.wrapper-personal-area-exhibitor .responsible-block {
    position: relative;
    float: left;
    border-radius: 3px;
    background-color: #f0f0f0;
    width: 300px;
}
.wrapper-personal-area-exhibitor .responsible-header {
    font-family: MyriadPro-Bold;
    color: #505055;
    letter-spacing: 0.01px;
    text-align: left;
    text-transform: uppercase;
    margin: 17px 0 0 20px;
}
.wrapper-personal-area-exhibitor .title-responsible-block {
    width: 260px;
    list-style-type: none;
    cursor: pointer;
    font-family: MyriadPro-Light;
    color: #505055;
    font-size: 15px;
    letter-spacing: -0.01em;
    margin: 0 20px;
}
.wrapper-personal-area-exhibitor .title-responsible-block li {
    border-bottom: 1px solid #d2d2d2;
    padding: 12px 0 8px 10px;
    min-height: 60px;
    display: block;
    float: left;
    width: 100%;
}
.wrapper-personal-area-exhibitor .title-responsible-block li:first-child {
    border-top: 1px solid #d2d2d2;
    margin-top: 15px;
}
.wrapper-personal-area-exhibitor .title-responsible-block li:hover {
    background-color: #e1e1e1;
}
.wrapper-personal-area-exhibitor .avatar {
    height: 36px;
    width: 36px;
    float: left;
    background: url("../img/user/no-avatar.png") no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50px;
    margin-right: 10px;
}
.wrapper-personal-area-exhibitor .icon-phone {
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 3px;
    background: #43ade3 url("../img/workspace/phone.png") 4px 4px no-repeat;
    margin: -28px 0 0 0;
    top: 28px;
    display: none;
}
.wrapper-personal-area-exhibitor .icon-email {
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 3px;
    background: #43ade3 url("../img/workspace/email.png") 4px 6px no-repeat;
    margin: 0 0 0 0;
    top: 29px;
    display: none;
}
.wrapper-personal-area-exhibitor li:hover .icon-phone, .wrapper-personal-area-exhibitor li:hover .icon-email {
    display: block;
}
.wrapper-personal-area-exhibitor .description {
    margin-left: 46px;
}
.wrapper-personal-area-exhibitor .position {
    text-transform: uppercase;
    color: #afafaf;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}