.list-auto-complete {
	margin: 0 10px 5px 0;
	position: relative;
	display: inline-block;
	width: 100%;
}

.list-auto-complete .controls {
	position: relative;
}

.list-auto-complete__drop-button {
	text-align: left;
	background-color: #EFEFEF;
	padding: 10px 0 10px 19px;
	margin: 0 !important;
	cursor: pointer;
	position: relative;
	font-size: 16px;
	letter-spacing: 0;
}
.list-auto-complete__drop-button.d-bg-bordered {
	padding: 9px 0 9px 20px;
}

.list-auto-complete__match-input {
	padding: 10px;
	position: relative;
}

.list-auto-complete__match-input {
	padding: 10px;
	position: relative;
}

.list-auto-complete__match-input > input[type=text] {
	display: block;
	height: 40px;
	width: 100%;
	padding-left: 40px !important;
}

.list-auto-complete__match-input:before {
	content: '';
	display: block;
	position: absolute;
	top: 19px;
	left: 18px;
	width: 21px;
	height: 21px;
	background: url('../../img/sprites/icon-sprites-white-21px.png') 0 -148px no-repeat;
}

.list-auto-complete__drop-button:after {
	content: '';
	display: block;
	position: absolute;
	top: 43%;
	right: 15px;
	width: 9px;
	height: 6px;
	overflow: hidden;
	background: url('../../img/dropdown/caret-black.png') no-repeat;
}

.list-auto-complete .drop-list {
	display: none;
	position: absolute !important;
	margin: 10px 0 0 0 !important;
	padding: 0;
	z-index: 1;
	max-height: 300px;
	overflow: auto;
	background: #ffffff;
	border: rgb(210, 210, 212) 1px solid;
}

.list-auto-complete__match-input input[type=text]{
	margin: 0 !important;
	line-height: normal;
 }

.active.list-auto-complete .drop-list {
	display: block;
}

.list-auto-complete.active .list-auto-complete__drop-button:before {
	display: block;
	position: absolute;
	left: 17px;
	top: 43px;
	overflow: auto;
	content: '';
	z-index: 2;
	background: url('../../img/dropdown/mark.png');
	width: 14px;
	height: 8px;
}

.list-auto-complete .drop-list__item {
	font-size: 16px;
	position: relative;
	display: block;
	margin: 0;
	padding: 3px 0 3px 0;
	cursor: pointer;
}

.list-auto-complete--single .hidden-checkbox input[type=checkbox] {
	display: none;
}

.list-auto-complete--single .drop-list__item--selected {
	background-color: #f0f0f0 !important;
}

.js-drop-list__item--separator {
	border-bottom: 1px solid #000000;
}

.list-auto-complete .drop-list [type=checkbox]:before {
	left: 10px;
}

.js-drop-list__item--empty {
	padding: 20px;
	text-align: center;
	display: none;
}

.list-auto-complete .controls label.checkbox:before {
	top: 5px;
	left: 20px;
}

.list-auto-complete.input--mini span.drop-list {
	margin: 17px 0 0 0;
}

.list-auto-complete.input--bg-grey div.control-group input[type=text]::-webkit-input-placeholder {
	color: #000;
}

.list-auto-complete.input--bg-grey div.control-group input[type=text]::-moz-placeholder {
	color: #000;
    opacity: 100;
}

.list-auto-complete.input--bg-grey div.control-group input[type=text]:-ms-input-placeholder {
	color: #000;
}

.list-auto-complete.input--bg-grey div.control-group input[type=text] {
	background: #b8b8b8;
}

.list-auto-complete.input--bg-grey div.control-group .control-label {
	background: #b8b8b8;
}

.list-auto-complete__main-list{
	margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
}

.list-auto-complete__main-list label.drop-list__item.checkbox{
	padding-left: 40px !important;
	padding-right: 20px !important;
}

.list-auto-complete__main-list label.drop-list__item{
	padding-left: 20px !important;
	line-height: 18px;
}

#Fair_pageSize_list-auto-complete .drop-list,
#Fair_pageSize_list-auto-complete .slimScrollDiv {
	height: 220px !important;
	max-height: 220px !important;
}

#Fair_pageSize_list-auto-complete .list-auto-complete__main-list {
	height: 192px !important;
	max-height: 192px !important;
}

#Fair_fields_list-auto-complete .drop-list,
#Fair_fields_list-auto-complete .slimScrollDiv {
	height: 500px !important;
	max-height: 500px !important;
}

#Fair_fields_list-auto-complete .list-auto-complete__main-list {
	height: 470px !important;
	max-height: 470px !important;
}

.fieldOrganizerId .slimScrollDiv {
	max-height: none !important;
}

.fieldOrganizerId .list-auto-complete__main-list {
	max-height: 200px !important;
}

#Fair_organizerId {
	overflow: hidden;
}