@-o-keyframes progress-bar-stripes{from{background-position:40px 0}to{background-position:0 0}}
@keyframes progress-bar-stripes{from{background-position:40px 0}to{background-position:0 0}}
html body .custom_progress_bar .progress{
    height:20px;
    -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
    background-color:#e6e6e6 ;
    overflow: hidden;
    clear:both;
    margin-bottom:0px;
    border-radius:0;
    box-shadow:none;
    background-color:#e1e1e1;
    background-color: #e1e1e1;
    background-image: -moz-linear-gradient(top, #e1e1e1, #e1e1e1);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e1e1e1), to(#e1e1e1));
    background-image: -webkit-linear-gradient(top, #e1e1e1, #e1e1e1);
    background-image: -o-linear-gradient(top, #e1e1e1, #e1e1e1);
    background-image: linear-gradient(to bottom, #e1e1e1, #e1e1e1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e1e1', endColorstr='#e1e1e1', GradientType=0);
}
html body .custom_progress_bar .progress{
}
html body .custom_progress_bar .progress-bar{
    float:left;width:0;height:100%;font-size:12px;line-height:20px;color:#fff;text-align:center;background-color:#337ab7;
    -webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);-webkit-transition:width .6s ease;
    -o-transition:width .6s ease;transition:width .6s ease
}



html body .custom_progress_bar .progress-bar-striped,.progress-striped .progress-bar{
    /*background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.31) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);*/
    /*background-image:-o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);*/
    /*background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.35) 25%,transparent 25%,transparent 50%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0.35) 75%,transparent 75%,transparent);*/
    -webkit-background-size:7px 7px;background-size:6px 6px;

    background-image:-webkit-repeating-linear-gradient(55deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.35) 2px, rgba(255, 255, 255, 0) 2px, rgba(255, 255, 255, 0) 6px);
    background-image:-o-repeating-linear-gradient(55deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.35) 2px, rgba(255, 255, 255, 0) 2px, rgba(255, 255, 255, 0) 6px);
    background: repeating-linear-gradient(55deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.35) 2px, rgba(255, 255, 255, 0) 2px, rgba(255, 255, 255, 0) 6px);
}





html body .custom_progress_bar .progress-bar.active,.progress.active .progress-bar{
    -webkit-animation:progress-bar-stripes 2s linear infinite;
    -o-animation:progress-bar-stripes 2s linear infinite;
    animation:progress-bar-stripes 2s linear infinite
}
html body .custom_progress_bar .progress-bar-success{background-color:#5cb85c}
html body .custom_progress_bar .progress-striped .progress-bar-success{
    background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image:-o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)}

html body .custom_progress_bar .progress-bar-info{background-color:#5bc0de}
html body .custom_progress_bar .progress-striped .progress-bar-info{
    background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image:-o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)}
html body .custom_progress_bar .progress-bar-warning{background-color:#f0ad4e}
html body .custom_progress_bar .progress-striped .progress-bar-warning{
    background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image:-o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)}
html body .custom_progress_bar .progress-bar-danger{background-color:#d9534f}
html body .custom_progress_bar .progress-striped .progress-bar-danger{
    background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image:-o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
}
html body .custom_progress_bar .progress .progress-bar{font-size:9px;line-height:12px;box-shadow:none;}
html body .custom_progress_bar .progress-light-base{background-color:#fff}
html body .custom_progress_bar .progress-dark-base{background-color:rgba(255,255,255,0.2)}
html body .custom_progress_bar .progress-xl{height:30px;margin-bottom:0px}
html body .custom_progress_bar .progress-xl .progress-bar{font-size:12px;line-height:30px}
html body .custom_progress_bar .progress-lg{height:12px;margin-bottom:0px}
html body .custom_progress_bar .progress-lg .progress-bar{font-size:12px;line-height:20px}
html body .custom_progress_bar .progress-md{height:6px;margin-top:6px;}
html body .custom_progress_bar .progress-md .progress-bar{font-size:5px;line-height:8px}
html body .custom_progress_bar .progress-sm{height:3px;margin-bottom:0px}
html body .custom_progress_bar .progress-sm .progress-bar{font-size:0;line-height:4px}
html body .custom_progress_bar .progress-xs{height:2px;margin-bottom:0px}
html body .custom_progress_bar .progress-xs .progress-bar{font-size:0;line-height:2px}
html body .custom_progress_bar .progress-bar-light{background-color:#fff}
html body .custom_progress_bar .progress-bar-primary{background-color:#5fa2dd}
/*html body .custom_progress_bar .progress-bar-green{background-color:#9cc96b}*/
html body .custom_progress_bar .progress-bar-info{background-color:#4ebcda}
html body .custom_progress_bar .progress-bar-success{background-color:#9cc96b}
html body .custom_progress_bar .progress-bar-warning{background-color:#ebaa4b}
/*html body .custom_progress_bar .progress-bar-orange{background-color:#f6a800;}*/
html body .custom_progress_bar .progress-bar-danger{background-color:#f76c51}
/*html body .custom_progress_bar .progress-bar-red{background-color:#e9523c}*/
html body .custom_progress_bar .progress-bar-mint{background-color:#50c7a7}
html body .custom_progress_bar .progress-bar-purple{background-color:#986291}
html body .custom_progress_bar .progress-bar-pink{background-color:#e17ca7}
html body .custom_progress_bar .progress-bar-dark{background-color:#3b4146}
html body .custom_progress_bar .progress .progress-bar{font-size:9px;line-height:12px;box-shadow:none}
html body .custom_progress_bar  .progress .progress-bar{position:relative;}




html body .custom_progress_bar .progress-bar-green{background-color:#a0d468}
html body .custom_progress_bar .progress-bar-ligh-green{background-color:#4ec882}
html body .custom_progress_bar .progress-bar-red{background-color:#fa694c}
html body .custom_progress_bar .progress-bar-blue{background-color:#43ade3}
html body .custom_progress_bar .progress-bar-azure{background-color:#2b98d5}
html body .custom_progress_bar .progress-bar-light-azure{background-color:#42c0b4}
html body .custom_progress_bar .progress-bar-orange{background-color:#f6a800}


.custom_progress_bar{
    height:74px;
    margin:20px;
}
.custom_progress_bar .panel-title {
    font-size: 16px;
    line-height: 16px;
    height: 28px;
    text-align: left;
    margin-bottom: 0px !important;
    margin-top: 0px;
    padding-top: 0px !important;
    width: 100%;
}
.custom_progress_bar .panel-title.line_layout{
    height:32px;
    padding-bottom:6px;
    vertical-align: bottom;
}

.custom_progress_bar .stat-info{
    position:relative;
}
.custom_progress_bar .stat-info .value{
    float:left;
    padding-top: 0px !important;
    margin-bottom:0px !important;
    display:block;
    font-size:16px;
    line-height:16px;
    padding-bottom: 6px;
}
.custom_progress_bar .stat-info .first_value div{
    margin-top:4px;
}
.custom_progress_bar .stat-info .second_value div{
    margin-top:4px;
}
.custom_progress_bar .stat-info .first_value{
    float:left;
    padding-top: 0px !important;
    margin-bottom:0px !important;
    display:block;
    font-size:14px;
    line-height:14px;
    text-align: left;
}
.custom_progress_bar .stat-info .value .digit{
    font-size:24px;
    line-height:24px;
    margin-bottom:6px;
}
.custom_progress_bar .stat-info .first_value .digit{
    font-size:24px;
    line-height:16px;
    margin-bottom:7px;
}
.custom_progress_bar .stat-info .second_value .digit{
    font-size:24px;
    line-height:16px;
    margin-bottom:7px;
}
.custom_progress_bar .stat-info .second_value .digit span{
    font-size:16px;
    line-height:16px;
}
.custom_progress_bar .stat-info .first_value .digit span{
    font-size:16px;
    line-height:16px;
}
.custom_progress_bar .stat-info .second_value{
    float:right;
    padding-top: 0px !important;
    margin-bottom:0px !important;
    display:block;
    font-size:14px;
    line-height:14px;
    text-align: right;
}
.custom_progress_bar .stat-info .rating-place{
    float: right;
    padding: 7px 0px 3px 0px;
    background: rgba(0, 0, 0, 0.3);
    display: inline-block;
    color: white !important;
    text-align: center;
    width: 20px;
    margin-top: 4px;
    line-height: 10px;
}
.custom_progress_bar .stat-info .rating-icon{
    background: url("img/rating_number.png") no-repeat 0px 0px;
    width: 12px;
    height: 12px;
    float: right;
    margin-top: 9px;
    margin-right: 5px;
}

.progress .progress-bar:nth-child(2){
    float:right;
}

.grid-view .custom_progress_bar .panel-title table tr td,.grid-view .custom_progress_bar .pie-header table tr td{
    padding:0px;
    text-align:left;
    border:none;
}

.simple-progress{
    height:auto;
    margin:0px;
}
.simple-progress{

}
html body .custom_progress_bar.simple-progress .progress-md{
    margin:0px;
}
html body .custom_progress_bar.simple-progress .progress-md {

}
.simple-line-table{
    display: table;
    width:100%;
}
.simple-line-table .custom_progress_bar.simple-progress{
    display:table-row;
}
.simple-line-table .custom_progress_bar.simple-progress .progress-container{
    display:table-cell;
    min-width:100px;
}
.simple-line-table .custom_progress_bar.simple-progress .value{
    display:table-cell;
}
.custom_progress_bar .stat-info .value .digit .lock{
    font-size:20px;
}