.text {
  display: inline-block;
  float: left;

  &_muted {
    color: #d2d2d2;
  }

  &_danger {
    color: #f76c4b;
  }

  &_primary {
    color: #44ade4;
  }

  &_success {
    color: #a0d46f;
  }

  &_warning {
    color: #f76c4b;
  }
}