.profile-questionnaire label.checkbox, .profile-questionnaire label.checkbox:first-child,
.profile-questionnaire .control-group {
	margin-bottom: 0;
	padding-top: 0;
}

label.checkbox:before {
	top: 3px !important;
}

.profile-questionnaire__content {
	width: 940px;
}

.profile-questionnaire__content img {
	height: 100px;
}

.profile-questionnaire div.control-group {
	height: 14px;
	margin-bottom: 5px;
}

.profile-questionnaire input[type=text] {
	display: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	-web-kit-border-radius: 0;
	margin-bottom: 0;
	width: 94%;
}

.profile-questionnaire input[type=text].active {
	display: block;
}

.profile-questionnaire table {
	width: 100%;
	border-collapse: collapse;
}

.profile-questionnaire > div {
	float: left;
	width: 460px;
}

.profile-questionnaire > div:first-child {
	margin-right: 20px;
}

.profile-questionnaire:after {
	content: '';
	display: block;
	clear: both;
}

.profile-questionnaire__header {
	margin-top: 30px;
	height: 35px;
}

.profile-questionnaire__header--center {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

.profile-questionnaire table th, .profile-questionnaire table td {
	border: 1px solid #d1d1d1;
	min-width: 200px;
	padding: 4px;
	vertical-align: top;
}

.profile-questionnaire table td > div:first-child {
	padding-bottom: 2px;
}

.profile-questionnaire table th {
	background: #efefef;
}

.profile-questionnaire__description {
	margin-bottom: 50px;
}

.profile-questionnaire__header-settings {
	background: #e74c3d;
	position: relative;
	margin-bottom: 10px;
}

.profile-questionnaire__upload_logo {
	text-align: center;
	background: #fafdff;
	margin: 20px;
	display: inline-block;
}

.profile-questionnaire__upload_logo > span {
	display: block;
	margin-top: 30px;
	margin-bottom: 20px;
	letter-spacing: 3px;
	color: #d0d0d0;
}

.profile-questionnaire__upload_logo .styled-upload-button__file-name {
	position: absolute;
	bottom: 0;
	left: 20px;
	color: #ffffff;
}

.profile-questionnaire__upload_logo button.btn {
	width: 140px;
}

.profile-questionnaire__colors {
	width: 275px;
	border: 1px solid #d1d1d1;
	padding: 11px;
}

.profile-questionnaire__colors-label {
	display: inline-block;
}

.profile-questionnaire__colors-checkboxes {
	display: flex;
	float: right;
	padding-top: 3px;
}

.profile-questionnaire__colors-checkboxes .styled-checkbox-colored {
	margin-left: 3px;
}

.styled-uploader__main-hidden-input {
	display: none;
	visibility: hidden;
}
