label.checkbox {
	position: relative;
	margin-bottom: 0;
	font-size: 16px;
	line-height: 24px;
}

label.checkbox:before {
	position: absolute;
	top: 10px;
	left: 0;
	content: '';
	height: 14px;
	width: 14px;
	display: block;
	background: url('../../img/checkbox/checkbox-sprite.png') 0 -24px no-repeat;
}

label.checkbox.checked:before {
	background: url('../../img/checkbox/checkbox-sprite.png') 0 0 no-repeat;
}

label.checkbox.checked.disabled:before {
	background: url('../../img/checkbox/checkbox-sprite.png') 0 0 no-repeat;
	opacity: 0.5;
}

label.checkbox.checked:not(.styled-checkbox-colored):before {
	background-color: #4f4f51;
}

label.checkbox.disabled:before {
	background: url('../../img/checkbox/checkbox-sprite.png') 0 -48px no-repeat;
}

label.checkbox [type=checkbox], label.checkbox [type=radio] {
	width: 0;
	height: 0;
	opacity: 0;
}

label.checkbox.styled-checkbox-colored:before {
	height: 14px;
	width: 14px;
	border: none !important;
}

label.checkbox.checked.styled-checkbox-colored:before {
	background-image: url('../../img/checkbox/check.png') !important;
}

.controls textarea,
.controls input[type=text],
.controls input[type=search],
.controls input[type=date],
.controls input[type=tel],
.controls input[type=email],
.controls input[type=password] {
	border: none;
	border-radius: 0;
	-o-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	margin: 10px 0 5px 0;
	padding: 0 9px;
	height: 40px;
	line-height: 22px;
	box-shadow: none;
	font-size: 16px;
}


.controls input::-webkit-input-placeholder,
.controls textarea::-webkit-input-placeholder {
	line-height: 22px !important;
}

.controls input:-ms-input-placeholder,
.controls textarea:-ms-input-placeholder {
	line-height: 22px !important;
}

.controls textarea {
	padding: 9px 15px;
	min-height: 120px;
}

.form-horizontal .control-group {
	margin-bottom: 0;
}

.form-horizontal .control-group {
	margin-bottom: 0;
}

.form-horizontal .controls {
	margin-left: 250px;
}

@media (max-width: 650px) {
	.form-horizontal .controls {
		margin-left: 0 !important;
	}
}

@media (max-width: 650px) {
	.form-horizontal .control-label {
		float: none !important;
		text-align: left !important;
	}

	.form-horizontal .controls {
		margin-top: -10px !important;
	}
}

.form-horizontal .controls, .form-vertical .controls {
	position: relative;
}

.form-horizontal label.control-label {
	padding-top: 20px !important;
	font-size: 16px;
	width: 230px;
}

.form-vertical label.control-label {
	margin-bottom: -5px;
}

.form-vertical textarea + .b-input-icon {
	top: 0 !important;
}

.form-horizontal .b-input-icon {
	top: 10px;
	right: -10px;
}

.b-input-icon {
	position: absolute;
	right: -10px;
	top: 10px;
	cursor: pointer;
	text-align: center;
}

.b-input-icon-blog {
	position: absolute;
	cursor: pointer;
	text-align: center;
}

.control-group .b-input-icon.d-bg-success {
	display: none;
	cursor: default;
}

.modal-content__ask-question .control-group .b-input-icon.d-bg-success {
	display: block;
	cursor: default !important;
}

.modal-content__ask-question .b-button.btn {
    margin: 15px 0 0 0 !important;
}

.control-group.success .b-input-icon.d-bg-success {
	display: block;
}

.control-group.error input[type=text],
.control-group.error input[type=password] {
	background: #fbc2b6 !important;
    box-shadow: none;
}

.control-group.success input[type=text],
.control-group.success input[type=password] {
    box-shadow: none;
}
































