/*
<div class="cell"><div class="cell__circle"></div>Отправлена<div class="cell_tooltip-wrapper"></div></div>
*/

.cell {
  display: table-cell;
  padding: 7px;
  vertical-align: top;
  max-width: 390px;
  position: relative;

  .text {
    margin-top: 1px;
  }
}

.cell_buttons {
  padding: 0 10px 0 0;
}

.cell__input {
  width: 100% !important;
}

.cell__file {
  float: left;
  font-family: "retinaicon-font" !important;
  color: #afafaf;
  margin: 1px 0 0 10px;
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: relative;
  font-size: 20px !important;
}

.cell__arrow {

}

.cell__circle {

}

.cell {
  .tooltipster {
    font-size: 20px !important;
  }
}