@import "../layout/layout";

.proposal-header {
  width: @label-width;
}

@media (min-width: 375px) {
  .proposal-header {
    width: 290px;
  }
}

@media (min-width: 425px) {
  .proposal-header {
    width: 340px;
  }
}

@media (min-width: 768px) {
  .proposal-header {
    width: 680px;
  }
}

@media (min-width: 1024px) {
  .proposal-header {
    width: 100%;
    float: left;

    &__logotype {
      width: @label-width;
      float: left;
    }

    &__fair-info {
      margin: 0 0 0 20px;
      width: @label-width;
      float: left;
    }

    &__exponent-info {
      width: ~'calc(100% - 230px)';
      float: left;
    }
  }
}