<div class="tabs">
    <div class="tabs__tab" ng-repeat="tab in params" ng-class="tab.link == '/' + url.split('/')[1] ? 'tabs__tab_active' : ''">
        <!--<a  ng-click="move(tab.link)">{{ tab.text }}</a>-->
        <a ng-href="{{ route(tab.link) }}">{{ tab.text }}<span class="tabs__counter" ng-if="tab.counter > 0">{{ tab.counter }}</span></a>
    </div>
</div>