<div class="tbl">
    <div class="tbl__header">
        <div ng-click="params.sort != 'ajax' ? sort(column.name) : $ctrl.sort(column.name)"
             ng-repeat="column in params.columns"
             class="cell">
            {{ column.text }}
            <span ng-if="column.sortable != false && column.name == params.orderBy"
                  class="tbl__sort">{{ reverse ? "" : "" }}</span>
        </div>
    </div>
    <div class="tbl__header">

        <div ng-repeat="column in params.columns" class="cell" ng-if="column.filter != undefined">
            <input type="text"
                   ng-if="column.filterType == undefined"
                   ng-model="column.filter"
                   ng-keypress="filterInput($event)"
                   class="cell__input" ng-value="column.filter">

            <select
                    ng-model="column.filter"
                    ng-change="filter()"
                    ng-if="column.filterType == 'select'"
                    style="width: 128px"
                    ng-options="item.name for item in column.filterItems track by item.id">
                <option value="">{{ t('SELECT') }}</option>
            </select>
        </div>
    </div>

    <div class="tbl__row" ng-repeat="row in params.rows" ng-class="row.classes.value">
        <div class="cell" ng-switch="cell.type" ng-repeat="cell in row" ng-style="cell.style">
            <div ng-if="cell.circle != undefined" ng-class="cell.circle" class="circle"></div>

            <div class="text" ng-switch-when="undefined" ng-class="cell.color != undefined ? cell.color : ''">
                {{ cell.value }}
            </div>

            <div ng-switch-when="html" ng-bind-html="cell.html"></div>

            <btn ng-switch-when="buttons"
                 ng-repeat="button in cell.value"
                 params="button">
            </btn>

            <ppselect ng-switch-when="select" params="cell"></ppselect>

            <tooltip  ng-if="cell.tooltip != undefined" tooltip="cell.tooltip"></tooltip>

            <div ng-switch-when="disable" style="display: none"></div>
        </div>
    </div>
</div>

<div class="pagination" ng-if="params.total > 1">
    <ul>
        <li ng-if="params.currentPage > 1"><a ng-click="page(params.currentPage - 1)">«</a></li>
        <li ng-if="params.currentPage - 2 >= 1"><a ng-click="page(params.currentPage - 2)">{{ params.currentPage - 2 }}</a></li>
        <li ng-if="params.currentPage - 1 >= 1"><a ng-click="page(params.currentPage - 1)">{{ params.currentPage - 1 }}</a></li>
        <li class="disabled"><a>{{ params.currentPage }}</a></li>
        <li ng-if="params.currentPage + 1 <= params.total"><a ng-click="page(params.currentPage + 1)">{{ params.currentPage + 1 }}</a></li>
        <li ng-if="params.currentPage + 2 <= params.total"><a ng-click="page(params.currentPage + 2)">{{ params.currentPage + 2 }}</a></li>
        <li ng-if="params.currentPage < params.total"><a ng-click="page(params.currentPage + 1)">»</a></li>
    </ul>
</div>
<div class="tbl__counter">{{ t('COUNT') }} - {{ params.count != undefined ? params.count : params.rows.length }}</div>