<div class="proposal-input proposal-input_unit">
    <label class="proposal-input__label" for="{{ params.id }}">{{ params.label }}</label>

    <input
            class="proposal-input__input"
            placeholder=""
            data-toggle-tooltip="attribute-<?=$row->id?>"
            ng-model="value"
            ng-change="go()"
            type="text"
            name="Attribute[attr-{{ params.id }}]"
            id="{{ params.id }}">
    <i class="proposal-input_unit__unit">
        <span></span>
    </i>
</div>

<script>
    var obj =
    {
        label: '',
        placeholder: '',
        tooltip: '',
        type: '',
        unitTitle: '',
        coefficients: [
            {
                value: 0,
                text: ''
            }
        ]
    }
</script>